footer.footer
  .footer__container
    a.footer__logo(href="/")
      img(src="./images/logo.svg" alt="footer logo")
    ul.footer__menu
      li 
        a(href="/") Компания
      li 
        a(href="/") Эксперты
      li 
        a(href="/") Как это работает
      li 
        a(href="/") Задать вопрос                      
    .footer__contacts
      a.footer__email(href="mailto:info@mira.hub") info@mira.hub
      a.footer__phone(href="tel:+380503814413") +38 050 381-44-13
      a.footer__place(href="/") 01001 м. Київ, вул. Хрещатик 27а, оф. 20, 21
    .footer__socials
      a.footer__fb(href="/")
      a.footer__youtube(href="/")
      a.footer__linkedin(href="/")
.sub-footer
  .sub-footer__container
    .sub-footer__reserved 2021 mira.hub | Все права защищены. Дизайн и разработка: 
      a.sub-footer__link(href="/") softblues.io
    .sub-footer__license Лицензия № 98487395483467587 от 26/08/1995