.footer {
  position: relative;
  background: #222222;

  a {
    color: $primary-white;
    font-size: 16px;
    line-height: 1.75;
    text-decoration: none;
  }

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px;

    @include desktop-medium {
      flex-wrap: wrap;
    }

    @include tablet {
      max-width: 280px;
      flex-direction: column;
    }    
  }

  &__logo {
    display: inline-block;
    width: 107px;

    img {
      width: 100%;
    }     
  }

  &__contacts {
    a {
      display: block;
      position: relative;
      padding: 0 0 0 22px;

      &::before {
        content: "";
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 0;
        width: 16px;
        height: 16px;
        margin: -8px 0 0 0;        
      }      
    }
  }

  &__email {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9882 3.44673C15.9882 3.42845 16.0008 3.41065 16 3.39258L11.1173 8.09727L15.9941 12.6517C15.997 12.6191 15.9882 12.5863 15.9882 12.5531V3.44673Z' fill='white'/%3E%3Cpath d='M10.3719 8.82129L8.37868 10.739C8.27782 10.8361 8.14755 10.8847 8.01721 10.8847C7.88958 10.8847 7.76196 10.8382 7.66179 10.7448L5.67397 8.89247L0.76532 13.6239C0.884675 13.6668 1.01279 13.7 1.14695 13.7H14.8875C15.0868 13.7 15.2736 13.6394 15.4361 13.5489L10.3719 8.82129Z' fill='white'/%3E%3Cpath d='M8.01151 9.64548L15.4631 2.4674C15.2944 2.36709 15.098 2.2998 14.8875 2.2998H1.14694C0.872852 2.2998 0.621698 2.40623 0.426086 2.56855L8.01151 9.64548Z' fill='white'/%3E%3Cpath d='M0 3.62158V12.553C0 12.6555 0.0235652 12.7544 0.0491463 12.8488L4.8969 8.18058L0 3.62158Z' fill='white'/%3E%3C/svg%3E");
    }
  }

  &__phone {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7368 10.5347C13.7499 10.5347 12.7832 10.3806 11.8669 10.0783C11.4198 9.92421 10.912 10.0429 10.6181 10.3427L8.80169 11.7145C6.71748 10.6021 5.38358 9.26906 4.28633 7.20001L5.62106 5.42653C5.95706 5.09053 6.07749 4.59873 5.93349 4.13811C5.62864 3.216 5.4737 2.24842 5.4737 1.26316C5.4737 0.566724 4.90698 0 4.21054 0H1.26316C0.566724 0 0 0.566724 0 1.26316C0 9.38863 6.61137 16 14.7368 16C15.4333 16 16 15.4333 16 14.7368V11.7979C16 11.1015 15.4333 10.5347 14.7368 10.5347Z' fill='white'/%3E%3C/svg%3E");     
    }
  }

  &__place {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C4.69141 0 2 2.69172 2 6C2 10.4264 7.53581 15.6875 7.7715 15.9095C7.83594 15.9697 7.91797 16 8 16C8.08203 16 8.16406 15.9697 8.22853 15.9095C8.46419 15.6875 14 10.4264 14 6C14 2.69172 11.3086 0 8 0ZM8 9.33334C6.16209 9.33334 4.66666 7.83791 4.66666 6C4.66666 4.16209 6.16213 2.66666 8 2.66666C9.83787 2.66666 11.3333 4.16213 11.3333 6C11.3333 7.83787 9.83791 9.33334 8 9.33334Z' fill='white'/%3E%3C/svg%3E");  
    }
  }

  &__socials {
    a {
      display: inline-block;
      margin: 0 20px 0 0;
      width: 48px;
      height: 48px;

      &:last-child {
        margin: 0;
      }
    }

    @include desktop-medium {
      text-align: center;
      width: 100%;
      margin: 40px 0 0 0;
    }
  }

  &__fb {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%232673FF'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M26.6646 18.6567H28.1253V16.1127C27.8733 16.078 27.0066 16 25.9973 16C23.8913 16 22.4486 17.3247 22.4486 19.7593V22H20.1246V24.844H22.4486V32H25.298V24.8447H27.528L27.882 22.0007H25.2973V20.0413C25.298 19.2193 25.5193 18.6567 26.6646 18.6567Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }

  &__youtube {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23FF0000'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M31.6703 20.1592C31.4859 19.4738 30.9455 18.9335 30.2602 18.7489C29.0081 18.4062 23.9998 18.4062 23.9998 18.4062C23.9998 18.4062 18.9917 18.4062 17.7396 18.7358C17.0675 18.9203 16.5139 19.4739 16.3295 20.1592C16 21.4111 16 24.0075 16 24.0075C16 24.0075 16 26.617 16.3295 27.8559C16.514 28.5412 17.0543 29.0816 17.7397 29.2662C19.0049 29.6088 24 29.6088 24 29.6088C24 29.6088 29.0081 29.6088 30.2602 29.2792C30.9456 29.0948 31.4859 28.5544 31.6705 27.8691C31.9999 26.617 31.9999 24.0207 31.9999 24.0207C31.9999 24.0207 32.0131 21.4111 31.6703 20.1592Z' fill='white'/%3E%3Cpath d='M22.4053 26.4062L26.5699 24.0076L22.4053 21.6089V26.4062Z' fill='%23FF0000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }

  &__linkedin {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%231151B8'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M31.996 32V31.9993H32V26.1313C32 23.2606 31.382 21.0493 28.026 21.0493C26.4126 21.0493 25.33 21.9346 24.888 22.774H24.8413V21.3173H21.6593V31.9993H24.9726V26.71C24.9726 25.3173 25.2366 23.9706 26.9613 23.9706C28.6606 23.9706 28.686 25.56 28.686 26.7993V32H31.996Z' fill='white'/%3E%3Cpath d='M16.264 21.3179H19.5814V31.9999H16.264V21.3179Z' fill='white'/%3E%3Cpath d='M17.9213 16C16.8607 16 16 16.8607 16 17.9213C16 18.982 16.8607 19.8607 17.9213 19.8607C18.982 19.8607 19.8427 18.982 19.8427 17.9213C19.842 16.8607 18.9813 16 17.9213 16V16Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
}

.sub-footer {
  background: #111111;
  padding: 20px 0;

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: $primary-white;

    @include desktop-medium {
      max-width: 100%;
      flex-direction: column;
    }
  }

  &__reserved {
    text-align: center;

    @include desktop-medium {
      margin: 0 0 24px;
    }    
  }

  &__link {
    color: $primary-green;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
  }

  &__license {
    text-align: center;
  }
}
