.main-page-banner {
  position: relative;
  background: url('/images/main-page-banner__bg.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  max-height: 900px;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 30px 0 40px;
  align-items: center;

  &__container {
    color: $color-primary-white;
    text-align: center;
    padding: 180px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include desktop-large {
      padding: 90px 0;
    }

    @include tablet {
      padding: 45px 0;
    }
  }

  &__title {
    max-width: 1000px;
    font-size: 60px;
    line-height: 1.2;
    margin: 0 0 40px;
    padding: 0 20px;

    @include desktop-large {
      font-size: 45px;
    }

    @include desktop-large {
      font-size: 36px;
    }

    @include tablet {
      font-size: 28px;
    }
  }

  &__description {
    max-width: 660px;
    font-size: 24px;
    line-height: 1.3;
    margin: 0 0 60px;
    padding: 0 20px;

    @include desktop-large {
      font-size: 18px;
    }

    @include tablet {
      margin: 0 0 28px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;

    &:first-child {
      margin-right: 40px;

      @include tablet {
        margin: 0 0 28px;
      }
    }

    @include tablet {
      padding: 16px 0;
      width: 100%;
      max-width: 320px;
    }
  }

  &__more {
    text-decoration: none;
    color: $color-primary-white;
    position: relative;
    font-size: 24px;
    line-height: 29px;
    padding: 0 0 0 34px;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12.5' r='12' fill='%238BB60B'/%3E%3Cpath d='M16.2281 11.9841L10.7912 8.12261C10.5917 7.98129 10.3268 7.96001 10.1081 8.06983C9.88767 8.1788 9.75 8.40013 9.75 8.63935V16.3598C9.75 16.6016 9.88767 16.8221 10.1081 16.931C10.2013 16.977 10.3033 17 10.4061 17C10.5403 17 10.6762 16.9583 10.7912 16.8757L16.2281 13.0176C16.3998 12.8942 16.5 12.7035 16.5 12.5009C16.5009 12.2948 16.3981 12.105 16.2281 11.9841Z' fill='white'/%3E%3C/svg%3E");
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      left: 0;
      top: 50%;
      margin-top: -12px;
    }

    @include desktop-large {
      font-size: 18px;
    }
  }
}
