.footer {
  position: relative;
  background: $text-ultra-silver;
  margin: 200px 0 0;

  @include desktop-medium {
    margin: 60px 0 0;
  }

  @include tablet {
    margin: 60px 0 0;
  }

  &__container {
    @include container;

    display: flex;
    justify-content: space-between;
    padding: 60px 20px;

    @include desktop-medium {
      flex-wrap: wrap;
    }

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      padding: 40px 27px;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    max-width: 204px;
  }

  &__legal {
    color: $color-secondary-grey;
    font-size: 10px;
    line-height: 16px;
    margin: 0 0 8px;
    text-transform: uppercase;

    @include mobile {
      margin: 0;
      font-size: 8px;
      line-height: 12px;
    }

    &:last-child {
      margin: 0;
    }

    a {
      font-size: 10px;
      line-height: 16px;    
      color: $color-secondary-grey;

      @include mobile {
        font-size: 8px;
        line-height: 12px;
      }      
    }
  }

  &__menu {
    width: 100%;
    max-width: 240px;

    @include tablet {
      margin: 0 0 20px;
    }    

    @include mobile {
      display: none;
    }
  }

  &__subtitle {
    margin: 0 0 20px;
  }

  &__link {
    color: $text-grey;
    display: block;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 8px;

    &:last-child {
      margin: 0;
    }
  }

  &__contacts {
    a {
      color: $text-grey;
      font-size: 14px;
      line-height: 28px;
      display: block;
      position: relative;
      padding: 0 0 0 26px;
      margin: 0 0 20px;

      @include mobile {
        font-size: 10px;
        line-height: 14px;
        margin: 0 0 10px;
        padding: 0 0 0 22px;
      }      

      &::before {
        content: "";
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 0;
        width: 16px;
        height: 16px;
        margin: -8px 0 0 0;

        @include mobile {
          width: 12px;
          height: 12px;
          margin: -6px 0 0 0;
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__phone {
    color: $text-black;
    font-size: 20px;
    line-height: 36px;
    display: block;
    position: relative;
    font-weight: 700;
    margin: 0 0 20px;

    @include mobile {
      margin: 0 0 10px;
      font-size: 16px;
      line-height: 28px;
    }
  }

  &__email {
    font-weight: 400;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9882 3.44771C15.9882 3.42942 16.0008 3.41163 16 3.39355L11.1173 8.09825L15.9941 12.6527C15.997 12.6201 15.9882 12.5873 15.9882 12.5541V3.44771Z' fill='%239E9DA3'/%3E%3Cpath d='M10.372 8.82227L8.37874 10.74C8.27788 10.8371 8.14761 10.8857 8.01727 10.8857C7.88965 10.8857 7.76202 10.8391 7.66185 10.7458L5.67403 8.89345L0.765381 13.6248C0.884736 13.6677 1.01285 13.701 1.14701 13.701H14.8876C15.0868 13.701 15.2737 13.6403 15.4361 13.5498L10.372 8.82227Z' fill='%239E9DA3'/%3E%3Cpath d='M8.01157 9.64645L15.4632 2.46838C15.2945 2.36807 15.0981 2.30078 14.8876 2.30078H1.14701C0.872913 2.30078 0.621759 2.40721 0.426147 2.56952L8.01157 9.64645Z' fill='%239E9DA3'/%3E%3Cpath d='M0 3.62256V12.554C0 12.6565 0.0235652 12.7554 0.0491463 12.8498L4.8969 8.18155L0 3.62256Z' fill='%239E9DA3'/%3E%3C/svg%3E");
    }
  }

  &__place {
    font-weight: 400;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M8 0.000976562C4.69141 0.000976562 2 2.6927 2 6.00098C2 10.4274 7.53581 15.6885 7.7715 15.9105C7.83594 15.9707 7.91797 16.001 8 16.001C8.08203 16.001 8.16406 15.9707 8.22853 15.9105C8.46419 15.6885 14 10.4274 14 6.00098C14 2.6927 11.3086 0.000976562 8 0.000976562ZM8 9.33432C6.16209 9.33432 4.66666 7.83888 4.66666 6.00098C4.66666 4.16307 6.16213 2.66763 8 2.66763C9.83787 2.66763 11.3333 4.1631 11.3333 6.00098C11.3333 7.83885 9.83791 9.33432 8 9.33432Z' fill='%239E9DA3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &__socials {
    @include desktop-medium {
      position: relative;
      text-align: left;
      width: 100%;
      margin: 40px 0;
      order: 1;
    }
    
    @include tablet {
      margin: 0 0 20px;
    }

    @include mobile {
      margin: 40px 0 0 0;
    }
  }

  &__socwrap {
    @include desktop-medium {
      margin: 0 0 20px;
    }

    @include tablet {
      margin: 0 0 20px;
    }

    @include mobile {
      margin: 0 !important;
      position: absolute;
      right: 27px;
      bottom: 40px;
    }  
  }

  &__social {
    display: inline-block;
    margin: 0 20px 0 0;
    width: 60px;
    height: 60px;
    background-size: cover;

    @include mobile {
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 0 20px;
    }

    &-fb {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%232673FF'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M26.6646 18.6567H28.1253V16.1127C27.8733 16.078 27.0066 16 25.9973 16C23.8913 16 22.4486 17.3247 22.4486 19.7593V22H20.1246V24.844H22.4486V32H25.298V24.8447H27.528L27.882 22.0007H25.2973V20.0413C25.298 19.2193 25.5193 18.6567 26.6646 18.6567Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &-youtube {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23FF0000'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M31.6703 20.1592C31.4859 19.4738 30.9455 18.9335 30.2602 18.7489C29.0081 18.4062 23.9998 18.4062 23.9998 18.4062C23.9998 18.4062 18.9917 18.4062 17.7396 18.7358C17.0675 18.9203 16.5139 19.4739 16.3295 20.1592C16 21.4111 16 24.0075 16 24.0075C16 24.0075 16 26.617 16.3295 27.8559C16.514 28.5412 17.0543 29.0816 17.7397 29.2662C19.0049 29.6088 24 29.6088 24 29.6088C24 29.6088 29.0081 29.6088 30.2602 29.2792C30.9456 29.0948 31.4859 28.5544 31.6705 27.8691C31.9999 26.617 31.9999 24.0207 31.9999 24.0207C31.9999 24.0207 32.0131 21.4111 31.6703 20.1592Z' fill='white'/%3E%3Cpath d='M22.4053 26.4062L26.5699 24.0076L22.4053 21.6089V26.4062Z' fill='%23FF0000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &-linkedin {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%231151B8'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M31.996 32V31.9993H32V26.1313C32 23.2606 31.382 21.0493 28.026 21.0493C26.4126 21.0493 25.33 21.9346 24.888 22.774H24.8413V21.3173H21.6593V31.9993H24.9726V26.71C24.9726 25.3173 25.2366 23.9706 26.9613 23.9706C28.6606 23.9706 28.686 25.56 28.686 26.7993V32H31.996Z' fill='white'/%3E%3Cpath d='M16.264 21.3179H19.5814V31.9999H16.264V21.3179Z' fill='white'/%3E%3Cpath d='M17.9213 16C16.8607 16 16 16.8607 16 17.9213C16 18.982 16.8607 19.8607 17.9213 19.8607C18.982 19.8607 19.8427 18.982 19.8427 17.9213C19.842 16.8607 18.9813 16 17.9213 16V16Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &:last-child {
      margin: 0;
    }
  }
}