.header {
  position: relative;
  width: 100%;
  padding: 30px 0;

  &__container {
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @include mobile {
      width: 128px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
    color: $text-black;
    text-decoration: none;
    margin: 0 40px 0 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;

    &:last-child {
      margin: 0;
    }

    @include desktop-medium {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__more {
    text-decoration: none;
    color: $color-secondary-2;
    position: relative;
    padding: 0 0 0 34px;
    font-weight: 600;
    font-size: 16px;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23ADDED4'/%3E%3Cpath d='M16.2281 11.4841L10.7912 7.62261C10.5917 7.48129 10.3268 7.46001 10.1081 7.56983C9.88767 7.6788 9.75 7.90013 9.75 8.13935V15.8598C9.75 16.1016 9.88767 16.3221 10.1081 16.431C10.2013 16.477 10.3033 16.5 10.4061 16.5C10.5403 16.5 10.6762 16.4583 10.7912 16.3757L16.2281 12.5176C16.3998 12.3942 16.5 12.2035 16.5 12.0009C16.5009 11.7948 16.3981 11.605 16.2281 11.4841Z' fill='%2335343A'/%3E%3C/svg%3E");
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      left: 0;
      top: 50%;
      margin-top: -12px;
    }   

    @include desktop-medium {
      display: none;
    }

    @include tablet {
      display: none;
    }  
  }
  
  &__burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 0;
    width: 24px;
    margin: 0 70px 0 0;

    div {
      height: 2px;
      background-color: $color-secondary-2;
      border-radius: 10px;
      margin: 0 0 4px;

      &:nth-child(2n) {
        width: 24px;
      }

      &:nth-child(2n+1) {
        width: 18px;
      }

      &:last-child {
        margin: 0;
      }
    }

    @include mobile {
      margin: 0;
    }
  }

  &__join {

    @include mobile {
      display: none;
    }

    &.hide {
      display: none;;
    }
  }
}

.header-user {
  &.hide {
    display: none;
  }
  
  &__imgwrap {
    position: relative;
    width: 64px;
  }

  &__avatar {
    display: block;
  }

  &__status {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 16px;
    height: 16px;
    border: 2px solid $text-white;
    border-radius: 8px;

    &--active {
      background-color: $color-pastel-7;
    }

    &--unactive {
      background-color: $color-pastel-12;
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 3;
    background: $text-white;
    border: 1px solid $color-pastel-7;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 49px 10px 18px;
    right: 0;
    top: 84px;
    box-shadow: 0 0 50px 0 rgba(37, 70, 72, 0.1);

    &::before {
      content: "";
      position: absolute;
      background-color: $text-white;;
      right: 22px;
      top: -8px;
      border-top: 1px solid $color-pastel-7;
      border-left: 1px solid $color-pastel-7;
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      z-index: 0;
    }

    &.hide {
      display: none;
    }    
  }

  &__item {
    margin: 0 0 20px;
    padding: 0 0 0 30px;
    position: relative;

    &:last-child {
      margin: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      margin-top: -8px;
      background-repeat: no-repeat;
    }

    &--message {
      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M19.8234 3.97348L13.7578 10L19.8234 16.0265C19.933 15.7973 19.9996 15.544 19.9996 15.2734V4.72657C19.9996 4.45598 19.933 4.20266 19.8234 3.97348Z' fill='%239E9DA3'/%3E%3Cpath d='M18.2433 2.96875H1.75895C1.48836 2.96875 1.23504 3.03527 1.00586 3.14492L8.75832 10.8583C9.44379 11.5438 10.5585 11.5438 11.2439 10.8583L18.9964 3.14492C18.7672 3.03527 18.5139 2.96875 18.2433 2.96875Z' fill='%239E9DA3'/%3E%3Cpath d='M0.176172 3.97348C0.0665234 4.20266 0 4.45598 0 4.72657V15.2734C0 15.544 0.0665234 15.7974 0.176172 16.0265L6.24176 10L0.176172 3.97348Z' fill='%239E9DA3'/%3E%3Cpath d='M12.9308 10.8286L12.0725 11.6869C10.9304 12.829 9.07188 12.829 7.92973 11.6869L7.07145 10.8286L1.00586 16.8551C1.23504 16.9647 1.48836 17.0312 1.75895 17.0312H18.2433C18.5139 17.0312 18.7672 16.9647 18.9964 16.8551L12.9308 10.8286Z' fill='%239E9DA3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }

    &--offer {
      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.14062 20H15.8594C16.8287 20 17.6172 19.2115 17.6172 18.2422V5.85938H13.5156C12.5463 5.85938 11.7578 5.07086 11.7578 4.10156V0H4.14062C3.17133 0 2.38281 0.788516 2.38281 1.75781V18.2422C2.38281 19.2115 3.17133 20 4.14062 20ZM6.48438 8.24219H13.5156C13.8395 8.24219 14.1016 8.50426 14.1016 8.82812C14.1016 9.15199 13.8395 9.41406 13.5156 9.41406H6.48438C6.16051 9.41406 5.89844 9.15199 5.89844 8.82812C5.89844 8.50426 6.16051 8.24219 6.48438 8.24219ZM6.48438 10.5859H13.5156C13.8395 10.5859 14.1016 10.848 14.1016 11.1719C14.1016 11.4957 13.8395 11.7578 13.5156 11.7578H6.48438C6.16051 11.7578 5.89844 11.4957 5.89844 11.1719C5.89844 10.848 6.16051 10.5859 6.48438 10.5859ZM6.48438 12.9297H13.5156C13.8395 12.9297 14.1016 13.1918 14.1016 13.5156C14.1016 13.8395 13.8395 14.1016 13.5156 14.1016H6.48438C6.16051 14.1016 5.89844 13.8395 5.89844 13.5156C5.89844 13.1918 6.16051 12.9297 6.48438 12.9297ZM6.48438 15.2734H11.1719C11.4957 15.2734 11.7578 15.5355 11.7578 15.8594C11.7578 16.1832 11.4957 16.4453 11.1719 16.4453H6.48438C6.16051 16.4453 5.89844 16.1832 5.89844 15.8594C5.89844 15.5355 6.16051 15.2734 6.48438 15.2734Z' fill='%239E9DA3'/%3E%3Cpath d='M13.5156 4.6875H17.2739L12.9297 0.343323V4.10156C12.9297 4.42485 13.1923 4.6875 13.5156 4.6875Z' fill='%239E9DA3'/%3E%3C/svg%3E");
      }
    }

    &--workflow {
      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0655 9.58717C11.2959 9.46934 11.5526 9.40705 11.8189 9.40705C12.2602 9.40705 12.6751 9.57837 12.9878 9.8895L13.6611 9.21628C15.3273 9.80032 17.2544 9.42642 18.5863 8.09452C19.7071 6.97378 20.1491 5.4318 19.9131 3.97831C19.8871 3.81824 19.7738 3.68622 19.6195 3.63641C19.4653 3.58654 19.2959 3.62706 19.1813 3.74176L18.1816 4.74145C17.3675 5.55557 16.0474 5.55557 15.2333 4.74145C14.4192 3.92734 14.4192 2.60731 15.2333 1.7932L16.233 0.7935C16.3477 0.678806 16.3886 0.509461 16.3386 0.355126C16.2888 0.200723 16.1565 0.087667 15.9964 0.0616717C14.543 -0.174265 13.0009 0.267724 11.8803 1.38846C10.5285 2.74022 10.1647 4.70468 10.7864 6.38756L9.32617 7.8478L11.0655 9.58717Z' fill='%239E9DA3'/%3E%3Cpath d='M8.4044 12.2332L6.6724 10.5012L0.616018 16.5576C-0.171485 17.3451 -0.171485 18.6218 0.616018 19.4093C1.40352 20.1968 2.6803 20.1968 3.4678 19.4093L8.68878 14.1884C8.16218 13.659 8.06728 12.8598 8.4044 12.2332Z' fill='%239E9DA3'/%3E%3Cpath d='M12.2671 10.6163C12.1432 10.4924 11.9809 10.4305 11.8185 10.4305C11.6562 10.4305 11.4938 10.4924 11.37 10.6163L11.0085 10.9778L4.56815 4.5375L4.86918 4.23647C5.14346 3.96226 5.10941 3.50738 4.79678 3.27717L2.16914 1.34198C1.91662 1.15606 1.56619 1.18246 1.34445 1.40421L0.228761 2.51996C0.00701605 2.74171 -0.0193887 3.0922 0.166536 3.34465L2.10166 5.9723C2.33186 6.28486 2.78648 6.31924 3.06096 6.04469L3.36199 5.74359L9.80229 12.1839L9.4153 12.5709C9.16756 12.8186 9.16756 13.2202 9.4153 13.468L15.3566 19.4093C16.1441 20.1968 17.4209 20.1968 18.2084 19.4093C18.9959 18.6218 18.9959 17.345 18.2084 16.5575L12.2671 10.6163Z' fill='%239E9DA3'/%3E%3C/svg%3E");
      }
    }

    &--options {
      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4003 12.1917L17.562 10.7542C17.5853 10.5325 17.6053 10.2734 17.6053 9.99918C17.6053 9.725 17.5862 9.46586 17.562 9.24418L19.402 7.80586C19.7437 7.53586 19.837 7.05668 19.6195 6.65754L17.7078 3.35C17.5037 2.97668 17.0562 2.785 16.602 2.9525L14.4328 3.82332C14.017 3.52332 13.5812 3.27 13.1303 3.0675L12.8003 0.76668C12.7462 0.33 12.3662 0 11.917 0H8.0837C7.63452 0 7.25538 0.33 7.20202 0.76L6.8712 3.06918C6.43452 3.26586 6.00538 3.51586 5.5712 3.825L3.3962 2.95168C2.98866 2.79418 2.50116 2.97082 2.29866 3.3425L0.384521 6.65418C0.1587 7.03586 0.252021 7.53168 0.6012 7.80836L2.43952 9.24586C2.41034 9.52668 2.3962 9.77086 2.3962 10C2.3962 10.2292 2.41038 10.4734 2.43952 10.755L0.599521 12.1934C0.257841 12.4642 0.165341 12.9434 0.382841 13.3417L2.29452 16.6492C2.4987 17.0217 2.94202 17.215 3.40034 17.0467L5.56952 16.1759C5.98452 16.475 6.42034 16.7284 6.8712 16.9317L7.2012 19.2317C7.25534 19.67 7.63452 20 8.08452 20H11.9178C12.367 20 12.747 19.67 12.8003 19.24L13.1312 16.9317C13.5678 16.7342 13.9962 16.485 14.4312 16.175L16.6062 17.0483C16.7112 17.0891 16.8203 17.11 16.9328 17.11C17.2562 17.11 17.5537 16.9333 17.7037 16.6583L19.6237 13.3333C19.837 12.9433 19.7437 12.4642 19.4003 12.1917ZM10.0003 13.3333C8.16202 13.3333 6.66702 11.8383 6.66702 10C6.66702 8.16168 8.16202 6.66668 10.0003 6.66668C11.8387 6.66668 13.3337 8.16168 13.3337 10C13.3337 11.8383 11.8387 13.3333 10.0003 13.3333Z' fill='%239E9DA3'/%3E%3C/svg%3E");
      }
    }
  }  

  a {
    color: $text-black;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
  }  
}