.header {
  position: relative;
  width: 100%;
  padding: 30px 0;

  &__container {
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0 95px 0 0;

    @include mobile {
      margin: 0;
      width: 128px;
    }
  }

  &__link {
    color: $color-secondary-2;
    text-decoration: none;
    margin: 0 40px 0 0;
    font-weight: 600;
    font-size: 16px;

    &:last-child {
      margin: 0;
    }

    @include desktop-medium {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__more {
    text-decoration: none;
    color: $color-secondary-2;
    position: relative;
    padding: 0 0 0 34px;
    font-weight: 600;
    font-size: 16px;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23278FFF'/%3E%3Cpath d='M16.2281 11.4841L10.7912 7.62261C10.5917 7.48129 10.3268 7.46001 10.1081 7.56983C9.88767 7.6788 9.75 7.90013 9.75 8.13935V15.8598C9.75 16.1016 9.88767 16.3221 10.1081 16.431C10.2013 16.477 10.3033 16.5 10.4061 16.5C10.5403 16.5 10.6762 16.4583 10.7912 16.3757L16.2281 12.5176C16.3998 12.3942 16.5 12.2035 16.5 12.0009C16.5009 11.7948 16.3981 11.605 16.2281 11.4841Z' fill='white'/%3E%3C/svg%3E");
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      left: 0;
      top: 50%;
      margin-top: -12px;
    }   

    @include desktop-medium {
      display: none;
    }

    @include tablet {
      display: none;
    }  
  }
  
  &__burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 0;
    width: 28px;
    margin: 0 30px 0 0;

    div {
      height: 2px;
      background-color: $color-secondary-2;
      border-radius: 10px;
      margin: 0 0 4px;

      &:nth-child(2n) {
        width: 28px;
      }

      &:nth-child(2n+1) {
        width: 18px;
      }

      &:last-child {
        margin: 0;
      }
    }

    @include mobile {
      margin: 0;
    }
  }

  &__join {

    @include mobile {
      display: none;
    }
  }
}
