.page-title {
  padding: 50px 0 0;
  position: relative;

  @include desktop-medium {
    padding: 20px 0;
  }

  @include tablet {
    padding: 20px 0;
  }   

  &__container {
    @include container;
    position: relative;
  }

  h1 {
    color: $text-black;
    font-weight: bold;
    font-size: 48px;
    line-height: 80px;

    @include desktop-medium {
      font-size: 24px;
      line-height: 32px;
    }        

    @include tablet {
      font-size: 24px;
      line-height: 32px;
    }    
  }
}