.page-title {
  padding: 35px 0;

  @include mobile {
    padding: 20px 0;
  }   

  &__container {
    @include container;
  }

  h1 {
    color: $color-primary-white;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;

    @include mobile {
      font-size: 24px;
      line-height: 32px;
    }    
  }
}