.page-title {
  position: relative;
  margin: 0 0 40px;
  padding: 12px 0;
  background-color: $text-ultra-silver;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;

  @include desktop-medium {
    padding: 20px 0;
  }

  @include tablet {
    padding: 20px 0;
  }   

  &__container {
    @include container;
    position: relative;
  }

  h1 {
    color: $text-black;
    font-weight: bold;
    font-size: 48px;
    line-height: 80px;

    @include desktop-medium {
      font-size: 24px;
      line-height: 32px;
    }        

    @include tablet {
      font-size: 24px;
      line-height: 32px;
    }    
  }
}