@import "common/vars";
@import "common/mixins";
@import "common/fonts";
@import "common/reset";
@import "common/common";
@import 'components/components';
@import 'layouts/parts/header';
@import 'layouts/parts/footer';
@import 'layouts/parts/menu';
@import 'layouts/parts/page-title';
@import 'layouts/main-page';
@import 'layouts/search-page';
@import 'layouts/details-page';



// Modules
// @import "modules/my-module.scss";
