.portfolio-access
  fieldset.portfolio-fieldset
    .c-title.c-title__title4 Змінити пароль
    label.options-profile__label(for='access-old-pass') 
      .options-profile__clarification.options-profile__clarification--required Старий пароль
      input.options-profile__input#access-old-pass(type='text' name='access-old-pass' placeholder='Введіть старий пароль')
    label.options-profile__label(for='access-new-pass') 
      .options-profile__clarification.options-profile__clarification--required Новий пароль
      input.options-profile__input#access-new-pass(type='text' name='access-new-pass' placeholder='Введіть новий пароль')
    label.options-profile__label(for='access-new-pass-confirm') 
      .options-profile__clarification.options-profile__clarification--required Повторіть пароль
      input.options-profile__input#access-new-pass-confirm(type='text' name='access-new-pass-confirm' placeholder='Введіть новий пароль') 

.options-profile__buttons 
  a.options-profile__button.c-button.c-button--primary.c-button--lg(href="#") Зберегти зміни
  a.options-profile__button.c-button.c-button--bordered.c-button--lg(href="#") Скасувати 