.portfolio-notice
  fieldset.portfolio-fieldset
    .c-title.c-title__title4.portfolio-notice__title Налаштування e-mail сповіщень
    label.service-main__label(for='portfolio-notice-mirahub')

      input.service-main__checkbox#portfolio-notice-mirahub(type='checkbox' name='portfolio-notice-mirahub')  
      p Отримувати розсилку новин від Mirahub.io
    label.service-main__label(for='portfolio-notice-messages') 
      input.service-main__checkbox#portfolio-notice-messages(type='checkbox' name='portfolio-notice-messages')  
      p Отримувати сповіщення про нові повідомлення
    label.service-main__label(for='portfolio-notice-orders') 
      input.service-main__checkbox#portfolio-notice-orders(type='checkbox' name='portfolio-notice-orders')  
      p Отримувати сповіщення про нові замовлення                 

.options-profile__buttons 
  a.options-profile__button.c-button.c-button--primary.c-button--lg(href="#") Зберегти зміни
  a.options-profile__button.c-button.c-button--bordered.c-button--lg(href="#") Скасувати 