mixin mainPageFeaturesItem(args)
  li.miratop-features__block
    .miratop-features__img
      if args.imgsrc
        img(src= args.imgsrc alt="logo")
      else
        img(src= './images/miratop-features-star.svg' alt="logo")
    .miratop-features__text
      if args.title
        strong= args.title
      else 
        strong Проверенные эксперты

      if args.text
        p= args.text
      else 
        p Помогут Вам быстро и качественно разобраться в системе

mixin mainPageExpertiseAreas(name, ...items)    
  li
    h2.expertise-areas__name= name
    each item in items
      span= item
    a.expertise-areas__more(href="#") Показать все

