.c-container {
  @include container;
  display: flex;
  align-items: flex-start;

  @include desktop-medium {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }  
}

.c-aside {
  flex: 0 0 320px;
  background: $color-secondary-grey-bg;
  border-radius: 12px;
  padding: 30px;

  @include desktop-medium {
    display: none;
  }

  @include tablet {
    display: none;
  }  

  &__title {
    display: none;

    @include desktop-medium {
      font-weight: bold;
      position: relative;
      display: block;
      color: $color-primary-white;
      font-size: 24px;
      line-height: 32px;
      padding: 20px 27px;
    }    

    @include tablet {
      font-weight: bold;
      position: relative;
      display: block;
      color: $color-primary-white;
      font-size: 24px;
      line-height: 32px;
      padding: 20px 27px;
    }
  }

  &__close {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L17 17' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M17 1L0.999999 17' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    right: 27px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    background-size: contain;
  }

  &.over {
    padding: 0 0 20px 0;
    position: fixed;
    display: block;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    z-index: 2;
    height: 100%;
    overflow-y: auto;
  }
}

.c-sidebar {
  flex: 0 0 400px;

  @include desktop-medium {
    margin: 20px 0 0 0;
  }

  @include tablet {
    margin: 20px 0 0 0;
  }  
}

.c-wide-content {
  width: 100%;

  &--right {
    padding-left: 80px;

    @include desktop-medium {
      padding-left: 0;
      order: 1;
    }        

    @include tablet {
      padding-left: 0;
    }
  }

  &--left {
    padding-right: 80px;

    @include desktop-medium {
      padding-right: 0;
    }   
    
    @include tablet {
      padding-right: 0;
    }
  }  
}

.c-button {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 64px;
  text-align: center;

  &--primary {
    background-color: $color-secondary-blue;
    border: 2px solid $color-secondary-blue;
    color: $color-primary-white;
  }

  &--bordered {
    background-color: $color-primary-white;
    border: 2px solid $color-secondary-blue;
    color: $color-primary-black;
  }

  &--md {
    height: $control-height-md;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 12px;
    line-height: 16px;
  }

  &--lg {
    height: $control-height-lg;
    padding-left: 64px;
    padding-right: 64px;
    font-size: 14px;
    line-height: 24px;

    @include mobile {
      height: $control-height-lg--mobile;
      font-size: 10px;
      line-height: 14px;
      padding-left: 32px;
      padding-right: 32px;
    }    
  }

  &--filter {
    @include desktop-medium {
      height: $control-height-lg--mobile;
      font-size: 10px;
      line-height: 14px;
      padding-left: 60px;
      padding-right: 60px;
    }  

    @include tablet {
      height: $control-height-lg--mobile;
      font-size: 10px;
      line-height: 14px;
      padding-left: 60px;
      padding-right: 60px;
    }  
  }

  &--mobile {
    @include tablet {
      background: $color-secondary-blue;
      position: absolute;
      font-size: 0;
      width: 36px;
      height: 36px;
      padding: 0;
      margin: 0!important;
      border-radius: 18px 18px 18px 2px;

      &::before {
        content: '';
        position: absolute;
        border-radius: 2px;
        background: $color-primary-white;
        width: 20px; 
        height: 3px;
        left: 8px;
        top: 13px;
      }
  
      &::after {
        content: '';
        position: absolute;
        border-radius: 2px;
        background: $color-primary-white;
        width: 12px; 
        height: 3px;
        left: 8px;
        top: 20px;
      }         
    } 
  }
}

.c-title {
  color: $color-secondary-2;
  font-weight: bold;

  &__lg {
    font-size: 36px;
    line-height: 44px;

    @include mobile {
      font-size: 24px;
      line-height: 32px;
    }    
  }

  &__md {
    font-size: 16px;
    line-height: 28px; 

    &--indent {
      margin-bottom: 8px;
    }
  }

  &__sm {
    font-size: 14px;
    line-height: 24px;

    @include mobile {
      //font-size: 12px;
      //line-height: 16px;
    }

    &--alert {
      position: relative;
      padding: 0 0 0 24px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6225 10.9512L10.7364 2.26585C10.1816 1.27947 9.13303 0.666687 8 0.666687C6.867 0.666687 5.81847 1.27947 5.26356 2.26585L0.3775 10.9512C0.130531 11.3902 0 11.8884 0 12.3919C0 14.0138 1.32141 15.3334 2.94566 15.3334H13.0543C14.6786 15.3334 16 14.0138 16 12.3919C16 11.8884 15.8695 11.3902 15.6225 10.9512ZM8 13.461C7.22459 13.461 6.59375 12.8311 6.59375 12.0568C6.59375 11.2825 7.22459 10.6525 8 10.6525C8.77541 10.6525 9.40625 11.2825 9.40625 12.0568C9.40625 12.8311 8.77541 13.461 8 13.461ZM9.40625 8.31208C9.40625 9.08638 8.77541 9.71633 8 9.71633C7.22459 9.71633 6.59375 9.08638 6.59375 8.31208V4.25534C6.59375 3.48103 7.22459 2.85108 8 2.85108C8.77541 2.85108 9.40625 3.48103 9.40625 4.25534V8.31208Z' fill='%23ED7C79'/%3E%3C/svg%3E");
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0px;
        top: 4px;
      }      
    }

    &--goal {
      position: relative;
      padding: 0 0 0 24px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='12' width='4' height='16' rx='1' fill='%2321CE99'/%3E%3Crect x='6' y='8' width='4' height='8' rx='1' fill='%2321CE99'/%3E%3Crect y='5.99994' width='4' height='10' rx='1' fill='%2321CE99'/%3E%3C/svg%3E");
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0px;
        top: 4px;
      }
    }    
  }
}

.c-decoration {
  position: absolute;

  &--100 {
    width: 100px;
    height: 100px;
    border-radius: 75px;
  }

  &--75 {
    width: 75px;
    height: 75px;
    border-radius: 50px;   
  }  

  &--white {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(53.69% 53.69% at 37.5% 38%, #38D0B5 0%, #38D0B5 100%);
    box-shadow: 32px 32px 64px rgba(0, 0, 0, 0.15), inset 32px 32px 50px rgba(255, 255, 255, 0.5), inset 32px 32px 50px rgba(255, 255, 255, 0.15), inset 8px 8px 25px rgba(255, 255, 255, 0.5), inset -8px -8px 50px rgba(0, 0, 0, 0.15), inset -2px -2px 10px rgba(0, 0, 0, 0.15);
  }

  &--black {
    background: linear-gradient(0deg, #273233, #273233), radial-gradient(53.69% 53.69% at 37.5% 38%, #38D0B5 0%, #38D0B5 100%);
    box-shadow: 32px 32px 64px rgba(0, 0, 0, 0.35), inset 32px 32px 50px rgba(59, 75, 77, 0.5), inset 32px 32px 50px rgba(59, 75, 77, 0.15), inset 8px 8px 25px rgba(59, 75, 77, 0.5), inset -8px -8px 50px rgba(0, 0, 0, 0.15), inset -2px -2px 10px rgba(0, 0, 0, 0.15);
  }
}

.c-gradient {
  background: linear-gradient(94.78deg, #51DB91 0%, #38D0B5 100%);
}

.c-pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    justify-content: flex-start;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 17px 0 0;
    width: 52px;
    height: 52px;
    border-radius: 26px;

    @include mobile {
      width: 32px;
      height: 32px;
    }

    &--current {
      background-color: $color-secondary-grey-bg;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    color: #26484a;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    @include mobile {
      font-size: 12px;
      line-height: 16px;
    }

    &--current {
      color: $color-secondary-grey;
    }
  }
}

.c-info {
  margin: 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $color-primary-grey;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  @include mobile {
    font-size: 10px;
    line-height: 14px;
  }

  & > div {
    position: relative;
    padding: 0 0 0 16px;
    margin: 0 0 0 20px;

    @include tablet {
      margin: 0 0 0 10px;
    }

    &:first-child {
      margin: 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 12px;
      height: 12px;
      top: 50%;
      margin-top: -6px;
    }
  }

  &__experience {
    white-space: nowrap;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.73544 7.05469H7.75781V7.40625C7.75781 7.60052 7.60052 7.75781 7.40625 7.75781H4.59375C4.39948 7.75781 4.24219 7.60052 4.24219 7.40625V7.05469H2.26456C1.81 7.05469 1.40799 6.76492 1.26407 6.33371L0 2.54086V10.2188C0 10.8003 0.473145 11.2734 1.05469 11.2734H10.9453C11.5269 11.2734 12 10.8003 12 10.2188V2.54114L10.7358 6.33371C10.592 6.76492 10.19 7.05469 9.73544 7.05469Z' fill='%23909090'/%3E%3Cpath d='M7.40683 0.726562H4.59433C4.01279 0.726562 3.53964 1.19971 3.53964 1.78125V2.13281H0.605469L1.93143 6.11124C1.97949 6.25507 2.11371 6.35156 2.26514 6.35156H4.24277V6C4.24277 5.80573 4.40005 5.64844 4.59433 5.64844H7.40683C7.6011 5.64844 7.75839 5.80573 7.75839 6V6.35156H9.73602C9.88745 6.35156 10.0217 6.25507 10.0697 6.11124L11.3958 2.13281H8.46152V1.78125C8.46152 1.19971 7.98837 0.726562 7.40683 0.726562ZM4.24277 2.13281V1.78125C4.24277 1.58725 4.40033 1.42969 4.59433 1.42969H7.40683C7.60083 1.42969 7.75839 1.58725 7.75839 1.78125V2.13281H4.24277Z' fill='%23909090'/%3E%3C/svg%3E");
    }
  }

  &__projects {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.51173 7.99997C7.53727 7.83646 7.54972 7.66846 7.54972 7.5C7.54972 7.33246 7.53727 7.16647 7.51228 7.00397L8.33873 6.3555C8.53273 6.20297 8.58628 5.92703 8.46324 5.71198L7.92976 4.78802C7.80571 4.57352 7.53929 4.48151 7.30976 4.57397L6.33574 4.96646C6.06977 4.75204 5.7812 4.58496 5.47578 4.46896L5.32774 3.42902C5.29277 3.18448 5.08027 3 4.83271 3H3.76677C3.51921 3 3.30671 3.18448 3.27174 3.42947L3.1237 4.46997C2.81773 4.58752 2.52623 4.75653 2.26777 4.96646L1.28926 4.57397C1.05973 4.48196 0.793774 4.57397 0.66972 4.78802L0.1367 5.71198C0.0127372 5.92703 0.0667533 6.20398 0.262218 6.35596L1.08775 7.00003C1.06221 7.16354 1.04975 7.33154 1.04975 7.5C1.04975 7.66754 1.06221 7.83353 1.0872 7.99603L0.260754 8.6445C0.0667533 8.79703 0.0132865 9.07297 0.136242 9.28802L0.669262 10.212C0.793224 10.426 1.05973 10.518 1.28926 10.426L2.26329 10.0335C2.52925 10.248 2.81773 10.415 3.12324 10.531L3.27128 11.571C3.30671 11.8155 3.51921 12 3.76677 12H4.83271C5.08027 12 5.29277 11.8155 5.32774 11.5705L5.47578 10.53C5.78175 10.4125 6.07325 10.2435 6.33171 10.0335L7.31022 10.426C7.54075 10.5185 7.80626 10.4265 7.92976 10.212L8.46278 9.28802C8.58674 9.07297 8.53273 8.79602 8.33726 8.64404L7.51173 7.99997ZM4.29979 9.25003C3.33473 9.25003 2.54975 8.46497 2.54975 7.5C2.54975 6.53503 3.33473 5.74997 4.29979 5.74997C5.26475 5.74997 6.04972 6.53503 6.04972 7.5C6.04972 8.46497 5.26475 9.25003 4.29979 9.25003Z' fill='%23909090'/%3E%3Cpath d='M11.401 2.7345C11.4105 2.65704 11.4245 2.58051 11.4245 2.50003C11.4245 2.41946 11.4105 2.34302 11.401 2.26547L11.8515 1.92453C11.9519 1.84854 11.9799 1.70947 11.9169 1.59998L11.5125 0.899963C11.4495 0.791016 11.3149 0.745514 11.1989 0.794495L10.6804 1.01303C10.5539 0.916534 10.4194 0.831482 10.2709 0.769501L10.202 0.218994C10.186 0.0940247 10.0799 0 9.95397 0H9.14547C9.01949 0 8.91293 0.0940247 8.89746 0.218994L8.82842 0.769501C8.67993 0.831482 8.54498 0.916992 8.41891 1.01303L7.90045 0.794495C7.78399 0.745514 7.64941 0.790466 7.58642 0.899963L7.18249 1.59998C7.11942 1.70901 7.14743 1.84799 7.24795 1.92453L7.69848 2.26547C7.68841 2.34302 7.6745 2.41946 7.6745 2.50003C7.6745 2.58051 7.68841 2.65704 7.69794 2.7345L7.2475 3.07553C7.14697 3.15152 7.11896 3.2905 7.18195 3.39999L7.58642 4.10001C7.64941 4.20905 7.78399 4.25446 7.89999 4.20547L8.41845 3.98648C8.54498 4.08298 8.67947 4.16803 8.82797 4.23001L8.89691 4.78052C8.91293 4.90604 9.01895 4.99997 9.14492 4.99997H9.95342C10.0795 4.99997 10.186 4.90604 10.2014 4.78098L10.2705 4.23047C10.419 4.16849 10.5539 4.08298 10.68 3.98703L11.1984 4.20547C11.3149 4.25446 11.4495 4.2095 11.5125 4.10001L11.9164 3.39999C11.9795 3.29095 11.9515 3.15198 11.8509 3.07553L11.401 2.7345ZM9.54949 3.49997C8.99697 3.49997 8.54946 3.05246 8.54946 2.50003C8.54946 1.94751 8.99697 1.5 9.54949 1.5C10.1019 1.5 10.5494 1.94751 10.5494 2.50003C10.5494 3.05246 10.1019 3.49997 9.54949 3.49997Z' fill='%23909090'/%3E%3C/svg%3E");
    }    
  }

  &__location {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C3.48 0 1.42969 2.05031 1.42969 4.57031C1.42969 5.56758 1.74469 6.51516 2.34141 7.31016L5.71828 11.8582C5.72672 11.8692 5.73961 11.8735 5.74898 11.8833C5.91773 12.064 6.16125 12.0185 6.28148 11.8582C7.25391 10.5607 9.03633 8.1375 9.72164 7.22344C9.72164 7.22344 9.72188 7.22273 9.72211 7.22227L9.72633 7.21664C10.2785 6.44086 10.5703 5.52586 10.5703 4.57031C10.5703 2.05031 8.52 0 6 0ZM6 7.03594C4.6432 7.03594 3.53438 5.92711 3.53438 4.57031C3.53438 3.21352 4.6432 2.10469 6 2.10469C7.3568 2.10469 8.46563 3.21352 8.46563 4.57031C8.46563 5.92711 7.3568 7.03594 6 7.03594Z' fill='%23909090'/%3E%3C/svg%3E");
    }
  }

  &__date {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M4.37204 6.6204C4.37204 6.47008 4.25011 6.3483 4.09966 6.3483H3.14918C2.99891 6.3483 2.87695 6.47008 2.87695 6.6204V7.57076C2.87695 7.72128 2.99891 7.84311 3.14918 7.84311H4.09966C4.25011 7.84311 4.37204 7.72128 4.37204 7.57076V6.6204Z' fill='%23909090'/%3E%3Cpath d='M6.74885 6.6204C6.74885 6.47008 6.6269 6.3483 6.47675 6.3483H5.52613C5.37586 6.3483 5.25391 6.47008 5.25391 6.6204V7.57076C5.25391 7.72128 5.37586 7.84311 5.52613 7.84311H6.47675C6.6269 7.84311 6.74885 7.72128 6.74885 7.57076V6.6204Z' fill='%23909090'/%3E%3Cpath d='M9.12204 6.6204C9.12204 6.47008 9.00008 6.3483 8.84981 6.3483H7.89933C7.74888 6.3483 7.62695 6.47008 7.62695 6.6204V7.57076C7.62695 7.72128 7.74888 7.84311 7.89933 7.84311H8.84981C9.00008 7.84311 9.12204 7.72128 9.12204 7.57076V6.6204Z' fill='%23909090'/%3E%3Cpath d='M4.37204 8.99595C4.37204 8.84538 4.25011 8.72369 4.09966 8.72369H3.14918C2.99891 8.72369 2.87695 8.84538 2.87695 8.99595V9.94613C2.87695 10.0966 2.99891 10.2184 3.14918 10.2184H4.09966C4.25011 10.2184 4.37204 10.0965 4.37204 9.94613V8.99595Z' fill='%23909090'/%3E%3Cpath d='M6.74885 8.99595C6.74885 8.84538 6.6269 8.72369 6.47675 8.72369H5.52613C5.37586 8.72369 5.25391 8.84538 5.25391 8.99595V9.94613C5.25391 10.0966 5.37586 10.2184 5.52613 10.2184H6.47675C6.6269 10.2184 6.74885 10.0965 6.74885 9.94613V8.99595Z' fill='%23909090'/%3E%3Cpath d='M9.12204 8.99595C9.12204 8.84538 9.00008 8.72369 8.84993 8.72369H7.89933C7.74888 8.72369 7.62695 8.84538 7.62695 8.99595V9.94613C7.62695 10.0966 7.74888 10.2184 7.89933 10.2184H8.84993C9.00008 10.2184 9.12204 10.0965 9.12204 9.94613V8.99595Z' fill='%23909090'/%3E%3Cpath d='M10.8223 1.33621V2.7878C10.8223 3.44391 10.2901 3.97263 9.63407 3.97263H8.88448C8.22842 3.97263 7.68911 3.44391 7.68911 2.7878V1.33099H4.31049V2.7878C4.31049 3.44391 3.7712 3.97263 3.11524 3.97263H2.36549C1.70951 3.97263 1.17727 3.44391 1.17727 2.7878V1.33621C0.603936 1.35349 0.132812 1.8279 0.132812 2.41103V10.9181C0.132812 11.5122 0.614335 12.0001 1.20842 12.0001H10.7912C11.3844 12.0001 11.8668 11.5112 11.8668 10.9181V2.41103C11.8668 1.8279 11.3957 1.35349 10.8223 1.33621ZM10.4742 10.3883C10.4742 10.6451 10.266 10.8533 10.0092 10.8533H1.96994C1.7131 10.8533 1.50493 10.6451 1.50493 10.3883V5.99412C1.50493 5.73729 1.71307 5.529 1.96994 5.529H10.0092C10.266 5.529 10.4742 5.73729 10.4742 5.99412L10.4742 10.3883Z' fill='%23909090'/%3E%3Cpath d='M2.36261 3.19437H3.10406C3.32912 3.19437 3.51159 3.01217 3.51159 2.78712V0.407406C3.51159 0.182328 3.32912 0 3.10406 0H2.36261C2.13753 0 1.95508 0.182328 1.95508 0.407406V2.78712C1.95508 3.01217 2.13753 3.19437 2.36261 3.19437Z' fill='%23909090'/%3E%3Cpath d='M8.8743 3.19437H9.61576C9.84066 3.19437 10.0231 3.01217 10.0231 2.78712V0.407406C10.0232 0.182328 9.84069 0 9.61576 0H8.8743C8.64927 0 8.4668 0.182328 8.4668 0.407406V2.78712C8.4668 3.01217 8.64927 3.19437 8.8743 3.19437Z' fill='%23909090'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &__client {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M6.515 0.935051L1.02 0.100051C0.765 0.0600513 0.505 0.130051 0.31 0.295051C0.115 0.465051 0 0.710051 0 0.965051V11.5001C0 11.7751 0.225 12.0001 0.5 12.0001H2.125V9.37505C2.125 8.89005 2.515 8.50005 3 8.50005H4.25C4.735 8.50005 5.125 8.89005 5.125 9.37505V12.0001H7.25V1.80005C7.25 1.37005 6.94 1.00505 6.515 0.935051ZM2.75 7.37505H2C1.793 7.37505 1.625 7.20705 1.625 7.00005C1.625 6.79305 1.793 6.62505 2 6.62505H2.75C2.957 6.62505 3.125 6.79305 3.125 7.00005C3.125 7.20705 2.957 7.37505 2.75 7.37505ZM2.75 5.87505H2C1.793 5.87505 1.625 5.70705 1.625 5.50005C1.625 5.29305 1.793 5.12505 2 5.12505H2.75C2.957 5.12505 3.125 5.29305 3.125 5.50005C3.125 5.70705 2.957 5.87505 2.75 5.87505ZM2.75 4.37505H2C1.793 4.37505 1.625 4.20705 1.625 4.00005C1.625 3.79305 1.793 3.62505 2 3.62505H2.75C2.957 3.62505 3.125 3.79305 3.125 4.00005C3.125 4.20705 2.957 4.37505 2.75 4.37505ZM2.75 2.87505H2C1.793 2.87505 1.625 2.70705 1.625 2.50005C1.625 2.29305 1.793 2.12505 2 2.12505H2.75C2.957 2.12505 3.125 2.29305 3.125 2.50005C3.125 2.70705 2.957 2.87505 2.75 2.87505ZM5.25 7.37505H4.5C4.293 7.37505 4.125 7.20705 4.125 7.00005C4.125 6.79305 4.293 6.62505 4.5 6.62505H5.25C5.457 6.62505 5.625 6.79305 5.625 7.00005C5.625 7.20705 5.457 7.37505 5.25 7.37505ZM5.25 5.87505H4.5C4.293 5.87505 4.125 5.70705 4.125 5.50005C4.125 5.29305 4.293 5.12505 4.5 5.12505H5.25C5.457 5.12505 5.625 5.29305 5.625 5.50005C5.625 5.70705 5.457 5.87505 5.25 5.87505ZM5.25 4.37505H4.5C4.293 4.37505 4.125 4.20705 4.125 4.00005C4.125 3.79305 4.293 3.62505 4.5 3.62505H5.25C5.457 3.62505 5.625 3.79305 5.625 4.00005C5.625 4.20705 5.457 4.37505 5.25 4.37505ZM5.25 2.87505H4.5C4.293 2.87505 4.125 2.70705 4.125 2.50005C4.125 2.29305 4.293 2.12505 4.5 2.12505H5.25C5.457 2.12505 5.625 2.29305 5.625 2.50005C5.625 2.70705 5.457 2.87505 5.25 2.87505Z' fill='%23909090'/%3E%3Cpath d='M11.31 5.42095L7.75 4.67545V11.9999H11.125C11.6075 11.9999 12 11.6074 12 11.1249V6.27595C12 5.86295 11.7185 5.51145 11.31 5.42095ZM10.125 10.4999H9.37499C9.16799 10.4999 8.99999 10.3319 8.99999 10.1249C8.99999 9.91795 9.16799 9.74995 9.37499 9.74995H10.125C10.332 9.74995 10.5 9.91795 10.5 10.1249C10.5 10.3319 10.332 10.4999 10.125 10.4999ZM10.125 8.99995H9.37499C9.16799 8.99995 8.99999 8.83195 8.99999 8.62495C8.99999 8.41795 9.16799 8.24995 9.37499 8.24995H10.125C10.332 8.24995 10.5 8.41795 10.5 8.62495C10.5 8.83195 10.332 8.99995 10.125 8.99995ZM10.125 7.49995H9.37499C9.16799 7.49995 8.99999 7.33195 8.99999 7.12495C8.99999 6.91795 9.16799 6.74995 9.37499 6.74995H10.125C10.332 6.74995 10.5 6.91795 10.5 7.12495C10.5 7.33195 10.332 7.49995 10.125 7.49995Z' fill='%23909090'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &__deadline {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1376 12C10.365 12 10.5493 11.8156 10.5493 11.5883C10.5493 11.3609 10.365 11.1766 10.1376 11.1766H9.43216L9.43212 9.91183C9.43212 8.63235 8.72998 7.45627 7.45498 6.60014C7.29636 6.49364 7.19785 6.2637 7.19785 6.00006C7.19785 5.73642 7.29636 5.50644 7.45506 5.3999C8.72998 4.54381 9.43212 3.36777 9.4322 2.08825V0.823478H10.1376C10.365 0.823478 10.5493 0.639113 10.5493 0.411759C10.5493 0.184405 10.365 0 10.1376 0H1.86094C1.63358 0 1.44922 0.184364 1.44922 0.411719C1.44922 0.639073 1.63358 0.823437 1.86094 0.823437H2.56635V2.08821C2.56635 3.36773 3.2685 4.54377 4.54354 5.3999C4.70212 5.5064 4.80063 5.7363 4.80063 6.00002C4.80063 6.2637 4.70212 6.49364 4.5435 6.60018C3.2685 7.45627 2.56635 8.63231 2.56635 9.91183V11.1766H1.86094C1.63358 11.1766 1.44922 11.3609 1.44922 11.5883C1.44922 11.8157 1.63358 12 1.86094 12H10.1376Z' fill='%23909090'/%3E%3C/svg%3E");
    }
  }

  &__email {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C2.69164 0 0 2.69164 0 6C0 9.30836 2.69164 12 6 12C7.05506 12 8.09252 11.7224 9.00073 11.1969L8.25 9.89831C7.56959 10.292 6.79138 10.5 6 10.5C3.51856 10.5 1.49999 8.48143 1.49999 6C1.49999 3.51856 3.51856 1.49999 6 1.49999C8.48143 1.49999 10.5 3.51856 10.5 6V6.65332C10.5 7.14405 10.1847 7.49999 9.75 7.49999C9.33654 7.49999 8.99999 7.16344 8.99999 6.74998V3.75H7.96322C7.4356 3.28906 6.75395 2.99999 6 2.99999C4.34582 2.99999 2.99999 4.34582 2.99999 6C2.99999 7.65418 4.34582 9.00001 6 9.00001C6.78772 9.00001 7.49992 8.6885 8.03578 8.19014C8.44883 8.681 9.05974 9.00001 9.75 9.00001C11.0116 9.00001 12 7.96914 12 6.65332V6C12 2.69164 9.30836 0 6 0V0ZM6 7.49999C5.17272 7.49999 4.50001 6.82726 4.50001 6C4.50001 5.17272 5.17274 4.50001 6 4.50001C6.82728 4.50001 7.49999 5.17274 7.49999 6C7.49999 6.82728 6.82728 7.49999 6 7.49999Z' fill='%23909090'/%3E%3C/svg%3E");
    }
  }

  &__view {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M5.99964 4.36368C5.09691 4.36368 4.36328 5.0973 4.36328 6.00004C4.36328 6.90277 5.09691 7.6364 5.99964 7.6364C6.90237 7.6364 7.636 6.90277 7.636 6.00004C7.636 5.0973 6.90235 4.36368 5.99964 4.36368Z' fill='%23909090'/%3E%3Cpath d='M6.00001 1.90912C3.27273 1.90912 0.943646 3.60547 0 6.00003C0.943646 8.39457 3.27273 10.0909 6.00001 10.0909C8.73001 10.0909 11.0564 8.39457 12 6.00003C11.0564 3.60547 8.73001 1.90912 6.00001 1.90912ZM6.00001 8.72729C4.49456 8.72729 3.27273 7.50546 3.27273 6C3.27273 4.49455 4.49456 3.27275 6.00001 3.27275C7.50547 3.27275 8.7273 4.49457 8.7273 6.00003C8.7273 7.50549 7.50547 8.72729 6.00001 8.72729Z' fill='%23909090'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }   

  &__available {
    &::before {     
      border-radius: 6px;   
    }

    &--busy {
      &::before {
        background-color: $color-secondary-4;
      }
    }

    &--free {
      &::before {
        background-color: $color-new-green;     
      }
    }  
  }  
}

.c-tags {
  display: flex;
  flex-wrap: wrap;

  &__tag {
    margin: 0 4px 4px 0;
    background: $color-secondary-grey-bg;
    border: 1px solid $color-secondary-border;
    box-sizing: border-box;
    border-radius: 4px;    
    padding: 4px 12px;
    color: $color-secondary-2;
    font-size: 12px;
    line-height: 16px;

    @include mobile {
      font-size: 8px;
      line-height: 12px;
    }       

    &.hide {
      display: none;
    }
  }  
}
