.c-container {
  @include container;
  display: flex;
  align-items: flex-start;

  @include desktop-medium {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }  
}

.c-fullwidth {
  @include container;
  width: 100%;
}

.c-aside {
  flex: 0 0 360px;
  background: $text-ultra-silver;
  border-radius: 8px;
  padding: 20px 30px 20px 20px;

  @include desktop-medium {
    display: none;
  }

  @include tablet {
    display: none;
  }  

  &__title {
    display: none;

    @include desktop-medium {
      font-weight: bold;
      position: relative;
      display: block;
      color: $color-primary-white;
      font-size: 24px;
      line-height: 32px;
      padding: 20px 27px;
    }    

    @include tablet {
      font-weight: bold;
      position: relative;
      display: block;
      color: $color-primary-white;
      font-size: 24px;
      line-height: 32px;
      padding: 20px 27px;
    }
  }

  &__close {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L17 17' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M17 1L0.999999 17' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    right: 27px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    background-size: contain;
  }

  &.over {
    padding: 0 0 20px 0;
    position: fixed;
    display: block;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    z-index: 2;
    height: 100%;
    overflow-y: auto;
  }
}

.c-sidebar {
  flex: 0 0 400px;

  @include desktop-medium {
    flex: auto;
    width: 100%;
    margin: 20px 0 0 0;
  }

  @include tablet {
    flex: auto;
    width: 100%;
    margin: 20px 0 0 0;
  }  
}

.c-wide-content {
  width: 100%;

  &--right {
    padding-left: 80px;

    @include desktop-medium {
      padding-left: 0;
      order: 1;
    }        

    @include tablet {
      padding-left: 0;
    }
  }

  &--left {
    padding-right: 80px;

    @include desktop-medium {
      padding-right: 0;
    }   
    
    @include tablet {
      padding-right: 0;
    }
  }  
}

.c-accent {
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-color: $color-pastel-6;
    z-index: -1;
  }
}

.c-button {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 64px;
  text-align: center;

  &--primary {
    background-color: $color-pastel-7;
    border: 2px solid $color-pastel-7;
    color: $text-black;
  }

  &--bordered {
    background-color: $text-white;
    border: 2px solid $color-pastel-7;
    color: $text-black;
  } 

  &--md {
    height: $control-height-md;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 12px;
    line-height: 16px;
  }

  &--lg {
    height: $control-height-lg;
    padding-left: 52px;
    padding-right: 52px;
    font-size: 14px;
    line-height: 28px;

    @include mobile {
      height: $control-height-lg--mobile;
      font-size: 10px;
      line-height: 14px;
      padding-left: 32px;
      padding-right: 32px;
    }    
  }

  &--filter {
    @include desktop-medium {
      height: $control-height-lg--mobile;
      font-size: 10px;
      line-height: 14px;
      padding-left: 60px;
      padding-right: 60px;
    }  

    @include tablet {
      height: $control-height-lg--mobile;
      font-size: 10px;
      line-height: 14px;
      padding-left: 60px;
      padding-right: 60px;
    }  
  }

  &--mobile {
    @include tablet {
      background: $color-secondary-blue;
      position: absolute;
      font-size: 0;
      width: 36px;
      height: 36px;
      padding: 0;
      margin: 0!important;
      border-radius: 18px 18px 18px 2px;

      &::before {
        content: '';
        position: absolute;
        border-radius: 2px;
        background: $color-primary-white;
        width: 20px; 
        height: 3px;
        left: 8px;
        top: 13px;
      }
  
      &::after {
        content: '';
        position: absolute;
        border-radius: 2px;
        background: $color-primary-white;
        width: 12px; 
        height: 3px;
        left: 8px;
        top: 20px;
      }         
    } 
  }
}

.c-title {
  color: $text-black;
  font-weight: bold;

  &__title2 {
    font-size: 48px;
    line-height: 80px;
  }

  &__title4 {
    font-size: 20px;
    line-height: 36px;
  } 

  &__title5 {
    font-size: 14px;
    line-height: 28px;
  }   

  &__lg {
    font-size: 36px;
    line-height: 44px;

    @include mobile {
      font-size: 24px;
      line-height: 32px;
    }    
  }

  &__md {
    font-size: 16px;
    line-height: 28px; 

    &--indent {
      margin-bottom: 8px;
    }
  }

  &__sm {
    font-size: 14px;
    line-height: 24px;

    @include mobile {
      //font-size: 12px;
      //line-height: 16px;
    }    

    &--alert {
      position: relative;
      padding: 0 0 0 24px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6225 10.9512L10.7364 2.26585C10.1816 1.27947 9.13303 0.666687 8 0.666687C6.867 0.666687 5.81847 1.27947 5.26356 2.26585L0.3775 10.9512C0.130531 11.3902 0 11.8884 0 12.3919C0 14.0138 1.32141 15.3334 2.94566 15.3334H13.0543C14.6786 15.3334 16 14.0138 16 12.3919C16 11.8884 15.8695 11.3902 15.6225 10.9512ZM8 13.461C7.22459 13.461 6.59375 12.8311 6.59375 12.0568C6.59375 11.2825 7.22459 10.6525 8 10.6525C8.77541 10.6525 9.40625 11.2825 9.40625 12.0568C9.40625 12.8311 8.77541 13.461 8 13.461ZM9.40625 8.31208C9.40625 9.08638 8.77541 9.71633 8 9.71633C7.22459 9.71633 6.59375 9.08638 6.59375 8.31208V4.25534C6.59375 3.48103 7.22459 2.85108 8 2.85108C8.77541 2.85108 9.40625 3.48103 9.40625 4.25534V8.31208Z' fill='%23ED7C79'/%3E%3C/svg%3E");
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0px;
        top: 4px;
      }      
    }

    &--goal {
      position: relative;
      padding: 0 0 0 24px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='12' width='4' height='16' rx='1' fill='%2321CE99'/%3E%3Crect x='6' y='8' width='4' height='8' rx='1' fill='%2321CE99'/%3E%3Crect y='5.99994' width='4' height='10' rx='1' fill='%2321CE99'/%3E%3C/svg%3E");
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0px;
        top: 4px;
      }
    }    
  }
}

.c-decoration {
  position: absolute;

  &--100 {
    width: 100px;
    height: 100px;
    border-radius: 75px;
  }

  &--75 {
    width: 75px;
    height: 75px;
    border-radius: 50px;   
  }  

  &--white {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(53.69% 53.69% at 37.5% 38%, #38D0B5 0%, #38D0B5 100%);
    box-shadow: 32px 32px 64px rgba(0, 0, 0, 0.15), inset 32px 32px 50px rgba(255, 255, 255, 0.5), inset 32px 32px 50px rgba(255, 255, 255, 0.15), inset 8px 8px 25px rgba(255, 255, 255, 0.5), inset -8px -8px 50px rgba(0, 0, 0, 0.15), inset -2px -2px 10px rgba(0, 0, 0, 0.15);
  }

  &--black {
    background: linear-gradient(0deg, #273233, #273233), radial-gradient(53.69% 53.69% at 37.5% 38%, #38D0B5 0%, #38D0B5 100%);
    box-shadow: 32px 32px 64px rgba(0, 0, 0, 0.35), inset 32px 32px 50px rgba(59, 75, 77, 0.5), inset 32px 32px 50px rgba(59, 75, 77, 0.15), inset 8px 8px 25px rgba(59, 75, 77, 0.5), inset -8px -8px 50px rgba(0, 0, 0, 0.15), inset -2px -2px 10px rgba(0, 0, 0, 0.15);
  }
}

.c-gradient {
  background: linear-gradient(94.78deg, #51DB91 0%, #38D0B5 100%);
}

.c-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0 0 0;

  @include mobile {
    justify-content: flex-start;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    color: $text-grey;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;

    @include mobile {
      font-size: 12px;
      line-height: 16px;
    }

    &--current {
      color: $color-pastel-7;
    }
  }
}

.c-info {
  margin: 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $text-grey;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;

  @include mobile {
    font-size: 10px;
    line-height: 14px;
  }

  & > div {
    position: relative;
    padding: 0 0 0 13px;
    margin: 0 0 0 20px;

    @include tablet {
      margin: 0 0 0 10px;
    }

    &:first-child {
      margin: 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 8px;
      height: 8px;
      top: 50%;
      margin-top: -4px;
      
    }
  }

  &__experience {
    white-space: nowrap;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.4903 4.70312H5.17188V4.9375C5.17188 5.06702 5.06702 5.17188 4.9375 5.17188H3.0625C2.93298 5.17188 2.82812 5.06702 2.82812 4.9375V4.70312H1.5097C1.20667 4.70312 0.93866 4.50995 0.842712 4.22247L0 1.69391V6.8125C0 7.2002 0.31543 7.51562 0.703125 7.51562H7.29688C7.68457 7.51562 8 7.2002 8 6.8125V1.69409L7.15723 4.22247C7.06134 4.50995 6.79333 4.70312 6.4903 4.70312Z' fill='%239E9DA3'/%3E%3Cpath d='M4.93756 0.484375H3.06256C2.67487 0.484375 2.35944 0.799805 2.35944 1.1875V1.42188H0.40332L1.28729 4.07416C1.31934 4.17004 1.40881 4.23438 1.50977 4.23438H2.82819V4C2.82819 3.87048 2.93304 3.76562 3.06256 3.76562H4.93756C5.06708 3.76562 5.17194 3.87048 5.17194 4V4.23438H6.49036C6.59131 4.23438 6.68079 4.17004 6.71283 4.07416L7.59686 1.42188H5.64069V1.1875C5.64069 0.799805 5.32526 0.484375 4.93756 0.484375ZM2.82819 1.42188V1.1875C2.82819 1.05817 2.93323 0.953125 3.06256 0.953125H4.93756C5.06689 0.953125 5.17194 1.05817 5.17194 1.1875V1.42188H2.82819Z' fill='%239E9DA3'/%3E%3C/svg%3E");
    }
  }

  &__projects {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00758 5.33331C5.0246 5.2243 5.03291 5.1123 5.03291 5C5.03291 4.88831 5.0246 4.77765 5.00794 4.66931L5.55891 4.237C5.68824 4.13531 5.72395 3.95135 5.64191 3.80798L5.28626 3.19202C5.20356 3.04901 5.02595 2.98767 4.87293 3.04932L4.22358 3.31097C4.04627 3.16803 3.85389 3.05664 3.65028 2.97931L3.55158 2.28601C3.52827 2.12299 3.3866 2 3.22157 2H2.51093C2.34589 2 2.20423 2.12299 2.18092 2.28632L2.08222 2.97998C1.87824 3.05835 1.68391 3.17102 1.5116 3.31097L0.85926 3.04932C0.706245 2.98798 0.528938 3.04932 0.446236 3.19202L0.0908889 3.80798C0.0082473 3.95135 0.044258 4.13599 0.174568 4.2373L0.724922 4.66669C0.707893 4.7757 0.699593 4.8877 0.699593 5C0.699593 5.11169 0.707893 5.22235 0.724556 5.33069L0.173592 5.763C0.044258 5.86469 0.0086135 6.04865 0.0905837 6.19202L0.44593 6.80798C0.528572 6.95068 0.706245 7.01202 0.85926 6.95068L1.50861 6.68903C1.68592 6.83197 1.87824 6.94336 2.08192 7.02069L2.18061 7.71399C2.20423 7.87701 2.34589 8 2.51093 8H3.22157C3.3866 8 3.52827 7.87701 3.55158 7.71368L3.65028 7.02002C3.85426 6.94165 4.04859 6.82898 4.22089 6.68903L4.87324 6.95068C5.02692 7.01233 5.20393 6.95099 5.28626 6.80798L5.64161 6.19202C5.72425 6.04865 5.68824 5.86401 5.55793 5.7627L5.00758 5.33331ZM2.86628 6.16669C2.22291 6.16669 1.69959 5.64331 1.69959 5C1.69959 4.35669 2.22291 3.83331 2.86628 3.83331C3.50959 3.83331 4.03291 4.35669 4.03291 5C4.03291 5.64331 3.50959 6.16669 2.86628 6.16669Z' fill='%239E9DA3'/%3E%3Cpath d='M7.60088 1.823C7.60723 1.77136 7.61657 1.72034 7.61657 1.66669C7.61657 1.61298 7.60723 1.56201 7.60088 1.51031L7.90124 1.28302C7.96819 1.23236 7.98687 1.13965 7.94488 1.06665L7.67522 0.599976C7.63323 0.527344 7.54351 0.497009 7.46618 0.529663L7.12054 0.675354C7.03619 0.611023 6.94653 0.554321 6.84753 0.513L6.80157 0.145996C6.79089 0.0626831 6.72021 0 6.63622 0H6.09722C6.01324 0 5.9422 0.0626831 5.93188 0.145996L5.88586 0.513C5.78686 0.554321 5.6969 0.611328 5.61285 0.675354L5.26721 0.529663C5.18957 0.497009 5.09985 0.526978 5.05786 0.599976L4.78857 1.06665C4.74652 1.13934 4.7652 1.23199 4.83221 1.28302L5.13257 1.51031C5.12585 1.56201 5.11658 1.61298 5.11658 1.66669C5.11658 1.72034 5.12585 1.77136 5.1322 1.823L4.83191 2.05035C4.76489 2.10101 4.74622 2.19366 4.78821 2.26666L5.05786 2.73334C5.09985 2.80603 5.18957 2.8363 5.26691 2.80365L5.61255 2.65765C5.6969 2.72198 5.78656 2.77869 5.88556 2.82001L5.93151 3.18701C5.9422 3.27069 6.01287 3.33331 6.09686 3.33331H6.63586C6.7199 3.33331 6.79089 3.27069 6.8012 3.18732L6.84722 2.82031C6.94622 2.77899 7.03619 2.72198 7.12023 2.65802L7.46587 2.80365C7.54351 2.8363 7.63323 2.80634 7.67522 2.73334L7.94451 2.26666C7.98656 2.19397 7.96789 2.10132 7.90087 2.05035L7.60088 1.823ZM6.36657 2.33331C5.99823 2.33331 5.69989 2.03497 5.69989 1.66669C5.69989 1.29834 5.99823 1 6.36657 1C6.73486 1 7.0332 1.29834 7.0332 1.66669C7.0332 2.03497 6.73486 2.33331 6.36657 2.33331Z' fill='%239E9DA3'/%3E%3C/svg%3E");
    }    
  }

  &__location {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C3.48 0 1.42969 2.05031 1.42969 4.57031C1.42969 5.56758 1.74469 6.51516 2.34141 7.31016L5.71828 11.8582C5.72672 11.8692 5.73961 11.8735 5.74898 11.8833C5.91773 12.064 6.16125 12.0185 6.28148 11.8582C7.25391 10.5607 9.03633 8.1375 9.72164 7.22344C9.72164 7.22344 9.72188 7.22273 9.72211 7.22227L9.72633 7.21664C10.2785 6.44086 10.5703 5.52586 10.5703 4.57031C10.5703 2.05031 8.52 0 6 0ZM6 7.03594C4.6432 7.03594 3.53438 5.92711 3.53438 4.57031C3.53438 3.21352 4.6432 2.10469 6 2.10469C7.3568 2.10469 8.46563 3.21352 8.46563 4.57031C8.46563 5.92711 7.3568 7.03594 6 7.03594Z' fill='%23909090'/%3E%3C/svg%3E");
    }
  }

  &__date {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M4.37204 6.6204C4.37204 6.47008 4.25011 6.3483 4.09966 6.3483H3.14918C2.99891 6.3483 2.87695 6.47008 2.87695 6.6204V7.57076C2.87695 7.72128 2.99891 7.84311 3.14918 7.84311H4.09966C4.25011 7.84311 4.37204 7.72128 4.37204 7.57076V6.6204Z' fill='%23909090'/%3E%3Cpath d='M6.74885 6.6204C6.74885 6.47008 6.6269 6.3483 6.47675 6.3483H5.52613C5.37586 6.3483 5.25391 6.47008 5.25391 6.6204V7.57076C5.25391 7.72128 5.37586 7.84311 5.52613 7.84311H6.47675C6.6269 7.84311 6.74885 7.72128 6.74885 7.57076V6.6204Z' fill='%23909090'/%3E%3Cpath d='M9.12204 6.6204C9.12204 6.47008 9.00008 6.3483 8.84981 6.3483H7.89933C7.74888 6.3483 7.62695 6.47008 7.62695 6.6204V7.57076C7.62695 7.72128 7.74888 7.84311 7.89933 7.84311H8.84981C9.00008 7.84311 9.12204 7.72128 9.12204 7.57076V6.6204Z' fill='%23909090'/%3E%3Cpath d='M4.37204 8.99595C4.37204 8.84538 4.25011 8.72369 4.09966 8.72369H3.14918C2.99891 8.72369 2.87695 8.84538 2.87695 8.99595V9.94613C2.87695 10.0966 2.99891 10.2184 3.14918 10.2184H4.09966C4.25011 10.2184 4.37204 10.0965 4.37204 9.94613V8.99595Z' fill='%23909090'/%3E%3Cpath d='M6.74885 8.99595C6.74885 8.84538 6.6269 8.72369 6.47675 8.72369H5.52613C5.37586 8.72369 5.25391 8.84538 5.25391 8.99595V9.94613C5.25391 10.0966 5.37586 10.2184 5.52613 10.2184H6.47675C6.6269 10.2184 6.74885 10.0965 6.74885 9.94613V8.99595Z' fill='%23909090'/%3E%3Cpath d='M9.12204 8.99595C9.12204 8.84538 9.00008 8.72369 8.84993 8.72369H7.89933C7.74888 8.72369 7.62695 8.84538 7.62695 8.99595V9.94613C7.62695 10.0966 7.74888 10.2184 7.89933 10.2184H8.84993C9.00008 10.2184 9.12204 10.0965 9.12204 9.94613V8.99595Z' fill='%23909090'/%3E%3Cpath d='M10.8223 1.33621V2.7878C10.8223 3.44391 10.2901 3.97263 9.63407 3.97263H8.88448C8.22842 3.97263 7.68911 3.44391 7.68911 2.7878V1.33099H4.31049V2.7878C4.31049 3.44391 3.7712 3.97263 3.11524 3.97263H2.36549C1.70951 3.97263 1.17727 3.44391 1.17727 2.7878V1.33621C0.603936 1.35349 0.132812 1.8279 0.132812 2.41103V10.9181C0.132812 11.5122 0.614335 12.0001 1.20842 12.0001H10.7912C11.3844 12.0001 11.8668 11.5112 11.8668 10.9181V2.41103C11.8668 1.8279 11.3957 1.35349 10.8223 1.33621ZM10.4742 10.3883C10.4742 10.6451 10.266 10.8533 10.0092 10.8533H1.96994C1.7131 10.8533 1.50493 10.6451 1.50493 10.3883V5.99412C1.50493 5.73729 1.71307 5.529 1.96994 5.529H10.0092C10.266 5.529 10.4742 5.73729 10.4742 5.99412L10.4742 10.3883Z' fill='%23909090'/%3E%3Cpath d='M2.36261 3.19437H3.10406C3.32912 3.19437 3.51159 3.01217 3.51159 2.78712V0.407406C3.51159 0.182328 3.32912 0 3.10406 0H2.36261C2.13753 0 1.95508 0.182328 1.95508 0.407406V2.78712C1.95508 3.01217 2.13753 3.19437 2.36261 3.19437Z' fill='%23909090'/%3E%3Cpath d='M8.8743 3.19437H9.61576C9.84066 3.19437 10.0231 3.01217 10.0231 2.78712V0.407406C10.0232 0.182328 9.84069 0 9.61576 0H8.8743C8.64927 0 8.4668 0.182328 8.4668 0.407406V2.78712C8.4668 3.01217 8.64927 3.19437 8.8743 3.19437Z' fill='%23909090'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &__client {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M6.515 0.935051L1.02 0.100051C0.765 0.0600513 0.505 0.130051 0.31 0.295051C0.115 0.465051 0 0.710051 0 0.965051V11.5001C0 11.7751 0.225 12.0001 0.5 12.0001H2.125V9.37505C2.125 8.89005 2.515 8.50005 3 8.50005H4.25C4.735 8.50005 5.125 8.89005 5.125 9.37505V12.0001H7.25V1.80005C7.25 1.37005 6.94 1.00505 6.515 0.935051ZM2.75 7.37505H2C1.793 7.37505 1.625 7.20705 1.625 7.00005C1.625 6.79305 1.793 6.62505 2 6.62505H2.75C2.957 6.62505 3.125 6.79305 3.125 7.00005C3.125 7.20705 2.957 7.37505 2.75 7.37505ZM2.75 5.87505H2C1.793 5.87505 1.625 5.70705 1.625 5.50005C1.625 5.29305 1.793 5.12505 2 5.12505H2.75C2.957 5.12505 3.125 5.29305 3.125 5.50005C3.125 5.70705 2.957 5.87505 2.75 5.87505ZM2.75 4.37505H2C1.793 4.37505 1.625 4.20705 1.625 4.00005C1.625 3.79305 1.793 3.62505 2 3.62505H2.75C2.957 3.62505 3.125 3.79305 3.125 4.00005C3.125 4.20705 2.957 4.37505 2.75 4.37505ZM2.75 2.87505H2C1.793 2.87505 1.625 2.70705 1.625 2.50005C1.625 2.29305 1.793 2.12505 2 2.12505H2.75C2.957 2.12505 3.125 2.29305 3.125 2.50005C3.125 2.70705 2.957 2.87505 2.75 2.87505ZM5.25 7.37505H4.5C4.293 7.37505 4.125 7.20705 4.125 7.00005C4.125 6.79305 4.293 6.62505 4.5 6.62505H5.25C5.457 6.62505 5.625 6.79305 5.625 7.00005C5.625 7.20705 5.457 7.37505 5.25 7.37505ZM5.25 5.87505H4.5C4.293 5.87505 4.125 5.70705 4.125 5.50005C4.125 5.29305 4.293 5.12505 4.5 5.12505H5.25C5.457 5.12505 5.625 5.29305 5.625 5.50005C5.625 5.70705 5.457 5.87505 5.25 5.87505ZM5.25 4.37505H4.5C4.293 4.37505 4.125 4.20705 4.125 4.00005C4.125 3.79305 4.293 3.62505 4.5 3.62505H5.25C5.457 3.62505 5.625 3.79305 5.625 4.00005C5.625 4.20705 5.457 4.37505 5.25 4.37505ZM5.25 2.87505H4.5C4.293 2.87505 4.125 2.70705 4.125 2.50005C4.125 2.29305 4.293 2.12505 4.5 2.12505H5.25C5.457 2.12505 5.625 2.29305 5.625 2.50005C5.625 2.70705 5.457 2.87505 5.25 2.87505Z' fill='%23909090'/%3E%3Cpath d='M11.31 5.42095L7.75 4.67545V11.9999H11.125C11.6075 11.9999 12 11.6074 12 11.1249V6.27595C12 5.86295 11.7185 5.51145 11.31 5.42095ZM10.125 10.4999H9.37499C9.16799 10.4999 8.99999 10.3319 8.99999 10.1249C8.99999 9.91795 9.16799 9.74995 9.37499 9.74995H10.125C10.332 9.74995 10.5 9.91795 10.5 10.1249C10.5 10.3319 10.332 10.4999 10.125 10.4999ZM10.125 8.99995H9.37499C9.16799 8.99995 8.99999 8.83195 8.99999 8.62495C8.99999 8.41795 9.16799 8.24995 9.37499 8.24995H10.125C10.332 8.24995 10.5 8.41795 10.5 8.62495C10.5 8.83195 10.332 8.99995 10.125 8.99995ZM10.125 7.49995H9.37499C9.16799 7.49995 8.99999 7.33195 8.99999 7.12495C8.99999 6.91795 9.16799 6.74995 9.37499 6.74995H10.125C10.332 6.74995 10.5 6.91795 10.5 7.12495C10.5 7.33195 10.332 7.49995 10.125 7.49995Z' fill='%23909090'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &__deadline {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1376 12C10.365 12 10.5493 11.8156 10.5493 11.5883C10.5493 11.3609 10.365 11.1766 10.1376 11.1766H9.43216L9.43212 9.91183C9.43212 8.63235 8.72998 7.45627 7.45498 6.60014C7.29636 6.49364 7.19785 6.2637 7.19785 6.00006C7.19785 5.73642 7.29636 5.50644 7.45506 5.3999C8.72998 4.54381 9.43212 3.36777 9.4322 2.08825V0.823478H10.1376C10.365 0.823478 10.5493 0.639113 10.5493 0.411759C10.5493 0.184405 10.365 0 10.1376 0H1.86094C1.63358 0 1.44922 0.184364 1.44922 0.411719C1.44922 0.639073 1.63358 0.823437 1.86094 0.823437H2.56635V2.08821C2.56635 3.36773 3.2685 4.54377 4.54354 5.3999C4.70212 5.5064 4.80063 5.7363 4.80063 6.00002C4.80063 6.2637 4.70212 6.49364 4.5435 6.60018C3.2685 7.45627 2.56635 8.63231 2.56635 9.91183V11.1766H1.86094C1.63358 11.1766 1.44922 11.3609 1.44922 11.5883C1.44922 11.8157 1.63358 12 1.86094 12H10.1376Z' fill='%23909090'/%3E%3C/svg%3E");
    }
  }

  &__email {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C2.69164 0 0 2.69164 0 6C0 9.30836 2.69164 12 6 12C7.05506 12 8.09252 11.7224 9.00073 11.1969L8.25 9.89831C7.56959 10.292 6.79138 10.5 6 10.5C3.51856 10.5 1.49999 8.48143 1.49999 6C1.49999 3.51856 3.51856 1.49999 6 1.49999C8.48143 1.49999 10.5 3.51856 10.5 6V6.65332C10.5 7.14405 10.1847 7.49999 9.75 7.49999C9.33654 7.49999 8.99999 7.16344 8.99999 6.74998V3.75H7.96322C7.4356 3.28906 6.75395 2.99999 6 2.99999C4.34582 2.99999 2.99999 4.34582 2.99999 6C2.99999 7.65418 4.34582 9.00001 6 9.00001C6.78772 9.00001 7.49992 8.6885 8.03578 8.19014C8.44883 8.681 9.05974 9.00001 9.75 9.00001C11.0116 9.00001 12 7.96914 12 6.65332V6C12 2.69164 9.30836 0 6 0V0ZM6 7.49999C5.17272 7.49999 4.50001 6.82726 4.50001 6C4.50001 5.17272 5.17274 4.50001 6 4.50001C6.82728 4.50001 7.49999 5.17274 7.49999 6C7.49999 6.82728 6.82728 7.49999 6 7.49999Z' fill='%23909090'/%3E%3C/svg%3E");
    }
  }

  &__view {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M5.99964 4.36368C5.09691 4.36368 4.36328 5.0973 4.36328 6.00004C4.36328 6.90277 5.09691 7.6364 5.99964 7.6364C6.90237 7.6364 7.636 6.90277 7.636 6.00004C7.636 5.0973 6.90235 4.36368 5.99964 4.36368Z' fill='%23909090'/%3E%3Cpath d='M6.00001 1.90912C3.27273 1.90912 0.943646 3.60547 0 6.00003C0.943646 8.39457 3.27273 10.0909 6.00001 10.0909C8.73001 10.0909 11.0564 8.39457 12 6.00003C11.0564 3.60547 8.73001 1.90912 6.00001 1.90912ZM6.00001 8.72729C4.49456 8.72729 3.27273 7.50546 3.27273 6C3.27273 4.49455 4.49456 3.27275 6.00001 3.27275C7.50547 3.27275 8.7273 4.49457 8.7273 6.00003C8.7273 7.50549 7.50547 8.72729 6.00001 8.72729Z' fill='%23909090'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }   

  &__available {
    &::before {     
      border-radius: 6px;   
    }

    &--busy {
      &::before {
        background-color: $color-pastel-12;
      }
    }

    &--free {
      &::before {
        background-color: $color-pastel-8;     
      }
    }  
  }  
}

.c-tags {
  display: flex;
  flex-wrap: wrap;

  &__tag {
    margin: 0 4px 4px 0;
    background: $color-secondary-grey-bg;
    border: 1px solid $color-secondary-border;
    box-sizing: border-box;
    border-radius: 4px;    
    padding: 4px 12px;
    color: $text-black;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;

    @include mobile {
      font-size: 8px;
      line-height: 12px;
    }       

    &.hide {
      display: none;
    }
  }  
}
