.c-container {
  @include container;
  display: flex;
  align-items: flex-start;

  @include desktop-medium {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }  
}

.c-fullwidth {
  @include container;
  width: 100%;
}

.c-aside {
  flex: 0 0 290px;
  max-width: 290px;
  background: $text-ultra-silver;
  border-radius: 8px;
  padding: 20px 30px 20px 20px;

  @include desktop-medium {
    display: none;
  }

  @include tablet {
    display: none;
  }  

  &__title {
    display: none;

    @include desktop-medium {
      position: relative;
      display: inline-block;
      color: $text-black;
      font-weight: 800;
      font-size: 20px;
      line-height: 36px;
      background: none;

     &::after {
        content: '';
        position: absolute;
        top: 60%;
        left: 0;
        right: 0;
        width: 100%;
        height: 10px;
        background-color: $color-pastel-7;
        z-index: -1;
      }
    }    

    @include tablet {
      position: relative;
      display: inline-block;
      color: $text-black;
      font-weight: 800;
      font-size: 20px;
      line-height: 36px;
      //padding: 20px 20px 0;
      background: none;

      &::after {
        content: '';
        position: absolute;
        top: 60%;
        left: 0;
        right: 0;
        width: 100%;
        height: 10px;
        background-color: $color-pastel-7;
        z-index: -1;
      }
    }
  }

  &__close {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L17 17' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M17 1L0.999999 17' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    right: 27px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    background-size: contain;
    display: none;
  }

  &.over {
    padding: 20px;
    position: fixed;
    display: block;
    background: #fff;
    top: 0;
    right: 0;
    border-radius: 0;
    z-index: 3;
    height: 100%;
    overflow-y: auto;
  }
}

.c-sidebar {
  flex: 0 0 400px;

  @include desktop-medium {
    flex: auto;
    width: 100%;
    margin: 40px 0 0 0;
  }

  @include tablet {
    flex: auto;
    width: 100%;
    margin: 40px 0 0 0;
  }  
}

.c-wide-content {
  width: 100%;

  &--right {
    padding-left: 40px;

    @include desktop-medium {
      padding-left: 0;
      order: 1;
    }        

    @include tablet {
      padding-left: 0;
    }
  }

  &--left {
    padding-right: 40px;

    @include desktop-medium {
      padding-right: 0;
    }   
    
    @include tablet {
      padding-right: 0;
    }
  }  
}

.c-accent {
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-color: $color-pastel-6;
    z-index: -1;

    @include tablet {
      height: 10px;
    }
  }

  &--pagetitle {
    &::after {
      background-color: $color-pastel-7;
    }
  }
}

.c-button {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 64px;
  text-align: center;

  &--primary {
    background-color: $color-pastel-7;
    border: 2px solid $color-pastel-7;
    color: $text-black;
  }

  &--bordered {
    background-color: $text-white;
    border: 2px solid $color-pastel-7;
    color: $text-black;
  } 

  &--md {
    height: $control-height-md;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 12px;
    line-height: 16px;
  }

  &--lg {
    height: $control-height-lg;
    padding-left: 52px;
    padding-right: 52px;
    font-size: 14px;
    line-height: 28px;

    @include mobile {
      height: $control-height-lg--mobile;
      font-size: 14px;
      line-height: 2;
      padding-left: 32px;
      padding-right: 32px;
    }    
  }

  &--filter {
    @include desktop-medium {
      height: $control-height-lg--mobile;
      font-size: 12px;
      line-height: 14px;
      padding-left: 60px;
      padding-right: 60px;
    }  

    @include tablet {
      height: $control-height-lg--mobile;
      font-size: 12px;
      line-height: 20px;
      padding-left: 60px;
      padding-right: 60px;
    }  
  }

  &--mobile {
    @include tablet {
      position: relative;

      /*&::before {
        content: '';
        position: absolute;
        border-radius: 2px;
        background: $color-primary-white;
        width: 20px; 
        height: 3px;
        left: 8px;
        top: 13px;
      }
  
      &::after {
        content: '';
        position: absolute;
        border-radius: 2px;
        background: $color-primary-white;
        width: 12px; 
        height: 3px;
        left: 8px;
        top: 20px;
      }     */    
    } 
  }
}

.c-title {
  color: $text-black;
  font-weight: bold;

  &__title2 {
    font-size: 48px;
    line-height: 80px;
  }

  &__title3 {
    font-size: 32px;
    line-height: 64px;
  }

  &__title4 {
    font-size: 20px;
    line-height: 36px;
  } 

  &__title5 {
    font-size: 14px;
    line-height: 28px;
  }   

  &--warning {
    position: relative;
    padding: 0 0 0 22px;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7169 8.21339L8.05233 1.69937C7.63617 0.959589 6.84977 0.5 6 0.5C5.15025 0.5 4.36385 0.959589 3.94767 1.69937L0.283125 8.21339C0.0978984 8.54266 0 8.91626 0 9.29389C0 10.5104 0.991055 11.5 2.20924 11.5H9.79076C11.0089 11.5 12 10.5104 12 9.29389C12 8.91626 11.9021 8.54266 11.7169 8.21339ZM6 10.0957C5.41845 10.0957 4.94531 9.62328 4.94531 9.04255C4.94531 8.46182 5.41845 7.98936 6 7.98936C6.58155 7.98936 7.05469 8.46182 7.05469 9.04255C7.05469 9.62328 6.58155 10.0957 6 10.0957ZM7.05469 6.23404C7.05469 6.81477 6.58155 7.28723 6 7.28723C5.41845 7.28723 4.94531 6.81477 4.94531 6.23404V3.19149C4.94531 2.61076 5.41845 2.1383 6 2.1383C6.58155 2.1383 7.05469 2.61076 7.05469 3.19149V6.23404Z' fill='%23FDDDAA'/%3E%3C/svg%3E");
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      left: 0px;
      top: 50%;
      margin-top: -6px;
    }      
  }

  &--alert {
    position: relative;
    padding: 0 0 0 22px;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7169 8.21339L8.05233 1.69937C7.63617 0.959589 6.84977 0.5 6 0.5C5.15025 0.5 4.36385 0.959589 3.94767 1.69937L0.283125 8.21339C0.0978984 8.54266 0 8.91626 0 9.29389C0 10.5104 0.991055 11.5 2.20924 11.5H9.79076C11.0089 11.5 12 10.5104 12 9.29389C12 8.91626 11.9021 8.54266 11.7169 8.21339ZM6 10.0957C5.41845 10.0957 4.94531 9.62328 4.94531 9.04255C4.94531 8.46182 5.41845 7.98936 6 7.98936C6.58155 7.98936 7.05469 8.46182 7.05469 9.04255C7.05469 9.62328 6.58155 10.0957 6 10.0957ZM7.05469 6.23404C7.05469 6.81477 6.58155 7.28723 6 7.28723C5.41845 7.28723 4.94531 6.81477 4.94531 6.23404V3.19149C4.94531 2.61076 5.41845 2.1383 6 2.1383C6.58155 2.1383 7.05469 2.61076 7.05469 3.19149V6.23404Z' fill='%23EBBAB4'/%3E%3C/svg%3E");
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      left: 0px;
      top: 50%;
      margin-top: -6px;
    }      
  }  

  &--goal {
    position: relative;
    padding: 0 0 0 22px;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='8.99951' width='3' height='12' rx='1' fill='%23ADDED4'/%3E%3Crect x='4.5' y='6' width='3' height='6' rx='1' fill='%23ADDED4'/%3E%3Crect x='0.000488281' y='4.5' width='3' height='7.5' rx='1' fill='%23ADDED4'/%3E%3C/svg%3E");
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      left: 0px;
      top: 50%;
      margin-top: -6px;
    }
  }  
}

.c-decoration {
  position: absolute;

  &--100 {
    width: 100px;
    height: 100px;
    border-radius: 75px;
  }

  &--75 {
    width: 75px;
    height: 75px;
    border-radius: 50px;   
  }  

  &--white {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(53.69% 53.69% at 37.5% 38%, #38D0B5 0%, #38D0B5 100%);
    box-shadow: 32px 32px 64px rgba(0, 0, 0, 0.15), inset 32px 32px 50px rgba(255, 255, 255, 0.5), inset 32px 32px 50px rgba(255, 255, 255, 0.15), inset 8px 8px 25px rgba(255, 255, 255, 0.5), inset -8px -8px 50px rgba(0, 0, 0, 0.15), inset -2px -2px 10px rgba(0, 0, 0, 0.15);
  }

  &--black {
    background: linear-gradient(0deg, #273233, #273233), radial-gradient(53.69% 53.69% at 37.5% 38%, #38D0B5 0%, #38D0B5 100%);
    box-shadow: 32px 32px 64px rgba(0, 0, 0, 0.35), inset 32px 32px 50px rgba(59, 75, 77, 0.5), inset 32px 32px 50px rgba(59, 75, 77, 0.15), inset 8px 8px 25px rgba(59, 75, 77, 0.5), inset -8px -8px 50px rgba(0, 0, 0, 0.15), inset -2px -2px 10px rgba(0, 0, 0, 0.15);
  }
}

.c-gradient {
  background: linear-gradient(94.78deg, #51DB91 0%, #38D0B5 100%);
}

.c-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;

  @include tablet {
    justify-content: center;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;

    &:last-child {
      margin: 0;
    }

    &--current {
      background-color: $text-ultra-silver;
      border-radius: 26px;
    }
  }

  &__link {
    color: $text-grey;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;

    @include mobile {
      font-size: 12px;
      line-height: 16px;
    }

    &--current {
      color: $color-pastel-7;
    }
  }
}

.c-info {
  margin: 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $text-grey;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;

  @include mobile {
    font-size: 10px;
    line-height: 14px;
  }

  & > div {
    position: relative;
    padding: 0 0 0 13px;
    margin: 0 0 0 20px;

    @include tablet {
      margin: 0 0 0 10px;
    }

    &:first-child {
      margin: 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 8px;
      height: 8px;
      top: 50%;
      margin-top: -4px;
      background-size: contain;
    }
  }

  &__experience {
    white-space: nowrap;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.4903 4.70312H5.17188V4.9375C5.17188 5.06702 5.06702 5.17188 4.9375 5.17188H3.0625C2.93298 5.17188 2.82812 5.06702 2.82812 4.9375V4.70312H1.5097C1.20667 4.70312 0.93866 4.50995 0.842712 4.22247L0 1.69391V6.8125C0 7.2002 0.31543 7.51562 0.703125 7.51562H7.29688C7.68457 7.51562 8 7.2002 8 6.8125V1.69409L7.15723 4.22247C7.06134 4.50995 6.79333 4.70312 6.4903 4.70312Z' fill='%239E9DA3'/%3E%3Cpath d='M4.93756 0.484375H3.06256C2.67487 0.484375 2.35944 0.799805 2.35944 1.1875V1.42188H0.40332L1.28729 4.07416C1.31934 4.17004 1.40881 4.23438 1.50977 4.23438H2.82819V4C2.82819 3.87048 2.93304 3.76562 3.06256 3.76562H4.93756C5.06708 3.76562 5.17194 3.87048 5.17194 4V4.23438H6.49036C6.59131 4.23438 6.68079 4.17004 6.71283 4.07416L7.59686 1.42188H5.64069V1.1875C5.64069 0.799805 5.32526 0.484375 4.93756 0.484375ZM2.82819 1.42188V1.1875C2.82819 1.05817 2.93323 0.953125 3.06256 0.953125H4.93756C5.06689 0.953125 5.17194 1.05817 5.17194 1.1875V1.42188H2.82819Z' fill='%239E9DA3'/%3E%3C/svg%3E");
    }
  }

  &__projects {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00758 5.33331C5.0246 5.2243 5.03291 5.1123 5.03291 5C5.03291 4.88831 5.0246 4.77765 5.00794 4.66931L5.55891 4.237C5.68824 4.13531 5.72395 3.95135 5.64191 3.80798L5.28626 3.19202C5.20356 3.04901 5.02595 2.98767 4.87293 3.04932L4.22358 3.31097C4.04627 3.16803 3.85389 3.05664 3.65028 2.97931L3.55158 2.28601C3.52827 2.12299 3.3866 2 3.22157 2H2.51093C2.34589 2 2.20423 2.12299 2.18092 2.28632L2.08222 2.97998C1.87824 3.05835 1.68391 3.17102 1.5116 3.31097L0.85926 3.04932C0.706245 2.98798 0.528938 3.04932 0.446236 3.19202L0.0908889 3.80798C0.0082473 3.95135 0.044258 4.13599 0.174568 4.2373L0.724922 4.66669C0.707893 4.7757 0.699593 4.8877 0.699593 5C0.699593 5.11169 0.707893 5.22235 0.724556 5.33069L0.173592 5.763C0.044258 5.86469 0.0086135 6.04865 0.0905837 6.19202L0.44593 6.80798C0.528572 6.95068 0.706245 7.01202 0.85926 6.95068L1.50861 6.68903C1.68592 6.83197 1.87824 6.94336 2.08192 7.02069L2.18061 7.71399C2.20423 7.87701 2.34589 8 2.51093 8H3.22157C3.3866 8 3.52827 7.87701 3.55158 7.71368L3.65028 7.02002C3.85426 6.94165 4.04859 6.82898 4.22089 6.68903L4.87324 6.95068C5.02692 7.01233 5.20393 6.95099 5.28626 6.80798L5.64161 6.19202C5.72425 6.04865 5.68824 5.86401 5.55793 5.7627L5.00758 5.33331ZM2.86628 6.16669C2.22291 6.16669 1.69959 5.64331 1.69959 5C1.69959 4.35669 2.22291 3.83331 2.86628 3.83331C3.50959 3.83331 4.03291 4.35669 4.03291 5C4.03291 5.64331 3.50959 6.16669 2.86628 6.16669Z' fill='%239E9DA3'/%3E%3Cpath d='M7.60088 1.823C7.60723 1.77136 7.61657 1.72034 7.61657 1.66669C7.61657 1.61298 7.60723 1.56201 7.60088 1.51031L7.90124 1.28302C7.96819 1.23236 7.98687 1.13965 7.94488 1.06665L7.67522 0.599976C7.63323 0.527344 7.54351 0.497009 7.46618 0.529663L7.12054 0.675354C7.03619 0.611023 6.94653 0.554321 6.84753 0.513L6.80157 0.145996C6.79089 0.0626831 6.72021 0 6.63622 0H6.09722C6.01324 0 5.9422 0.0626831 5.93188 0.145996L5.88586 0.513C5.78686 0.554321 5.6969 0.611328 5.61285 0.675354L5.26721 0.529663C5.18957 0.497009 5.09985 0.526978 5.05786 0.599976L4.78857 1.06665C4.74652 1.13934 4.7652 1.23199 4.83221 1.28302L5.13257 1.51031C5.12585 1.56201 5.11658 1.61298 5.11658 1.66669C5.11658 1.72034 5.12585 1.77136 5.1322 1.823L4.83191 2.05035C4.76489 2.10101 4.74622 2.19366 4.78821 2.26666L5.05786 2.73334C5.09985 2.80603 5.18957 2.8363 5.26691 2.80365L5.61255 2.65765C5.6969 2.72198 5.78656 2.77869 5.88556 2.82001L5.93151 3.18701C5.9422 3.27069 6.01287 3.33331 6.09686 3.33331H6.63586C6.7199 3.33331 6.79089 3.27069 6.8012 3.18732L6.84722 2.82031C6.94622 2.77899 7.03619 2.72198 7.12023 2.65802L7.46587 2.80365C7.54351 2.8363 7.63323 2.80634 7.67522 2.73334L7.94451 2.26666C7.98656 2.19397 7.96789 2.10132 7.90087 2.05035L7.60088 1.823ZM6.36657 2.33331C5.99823 2.33331 5.69989 2.03497 5.69989 1.66669C5.69989 1.29834 5.99823 1 6.36657 1C6.73486 1 7.0332 1.29834 7.0332 1.66669C7.0332 2.03497 6.73486 2.33331 6.36657 2.33331Z' fill='%239E9DA3'/%3E%3C/svg%3E");
    }    
  }

  &__location {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0C2.32 0 0.953125 1.36688 0.953125 3.04688C0.953125 3.71172 1.16313 4.34344 1.56094 4.87344L3.81219 7.90548C3.81781 7.91283 3.82641 7.91564 3.83266 7.9222C3.94516 8.04267 4.1075 8.01236 4.18766 7.90548C4.83594 7.04048 6.02422 5.425 6.48109 4.81563C6.48109 4.81563 6.48125 4.81516 6.48141 4.81484L6.48422 4.81109C6.85234 4.29391 7.04688 3.68391 7.04688 3.04688C7.04688 1.36688 5.68 0 4 0ZM4 4.69063C3.09547 4.69063 2.35625 3.95141 2.35625 3.04688C2.35625 2.14234 3.09547 1.40313 4 1.40313C4.90453 1.40313 5.64375 2.14234 5.64375 3.04688C5.64375 3.95141 4.90453 4.69063 4 4.69063Z' fill='%239E9DA3'/%3E%3C/svg%3E");
    }
  }

  &__date {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M4.37204 6.62037C4.37204 6.47005 4.25011 6.34827 4.09966 6.34827H3.14918C2.99891 6.34827 2.87695 6.47005 2.87695 6.62037V7.57073C2.87695 7.72125 2.99891 7.84308 3.14918 7.84308H4.09966C4.25011 7.84308 4.37204 7.72125 4.37204 7.57073V6.62037Z' fill='%239E9DA3'/%3E%3Cpath d='M6.74739 6.62037C6.74739 6.47005 6.62543 6.34827 6.47528 6.34827H5.52467C5.3744 6.34827 5.25244 6.47005 5.25244 6.62037V7.57073C5.25244 7.72125 5.3744 7.84308 5.52467 7.84308H6.47528C6.62543 7.84308 6.74739 7.72125 6.74739 7.57073V6.62037Z' fill='%239E9DA3'/%3E%3Cpath d='M9.12301 6.62037C9.12301 6.47005 9.00106 6.34827 8.85079 6.34827H7.9003C7.74986 6.34827 7.62793 6.47005 7.62793 6.62037V7.57073C7.62793 7.72125 7.74986 7.84308 7.9003 7.84308H8.85079C9.00106 7.84308 9.12301 7.72125 9.12301 7.57073V6.62037Z' fill='%239E9DA3'/%3E%3Cpath d='M4.37204 8.99601C4.37204 8.84544 4.25011 8.72375 4.09966 8.72375H3.14918C2.99891 8.72375 2.87695 8.84544 2.87695 8.99601V9.94619C2.87695 10.0966 2.99891 10.2184 3.14918 10.2184H4.09966C4.25011 10.2184 4.37204 10.0966 4.37204 9.94619V8.99601Z' fill='%239E9DA3'/%3E%3Cpath d='M6.74739 8.99601C6.74739 8.84544 6.62543 8.72375 6.47528 8.72375H5.52467C5.3744 8.72375 5.25244 8.84544 5.25244 8.99601V9.94619C5.25244 10.0966 5.3744 10.2184 5.52467 10.2184H6.47528C6.62543 10.2184 6.74739 10.0966 6.74739 9.94619V8.99601Z' fill='%239E9DA3'/%3E%3Cpath d='M9.12301 8.99601C9.12301 8.84544 9.00106 8.72375 8.85091 8.72375H7.9003C7.74986 8.72375 7.62793 8.84544 7.62793 8.99601V9.94619C7.62793 10.0966 7.74986 10.2184 7.9003 10.2184H8.85091C9.00106 10.2184 9.12301 10.0966 9.12301 9.94619V8.99601Z' fill='%239E9DA3'/%3E%3Cpath d='M10.8223 1.33614V2.78774C10.8223 3.44385 10.2901 3.97257 9.63407 3.97257H8.88448C8.22842 3.97257 7.68911 3.44385 7.68911 2.78774V1.33093H4.31049V2.78774C4.31049 3.44385 3.7712 3.97257 3.11524 3.97257H2.36549C1.70951 3.97257 1.17727 3.44385 1.17727 2.78774V1.33614C0.603936 1.35343 0.132812 1.82784 0.132812 2.41097V10.918C0.132812 11.5121 0.614335 12 1.20842 12H10.7912C11.3844 12 11.8668 11.5111 11.8668 10.918V2.41097C11.8668 1.82784 11.3957 1.35343 10.8223 1.33614ZM10.4742 10.3883C10.4742 10.645 10.266 10.8533 10.0092 10.8533H1.96994C1.7131 10.8533 1.50493 10.645 1.50493 10.3883V5.99406C1.50493 5.73722 1.71307 5.52894 1.96994 5.52894H10.0092C10.266 5.52894 10.4742 5.73722 10.4742 5.99406L10.4742 10.3883Z' fill='%239E9DA3'/%3E%3Cpath d='M2.3631 3.19437H3.10455C3.32961 3.19437 3.51208 3.01217 3.51208 2.78712V0.407406C3.51208 0.182328 3.32961 0 3.10455 0H2.3631C2.13802 0 1.95557 0.182328 1.95557 0.407406V2.78712C1.95557 3.01217 2.13802 3.19437 2.3631 3.19437Z' fill='%239E9DA3'/%3E%3Cpath d='M8.87479 3.19437H9.61625C9.84115 3.19437 10.0236 3.01217 10.0236 2.78712V0.407406C10.0237 0.182328 9.84118 0 9.61625 0H8.87479C8.64976 0 8.46729 0.182328 8.46729 0.407406V2.78712C8.46729 3.01217 8.64976 3.19437 8.87479 3.19437Z' fill='%239E9DA3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &__client {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M4.34333 0.623357L0.68 0.0666907C0.51 0.040024 0.336667 0.0866907 0.206667 0.196691C0.0766667 0.310024 0 0.473357 0 0.643357V7.66669C0 7.85002 0.15 8.00002 0.333333 8.00002H1.41667V6.25002C1.41667 5.92669 1.67667 5.66669 2 5.66669H2.83333C3.15667 5.66669 3.41667 5.92669 3.41667 6.25002V8.00002H4.83333V1.20002C4.83333 0.913357 4.62667 0.670024 4.34333 0.623357ZM1.83333 4.91669H1.33333C1.19533 4.91669 1.08333 4.80469 1.08333 4.66669C1.08333 4.52869 1.19533 4.41669 1.33333 4.41669H1.83333C1.97133 4.41669 2.08333 4.52869 2.08333 4.66669C2.08333 4.80469 1.97133 4.91669 1.83333 4.91669ZM1.83333 3.91669H1.33333C1.19533 3.91669 1.08333 3.80469 1.08333 3.66669C1.08333 3.52869 1.19533 3.41669 1.33333 3.41669H1.83333C1.97133 3.41669 2.08333 3.52869 2.08333 3.66669C2.08333 3.80469 1.97133 3.91669 1.83333 3.91669ZM1.83333 2.91669H1.33333C1.19533 2.91669 1.08333 2.80469 1.08333 2.66669C1.08333 2.52869 1.19533 2.41669 1.33333 2.41669H1.83333C1.97133 2.41669 2.08333 2.52869 2.08333 2.66669C2.08333 2.80469 1.97133 2.91669 1.83333 2.91669ZM1.83333 1.91669H1.33333C1.19533 1.91669 1.08333 1.80469 1.08333 1.66669C1.08333 1.52869 1.19533 1.41669 1.33333 1.41669H1.83333C1.97133 1.41669 2.08333 1.52869 2.08333 1.66669C2.08333 1.80469 1.97133 1.91669 1.83333 1.91669ZM3.5 4.91669H3C2.862 4.91669 2.75 4.80469 2.75 4.66669C2.75 4.52869 2.862 4.41669 3 4.41669H3.5C3.638 4.41669 3.75 4.52869 3.75 4.66669C3.75 4.80469 3.638 4.91669 3.5 4.91669ZM3.5 3.91669H3C2.862 3.91669 2.75 3.80469 2.75 3.66669C2.75 3.52869 2.862 3.41669 3 3.41669H3.5C3.638 3.41669 3.75 3.52869 3.75 3.66669C3.75 3.80469 3.638 3.91669 3.5 3.91669ZM3.5 2.91669H3C2.862 2.91669 2.75 2.80469 2.75 2.66669C2.75 2.52869 2.862 2.41669 3 2.41669H3.5C3.638 2.41669 3.75 2.52869 3.75 2.66669C3.75 2.80469 3.638 2.91669 3.5 2.91669ZM3.5 1.91669H3C2.862 1.91669 2.75 1.80469 2.75 1.66669C2.75 1.52869 2.862 1.41669 3 1.41669H3.5C3.638 1.41669 3.75 1.52869 3.75 1.66669C3.75 1.80469 3.638 1.91669 3.5 1.91669Z' fill='%239E9DA3'/%3E%3Cpath d='M7.53983 3.61394L5.1665 3.11694V7.99994H7.41649C7.73816 7.99994 7.99982 7.73828 7.99982 7.41661V4.18394C7.99982 3.90861 7.81216 3.67428 7.53983 3.61394ZM6.74983 6.99994H6.24983C6.11183 6.99994 5.99983 6.88794 5.99983 6.74994C5.99983 6.61194 6.11183 6.49994 6.24983 6.49994H6.74983C6.88783 6.49994 6.99983 6.61194 6.99983 6.74994C6.99983 6.88794 6.88783 6.99994 6.74983 6.99994ZM6.74983 5.99994H6.24983C6.11183 5.99994 5.99983 5.88794 5.99983 5.74994C5.99983 5.61194 6.11183 5.49994 6.24983 5.49994H6.74983C6.88783 5.49994 6.99983 5.61194 6.99983 5.74994C6.99983 5.88794 6.88783 5.99994 6.74983 5.99994ZM6.74983 4.99994H6.24983C6.11183 4.99994 5.99983 4.88794 5.99983 4.74994C5.99983 4.61194 6.11183 4.49994 6.24983 4.49994H6.74983C6.88783 4.49994 6.99983 4.61194 6.99983 4.74994C6.99983 4.88794 6.88783 4.99994 6.74983 4.99994Z' fill='%239E9DA3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='8' height='8' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &__deadline {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1386 12C10.366 12 10.5503 11.8156 10.5503 11.5883C10.5503 11.3609 10.366 11.1766 10.1386 11.1766H9.43314L9.4331 9.91183C9.4331 8.63235 8.73096 7.45627 7.45596 6.60014C7.29733 6.49364 7.19883 6.2637 7.19883 6.00006C7.19883 5.73642 7.29733 5.50644 7.45604 5.3999C8.73096 4.54381 9.4331 3.36777 9.43318 2.08825V0.823478H10.1386C10.366 0.823478 10.5503 0.639113 10.5503 0.411759C10.5503 0.184405 10.366 0 10.1386 0H1.86191C1.63456 0 1.4502 0.184364 1.4502 0.411719C1.4502 0.639073 1.63456 0.823437 1.86191 0.823437H2.56733V2.08821C2.56733 3.36773 3.26948 4.54377 4.54451 5.3999C4.7031 5.5064 4.8016 5.7363 4.8016 6.00002C4.8016 6.2637 4.7031 6.49364 4.54447 6.60018C3.26948 7.45627 2.56733 8.63231 2.56733 9.91183V11.1766H1.86191C1.63456 11.1766 1.4502 11.3609 1.4502 11.5883C1.4502 11.8157 1.63456 12 1.86191 12H10.1386Z' fill='%239E9DA3'/%3E%3C/svg%3E");
    }
  }

  &__email {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C2.69164 0 0 2.69164 0 6C0 9.30836 2.69164 12 6 12C7.05506 12 8.09252 11.7224 9.00073 11.1969L8.25 9.89831C7.56959 10.292 6.79138 10.5 6 10.5C3.51856 10.5 1.49999 8.48143 1.49999 6C1.49999 3.51856 3.51856 1.49999 6 1.49999C8.48143 1.49999 10.5 3.51856 10.5 6V6.65332C10.5 7.14405 10.1847 7.49999 9.75 7.49999C9.33654 7.49999 8.99999 7.16344 8.99999 6.74998V3.75H7.96322C7.4356 3.28906 6.75395 2.99999 6 2.99999C4.34582 2.99999 2.99999 4.34582 2.99999 6C2.99999 7.65418 4.34582 9.00001 6 9.00001C6.78772 9.00001 7.49992 8.6885 8.03578 8.19014C8.44883 8.681 9.05974 9.00001 9.75 9.00001C11.0116 9.00001 12 7.96914 12 6.65332V6C12 2.69164 9.30836 0 6 0V0ZM6 7.49999C5.17272 7.49999 4.50001 6.82726 4.50001 6C4.50001 5.17272 5.17274 4.50001 6 4.50001C6.82728 4.50001 7.49999 5.17274 7.49999 6C7.49999 6.82728 6.82728 7.49999 6 7.49999Z' fill='%23909090'/%3E%3C/svg%3E");
    }
  }

  &__view {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M5.99964 4.36368C5.09691 4.36368 4.36328 5.0973 4.36328 6.00004C4.36328 6.90277 5.09691 7.6364 5.99964 7.6364C6.90237 7.6364 7.636 6.90277 7.636 6.00004C7.636 5.0973 6.90235 4.36368 5.99964 4.36368Z' fill='%23909090'/%3E%3Cpath d='M6.00001 1.90912C3.27273 1.90912 0.943646 3.60547 0 6.00003C0.943646 8.39457 3.27273 10.0909 6.00001 10.0909C8.73001 10.0909 11.0564 8.39457 12 6.00003C11.0564 3.60547 8.73001 1.90912 6.00001 1.90912ZM6.00001 8.72729C4.49456 8.72729 3.27273 7.50546 3.27273 6C3.27273 4.49455 4.49456 3.27275 6.00001 3.27275C7.50547 3.27275 8.7273 4.49457 8.7273 6.00003C8.7273 7.50549 7.50547 8.72729 6.00001 8.72729Z' fill='%23909090'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }   

  &__term {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00391 0V1.3347H7.33861V2.00204C7.80574 1.93532 8.20615 1.93532 8.67331 2.00204V1.3347H10.008V0H6.00391Z' fill='%2335343A'/%3E%3Cpath d='M12.5449 4.40449L13.012 3.93736L13.5459 4.47125L14.4802 3.53695L12.4782 1.53491L11.5439 2.46921L12.0777 3.00307L11.4771 3.60368C8.27387 1.66836 4.13631 2.66938 2.26775 5.87265C0.399186 9.07591 1.40018 13.08 4.53672 15.0153C7.67326 16.9506 11.8108 15.9496 13.6794 12.7463C15.3477 10.0102 14.8806 6.54001 12.5449 4.40449ZM8.00691 13.9476C5.40426 13.9476 3.33549 11.8788 3.33549 9.27615C3.33549 6.67349 5.40426 4.6047 8.00691 4.6047V9.27612H12.6783C12.6784 11.8788 10.6096 13.9476 8.00691 13.9476Z' fill='%2335343A'/%3E%3C/svg%3E");
    }
  }

  &__moderation {
    &::before {  
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7169 8.21339L8.05233 1.69937C7.63617 0.959589 6.84977 0.5 6 0.5C5.15025 0.5 4.36385 0.959589 3.94767 1.69937L0.283125 8.21339C0.0978984 8.54266 0 8.91626 0 9.29389C0 10.5104 0.991055 11.5 2.20924 11.5H9.79076C11.0089 11.5 12 10.5104 12 9.29389C12 8.91626 11.9021 8.54266 11.7169 8.21339ZM6 10.0957C5.41845 10.0957 4.94531 9.62328 4.94531 9.04255C4.94531 8.46182 5.41845 7.98936 6 7.98936C6.58155 7.98936 7.05469 8.46182 7.05469 9.04255C7.05469 9.62328 6.58155 10.0957 6 10.0957ZM7.05469 6.23404C7.05469 6.81477 6.58155 7.28723 6 7.28723C5.41845 7.28723 4.94531 6.81477 4.94531 6.23404V3.19149C4.94531 2.61076 5.41845 2.1383 6 2.1383C6.58155 2.1383 7.05469 2.61076 7.05469 3.19149V6.23404Z' fill='%23FDDDAA'/%3E%3C/svg%3E");
    }
  }      

  &__positive {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.5V10.5C0 10.9142 0.33577 11.25 0.75 11.25H3V3.75H0.75C0.33577 3.75 0 4.08577 0 4.5Z' fill='%23ADDED4'/%3E%3Cpath d='M10.615 4.49995H8.39942C8.20569 4.49995 8.10865 4.37068 8.07605 4.31501C8.04346 4.25971 7.97754 4.11213 8.07129 3.94294L8.85242 2.53632C9.0238 2.22834 9.04138 1.86616 8.90112 1.54279C8.76086 1.21906 8.48401 0.984319 8.1416 0.898992L7.59082 0.761297C7.45678 0.727605 7.31469 0.770452 7.22131 0.87409L4.23083 4.19636C3.92065 4.54169 3.75 4.98701 3.75 5.45063V9.37494C3.75 10.4088 4.59118 11.2499 5.625 11.2499L9.35559 11.2496C10.1979 11.2496 10.9417 10.6823 11.1639 9.87042L11.9645 6.19659C11.9879 6.09442 12 5.98968 12 5.88495C12 5.1214 11.3785 4.49994 10.615 4.49994L10.615 4.49995Z' fill='%23ADDED4'/%3E%3C/svg%3E");
    }
  }

  &__negative {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M12 7.5L12 1.5C12 1.08582 11.6642 0.75 11.25 0.75L9 0.75L9 8.25L11.25 8.25C11.6642 8.25 12 7.91423 12 7.5Z' fill='%23EBBAB4'/%3E%3Cpath d='M1.38501 7.50005L3.60058 7.50005C3.79431 7.50005 3.89135 7.62932 3.92395 7.68499C3.95654 7.74029 4.02246 7.88787 3.92871 8.05706L3.14758 9.46368C2.9762 9.77166 2.95862 10.1338 3.09888 10.4572C3.23914 10.7809 3.51599 11.0157 3.8584 11.101L4.40918 11.2387C4.54322 11.2724 4.68531 11.2295 4.77869 11.1259L7.76917 7.80364C8.07935 7.45831 8.25 7.01299 8.25 6.54937L8.25 2.62506C8.25 1.59124 7.40882 0.750057 6.375 0.750057L2.64441 0.750423C1.80212 0.750423 1.05835 1.31768 0.836064 2.12958L0.0355277 5.80341C0.0120902 5.90558 5.22644e-06 6.01031 5.21728e-06 6.11505C5.15053e-06 6.8786 0.621466 7.50006 1.38502 7.50006L1.38501 7.50005Z' fill='%23EBBAB4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white' transform='translate(12 12) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &__available {
    &::before {     
      border-radius: 6px;   
    }

    &--busy {
      &::before {
        background-color: $color-pastel-12;
      }
    }

    &--free {
      &::before {
        background-color: $color-pastel-8;     
      }
    }  
  }  
}

.c-tags {
  display: flex;
  flex-wrap: wrap;

  &__tag {
    margin: 0 4px 4px 0;
    background: $color-secondary-grey-bg;
    border: 1px solid $color-secondary-border;
    box-sizing: border-box;
    border-radius: 4px;    
    padding: 4px 12px;
    color: $text-black;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;

    @include mobile {
      font-size: 8px;
      line-height: 12px;
    }       

    &.hide {
      display: none;
    }
  }  
}
