.c-aside__title.c-gradient Фильтр
  .c-aside__close(data-js-handler='mobile-filter__handler')
+searchFilters({
  title: 'Персонал', 
  expanded: true,
  inputs: [
    {label: 'Система обучения', name: 'name[]', checked: false}, 
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Подбор специалистов', name: 'name[]', checked: false},
    {label: 'Система обучения', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false}
  ]
})
+searchFilters({
  title: 'Финансы',
  expanded: true, 
  inputs: [
    {label: 'Система обучения', name: 'name[]', checked: false}, 
    {label: 'Оценка персонала', name: 'name[]', checked: true},
    {label: 'Подбор специалистов', name: 'name[]', checked: false},
    {label: 'Система обучения', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false}
  ]
})       
+searchFilters({
  title: 'Масштабирование',
  expanded: true, 
  inputs: [
    {label: 'Система обучения', name: 'name[]', checked: false}, 
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Подбор специалистов', name: 'name[]', checked: false},
    {label: 'Система обучения', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false}
  ]
})    
+searchFilters({
  title: 'Персонал', 
  expanded: false,
  inputs: [
    {label: 'Система обучения', name: 'name[]', checked: false}, 
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Подбор специалистов', name: 'name[]', checked: false},
    {label: 'Система обучения', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false}
  ]
})
+searchFilters({
  title: 'Финансы',
  expanded: false, 
  inputs: [
    {label: 'Система обучения', name: 'name[]', checked: false}, 
    {label: 'Оценка персонала', name: 'name[]', checked: true},
    {label: 'Подбор специалистов', name: 'name[]', checked: false},
    {label: 'Система обучения', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false}
  ]
})   
+searchFilters({
  title: 'Бухгалтерия',
  expanded: false, 
  inputs: [
    {label: 'Система обучения', name: 'name[]', checked: false}, 
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Подбор специалистов', name: 'name[]', checked: false},
    {label: 'Система обучения', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false}
  ]
})  
+searchFilters({
  title: 'Масштабирование',
  expanded: false, 
  inputs: [
    {label: 'Система обучения', name: 'name[]', checked: false}, 
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Подбор специалистов', name: 'name[]', checked: false},
    {label: 'Система обучения', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false},
    {label: 'Оценка персонала', name: 'name[]', checked: false}
  ]
})    
+searchFilters({
  title: 'Местоположение',
  expanded: true, 
  inputs: [
    {label: 'Киев', name: 'name[]', checked: false}, 
    {label: 'Киевская обл.', name: 'name[]', checked: false},
    {label: 'Львовская обл.', name: 'name[]', checked: false},
    {label: 'Харьковская обл.', name: 'name[]', checked: false},
    {label: 'Одесская обл.', name: 'name[]', checked: false},
    {label: 'Кувейтская обл.', name: 'name[]', checked: false},
    {label: 'Вашингтонская обл.', name: 'name[]', checked: false}
  ]
})
.filter-block
  .filter-block__title Рейтинг
  .range-slider
    .range-slider__inputs
      input(type='text', class='range-slider__min')
      .range-slider__delimiter
      input(type='text', class='range-slider__max')
    .range-slider__handler(data-js-handler='range-slider__handler')
.filter-block__links
  a.filter-block__search.c-button.c-button--bordered.c-button--lg(href="#") Отменить фильтры
  a.filter-block__search.c-button.c-button--primary.c-button--lg(href="#") Найти предложение 