.experts  
  +searchBlockExpert({
    image: 'assets/img/expert-avatar-1.jpg',
    name: 'Андрій Петренко',
    expirience: '10 лет',
    projects: '527',
    free: false,
    value: '8.75',
    progress: 'high',
    description: 'Допоможу твоєму бізнесу в розробці маркетингової стратегії та позиціонуванні бренду в соціальних мережах. На «ти» з усіма Digital-інструментами, які відомі світу :)',
    tags: [
      {name: 'Аудит', url: '#'},
      {name: 'Бухгалтерия', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
    ],
    expertLink: '#'
  })
  +searchBlockExpert({
    image: 'assets/img/expert-avatar-2.jpg',
    name: 'Андрій Петренко',
    expirience: '10 лет',
    projects: '527',
    free: true,
    value: '3.75',
    progress: 'low',
    description: 'Допоможу твоєму бізнесу в розробці маркетингової стратегії та позиціонуванні бренду в соціальних мережах. На «ти» з усіма Digital-інструментами, які відомі світу :)',
    tags: [
      {name: 'Аудит', url: '#'},
      {name: 'Бухгалтерия', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
    ],
    expertLink: '#'
  })        
  +searchBlockExpert({
    image: 'assets/img/expert-avatar-3.jpg',
    name: 'Андрій Петренко',
    expirience: '10 лет',
    projects: '527',
    free: true,
    value: '7.00',
    progress: 'middle',
    description: 'Допоможу твоєму бізнесу в розробці маркетингової стратегії та позиціонуванні бренду в соціальних мережах. На «ти» з усіма Digital-інструментами, які відомі світу :)',
    tags: [
      {name: 'Аудит', url: '#'},
      {name: 'Бухгалтерия', url: '#'},
      {name: 'Персонал', url: '#'},
    ],
    expertLink: '#'
  })
  +searchBlockExpert({
    image: 'assets/img/expert-avatar-1.jpg',
    name: 'Андрій Петренко',
    expirience: '10 лет',
    projects: '527',
    free: false,
    value: '8.75',
    progress: 'high',
    description: 'Допоможу твоєму бізнесу в розробці маркетингової стратегії та позиціонуванні бренду в соціальних мережах. На «ти» з усіма Digital-інструментами, які відомі світу :)',
    tags: [
      {name: 'Аудит', url: '#'},
      {name: 'Бухгалтерия', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
    ],
    expertLink: '#'
  })
  +searchBlockExpert({
    image: 'assets/img/expert-avatar-2.jpg',
    name: 'Андрій Петренко',
    expirience: '10 лет',
    projects: '527',
    free: true,
    value: '3.75',
    progress: 'low',
    description: 'Допоможу твоєму бізнесу в розробці маркетингової стратегії та позиціонуванні бренду в соціальних мережах. На «ти» з усіма Digital-інструментами, які відомі світу :)',
    tags: [
      {name: 'Аудит', url: '#'},
      {name: 'Бухгалтерия', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
    ],
    expertLink: '#'
  })        
  +searchBlockExpert({
    image: 'assets/img/expert-avatar-3.jpg',
    name: 'Андрій Петренко',
    expirience: '10 лет',
    projects: '527',
    free: true,
    value: '7.00',
    progress: 'middle',
    description: 'Допоможу твоєму бізнесу в розробці маркетингової стратегії та позиціонуванні бренду в соціальних мережах. На «ти» з усіма Digital-інструментами, які відомі світу :)',
    tags: [
      {name: 'Аудит', url: '#'},
      {name: 'Бухгалтерия', url: '#'},
      {name: 'Персонал', url: '#'},
    ],
    expertLink: '#'
  })
  +searchBlockExpert({
    image: 'assets/img/expert-avatar-1.jpg',
    name: 'Андрій Петренко',
    expirience: '10 лет',
    projects: '527',
    free: false,
    value: '8.75',
    progress: 'high',
    description: 'Допоможу твоєму бізнесу в розробці маркетингової стратегії та позиціонуванні бренду в соціальних мережах. На «ти» з усіма Digital-інструментами, які відомі світу :)',
    tags: [
      {name: 'Аудит', url: '#'},
      {name: 'Бухгалтерия', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
    ],
    expertLink: '#'
  })
  +searchBlockExpert({
    image: 'assets/img/expert-avatar-2.jpg',
    name: 'Андрій Петренко',
    expirience: '10 лет',
    projects: '527',
    free: true,
    value: '3.75',
    progress: 'low',
    description: 'Допоможу твоєму бізнесу в розробці маркетингової стратегії та позиціонуванні бренду в соціальних мережах. На «ти» з усіма Digital-інструментами, які відомі світу :)',
    tags: [
      {name: 'Аудит', url: '#'},
      {name: 'Бухгалтерия', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
    ],
    expertLink: '#'
  })        
  +searchBlockExpert({
    image: 'assets/img/expert-avatar-3.jpg',
    name: 'Андрій Петренко',
    expirience: '10 лет',
    projects: '527',
    free: true,
    value: '7.00',
    progress: 'middle',
    description: 'Допоможу твоєму бізнесу в розробці маркетингової стратегії та позиціонуванні бренду в соціальних мережах. На «ти» з усіма Digital-інструментами, які відомі світу :)',
    tags: [
      {name: 'Аудит', url: '#'},
      {name: 'Бухгалтерия', url: '#'},
      {name: 'Персонал', url: '#'},
    ],
    expertLink: '#'
  })                
  +searchBlockExpert({
    image: 'assets/img/expert-avatar-1.jpg',
    name: 'Андрій Петренко',
    expirience: '10 лет',
    projects: '527',
    free: false,
    value: '8.75',
    progress: 'high',
    description: 'Допоможу твоєму бізнесу в розробці маркетингової стратегії та позиціонуванні бренду в соціальних мережах. На «ти» з усіма Digital-інструментами, які відомі світу :)',
    tags: [
      {name: 'Аудит', url: '#'},
      {name: 'Бухгалтерия', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
      {name: 'Персонал', url: '#'},
    ],
    expertLink: '#'
  })        