footer.footer
  .footer__container
    .footer__socials
      a.footer__logo(href="/")
        img(src= 'assets/img/logo.svg' alt="logo")  
      .footer__socwrap
        a.footer__social.footer__social-fb(href="/")
        a.footer__social.footer__social-youtube(href="/")
        a.footer__social.footer__social-linkedin(href="/")
      .footer__legals
        .footer__legal 2021 Mira.hub | Все права защищены.
        .footer__legal Лицензия № 98487395483467587
        .footer__legal Дизайн и разработка:
          a(href="/") softblues.io
    .footer__menu
      .c-title.c-title__title5.footer__subtitle Пользователям
      a.footer__link(href="/") Предложения
      a.footer__link(href="/") Эксперты
      a.footer__link(href="/") Как это работает
      a.footer__link(href="/") Экспертиза
      a.footer__link(href="/") Ответственность платформы
      a.footer__link(href="/") Рекомендации пользователей
      a.footer__link(href="/") Ответы на частые вопросы
    .footer__menu
      .c-title.c-title__title5.footer__subtitle О компании
      a.footer__link(href="/") О компании
      a.footer__link(href="/") Наша команда
      a.footer__link(href="/") Партнеры
      a.footer__link(href="/") Статьи и новости   
    .footer__contacts
      .footer__phone +38 050 381-44-13
      a.footer__place(href="/") 01001 м. Київ,<br /> вул. Хрещатик 27а, оф. 20, 21
      a.footer__email(href="mailto:info@mira.hub") info@mira.hub

include ../../includes/popups/popup-login     
include ../../includes/popups/popup-register
include ../../includes/popups/popup-restore-pass