header.header
  .header__container
    a.header__logo(href="/")
      img(src= 'assets/img/logo.svg' alt="logo")  
    .header__links  
      a.header__link(href="/search_task.html") Пропозиції
      a.header__link(href="/search_expert.html") Експерти
      a.header__more(href="#") Як це працює 
    .header__buttons
      a.header__burger(href="#" data-js-handler="menu__toggle")
        div
        div
        div
        div      
      a.header__join.c-button.c-button--primary.c-button--md(href="#popup-login", data-js-handler='popup__handler') Приєднатись