.main-page-banner
  include header
  include menu
  .main-page-banner__container
    .main-page-banner__wrap
      h1.main-page-banner__title Зустрінь свого 
        span.c-accent експерта
      .main-page-banner__description Знайди того самого експерта-практика, з яким прокачаєш свій бізнес до нових висот. 
      .main-page-banner__buttons
        a.main-page-banner__link.c-button.c-button--primary.c-button--lg(href="#") Знайти експерта
        a.main-page-banner__link.c-button.c-button--bordered.c-button--lg(href="#") Переглянути запити
        a.main-page-banner__more(href="#") Як це працює
      .main-page-banner__note Професійність експертів є цінністю MIRAHUB та гарантом безпечної угоди для клієнта.
    .main-page-banner__video
       video(onloadeddata="this.play();", playsinline, loop, muted, controls)
        source(src="assets/img/video.mp4", type="video/mp4")
        source(src="assets/img/video.webm", type="video/webm")