.main-page-banner
  include header
  .main-page-banner__container
    h1.main-page-banner__title Соединяем миры бизнес-потребностей и экспертизы
    .main-page-banner__description Проверенные нами эксперты с многолетним опытом работы помогут вашему бизнесу развиваться.
    .main-page-banner__buttons
      a.main-page-banner__link.c-button.c-button--primary.c-button--lg(href="#") Поиск потребностей
      a.main-page-banner__link.c-button.c-button--bordered.c-button--lg(href="#") Поиск эксперта 
      a.main-page-banner__more(href="#") Как это работает?
    .main-page-banner__note Професійність експертів є цінністю MIRAHUB та гарантом безпечної угоди для клієнта.
    .main-page-banner__img
      img(src='assets/img/illustration.png')