.main-menu
  ul.main-menu__list
    li
      a.main-menu__el(href="./index.html") Главная
    li  
      a.main-menu__el(href="./search_expert.html") Поиск эксперта
    li  
      a.main-menu__el(href="./search_task.html") Поиск предложения     
.overlay(data-js-handler="menu__toggle")