.main-menu
  ul.main-menu__list 
    li 
      a(href="#") Експертам       
    li 
      a(href="#") Клієнтам
    li 
      a(href="#") Відповідальність
    li 
      a(href="#") Часті питання
    li 
      a(href="#") Про нас
    li 
      a(href="#") Команда
    li 
      a(href="#") Партнери
    li 
      a(href="#") Контакти                                        
.overlay(data-js-handler='overlay__handler')