.main-menu
  ul.main-menu__list
    li
      a.main-menu__el(href="./index.html") Главная
    li  
      a.main-menu__el(href="./search_expert.html") Поиск эксперта
    li  
      a.main-menu__el(href="./details_expert.html") Подробнее об эксперте 
    li  
      a.main-menu__el(href="./search_task.html") Поиск предложения     
    li  
      a.main-menu__el(href="./details_task.html") Детали предложения        
.overlay(data-js-handler="menu__toggle")