+relatedArticles({
  title: 'Что выбрать: конструктор интернет-магазина или полноценный движок', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})
+relatedArticles({
  title: 'Повышаем уровень продаж с помощью подарочных сертификатов', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})  
+relatedArticles({
  title: 'Рассчитываем рентабельность интернет-магазина', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})
+relatedArticles({
  title: 'Управление интернет-магазином: 14 необходимых инструментов', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})  
+relatedArticles({
  title: 'Увеличиваем посещаемость интернет-магазина', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})
+relatedArticles({
  title: '10 проверенных методов увеличить конверсию интернет-магазина', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})  
+relatedArticles({
  title: 'Особенности организации работы интернет-магазина', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})
+relatedArticles({
  title: 'Как организовать бизнес на товарах из Китая', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
}) 
+relatedArticles({
  title: 'Интернет-магазин для вашего бизнеса: зачем он нужен?', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})
+relatedArticles({
  title: 'Конкурсы в социальных сетях и идеи для них', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
}) 