.tasks 
  +searchBlockTask({
    name: 'Розробити HR стратегію',
    location: 'Київ, Україна',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегія', url: '#'},
      {name: 'Впровадження стратегії', url: '#'},
    ],
    taskLink: '#'
  })
  +searchBlockTask({
    name: 'Розробити HR стратегію',
    location: 'Київ, Україна',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегія', url: '#'},
      {name: 'Впровадження стратегії', url: '#'},
    ],
    taskLink: '#'
  })
  +searchBlockTask({
    name: 'Розробити HR стратегію',
    location: 'Київ, Україна',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегія', url: '#'},
      {name: 'Впровадження стратегії', url: '#'},
    ],
    taskLink: '#'
  })
  +searchBlockTask({
    name: 'Розробити HR стратегію',
    location: 'Київ, Україна',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегія', url: '#'},
      {name: 'Впровадження стратегії', url: '#'},
    ],
    taskLink: '#'
  })
  +searchBlockTask({
    name: 'Розробити HR стратегію',
    location: 'Київ, Україна',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегія', url: '#'},
      {name: 'Впровадження стратегії', url: '#'},
    ],
    taskLink: '#'
  })      
  +searchBlockTask({
    name: 'Розробити HR стратегію',
    location: 'Київ, Україна',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегія', url: '#'},
      {name: 'Впровадження стратегії', url: '#'},
    ],
    taskLink: '#'
  })
  +searchBlockTask({
    name: 'Розробити HR стратегію',
    location: 'Київ, Україна',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегія', url: '#'},
      {name: 'Впровадження стратегії', url: '#'},
    ],
    taskLink: '#'
  })
  +searchBlockTask({
    name: 'Розробити HR стратегію',
    location: 'Київ, Україна',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегія', url: '#'},
      {name: 'Впровадження стратегії', url: '#'},
    ],
    taskLink: '#'
  })
  +searchBlockTask({
    name: 'Розробити HR стратегію',
    location: 'Київ, Україна',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегія', url: '#'},
      {name: 'Впровадження стратегії', url: '#'},
    ],
    taskLink: '#'
  })
  +searchBlockTask({
    name: 'Розробити HR стратегію',
    location: 'Київ, Україна',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегія', url: '#'},
      {name: 'Впровадження стратегії', url: '#'},
    ],
    taskLink: '#'
  })