.tasks 
  +taskBlock({
    name: 'Разработать HR стратегию',
    location: 'Киев, Украина',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегия', url: '#'},
      {name: 'Внедрение стратегии', url: '#'},
    ],
    taskLink: '#'
  })
  +taskBlock({
    name: 'Разработать HR стратегию',
    location: 'Киев, Украина',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегия', url: '#'},
      {name: 'Внедрение стратегии', url: '#'},
    ],
    taskLink: '#'
  })
  +taskBlock({
    name: 'Разработать HR стратегию',
    location: 'Киев, Украина',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегия', url: '#'},
      {name: 'Внедрение стратегии', url: '#'},
    ],
    taskLink: '#'
  })
  +taskBlock({
    name: 'Разработать HR стратегию',
    location: 'Киев, Украина',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегия', url: '#'},
      {name: 'Внедрение стратегии', url: '#'},
    ],
    taskLink: '#'
  })
  +taskBlock({
    name: 'Разработать HR стратегию',
    location: 'Киев, Украина',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегия', url: '#'},
      {name: 'Внедрение стратегии', url: '#'},
    ],
    taskLink: '#'
  })        
  +taskBlock({
    name: 'Разработать HR стратегию',
    location: 'Киев, Украина',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегия', url: '#'},
      {name: 'Внедрение стратегии', url: '#'},
    ],
    taskLink: '#'
  })
  +taskBlock({
    name: 'Разработать HR стратегию',
    location: 'Киев, Украина',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегия', url: '#'},
      {name: 'Внедрение стратегии', url: '#'},
    ],
    taskLink: '#'
  })
  +taskBlock({
    name: 'Разработать HR стратегию',
    location: 'Киев, Украина',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегия', url: '#'},
      {name: 'Внедрение стратегии', url: '#'},
    ],
    taskLink: '#'
  })
  +taskBlock({
    name: 'Разработать HR стратегию',
    location: 'Киев, Украина',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегия', url: '#'},
      {name: 'Внедрение стратегии', url: '#'},
    ],
    taskLink: '#'
  })
  +taskBlock({
    name: 'Разработать HR стратегию',
    location: 'Киев, Украина',
    date: '15.01.2021',
    client: 'Rozetka',
    description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
    tags: [
      {name: 'HR', url: '#'},
      {name: 'HR стратегия', url: '#'},
      {name: 'Внедрение стратегии', url: '#'},
    ],
    taskLink: '#'
  })  