.account-prop {
  &__wrap {
    margin: 40px 0;
  }

  &__block {
    border-top: 2px solid $color-secondary-border;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;

    &:first-child {
      margin: 0;
    }

    &:last-child {
      border-bottom: 2px solid $color-secondary-border;
      padding: 20px 0;
    }
  }

  &__tabs {
    width: 100%;

    li {
      width: 25%;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0 0 8px;
  }

  &__content {
    color: $text-black;
    font-size: 14px;
    line-height: 28px;
    margin: 0 0 10px;
  }

  &__info  {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 8px;

    .c-info {
      margin: 0;
    }
  }

  &__error {
    color: #ff0000;
    font-size: 14px;
    line-height: 1;
  }

  &__controls {
    a {
      position: relative;
      font-size: 14px;
      line-height: 18px;
      color: $text-black;
      padding: 0 0 0 20px;
      margin: 0 0 0 20px;
      text-decoration: underline;
      text-decoration-color: $color-pastel-7;
      text-decoration-thickness: 2px;
      text-underline-position: under;

      &:first-child {
        margin: 0;
      }

      &::before {
        left: 0;
        top: 2px;
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
      }
    }
  }

  &__edit {
     &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1427 8C12.8271 8 12.5712 8.25583 12.5712 8.57143V14.2856C12.5712 14.6012 12.3154 14.857 11.9998 14.857H1.71426C1.39866 14.857 1.14283 14.6012 1.14283 14.2856V2.85721C1.14283 2.54161 1.39866 2.28578 1.71426 2.28578H8.57131C8.88691 2.28578 9.14275 2.02994 9.14275 1.71434C9.14275 1.39874 8.88691 1.14294 8.57131 1.14294H1.71426C0.767501 1.14294 0 1.91045 0 2.85721V14.2856C0 15.2324 0.767501 15.9999 1.71426 15.9999H11.9998C12.9466 15.9999 13.7141 15.2324 13.7141 14.2856V8.5714C13.7141 8.25583 13.4583 8 13.1427 8Z' fill='%23ADDED4'/%3E%3Cpath d='M15.3564 0.640904C14.9461 0.230552 14.3896 6.41474e-05 13.8094 0.000131111C13.2288 -0.00154297 12.6717 0.229347 12.2626 0.641272L4.73576 8.16742C4.67332 8.23033 4.62621 8.30681 4.59805 8.39085L3.45522 11.8194C3.35548 12.1188 3.51737 12.4424 3.81679 12.5421C3.87488 12.5614 3.93572 12.5713 3.99692 12.5714C4.05826 12.5713 4.11923 12.5614 4.17749 12.5422L7.60602 11.3994C7.69022 11.3713 7.76673 11.3239 7.82944 11.2611L15.3562 3.73438C16.2105 2.88019 16.2106 1.49519 15.3564 0.640904Z' fill='%23ADDED4'/%3E%3C/svg%3E");
    }
  }

  &__cancel {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.875 5.46598L10.1654 7.75637L10.1763 7.6364C10.1763 6.43303 9.19835 5.45508 7.99497 5.45508L7.875 5.46598Z' fill='%23ADDED4'/%3E%3Cpath d='M7.99514 4.00092C10.002 4.00092 11.6307 5.62966 11.6307 7.63647C11.6307 8.10546 11.5362 8.55263 11.3726 8.96343L13.4994 11.0902C14.5973 10.1741 15.4626 8.98889 15.997 7.63647C14.7355 4.44448 11.6343 2.18317 7.99518 2.18317C6.97721 2.18317 6.00291 2.36493 5.09766 2.69213L6.66821 4.25904C7.07898 4.09908 7.52616 4.00092 7.99514 4.00092Z' fill='%23ADDED4'/%3E%3Cpath d='M0.727096 2.01953L2.3849 3.67734L2.71575 4.00818C1.51602 4.94615 0.567144 6.19315 0 7.63644C1.25791 10.8284 4.36265 13.0897 7.99819 13.0897C9.12522 13.0897 10.2013 12.8716 11.1866 12.4753L11.4956 12.7844L13.6151 14.9075L14.5422 13.9841L1.65416 1.09247L0.727096 2.01953ZM4.74802 6.03681L5.8714 7.16019C5.83868 7.31653 5.81687 7.47284 5.81687 7.63644C5.81687 8.83981 6.79482 9.81776 7.99819 9.81776C8.16179 9.81776 8.31813 9.79594 8.47083 9.76322L9.59421 10.8866C9.11067 11.1266 8.57263 11.272 7.99819 11.272C5.99138 11.272 4.36265 9.64325 4.36265 7.63644C4.36265 7.06203 4.50808 6.52396 4.74802 6.03681Z' fill='%23ADDED4'/%3E%3C/svg%3E");
    }
  }

  &__workflow {
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8ZM16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM9 6C9 6.55228 8.55228 7 8 7C7.44772 7 7 6.55228 7 6C7 5.44772 7.44772 5 8 5C8.55228 5 9 5.44772 9 6ZM9 10C9 10.5523 8.55228 11 8 11C7.44772 11 7 10.5523 7 10C7 9.44772 7.44772 9 8 9C8.55228 9 9 9.44772 9 10Z' fill='%23ADDED4'/%3E%3C/svg%3E");
    }
  }

  &__publish {
    &::before {  
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M7.99907 5.81836C6.79543 5.81836 5.81726 6.79653 5.81726 8.00017C5.81726 9.20382 6.79543 10.182 7.99907 10.182C9.20272 10.182 10.1809 9.20382 10.1809 8.00017C10.1809 6.79653 9.20268 5.81836 7.99907 5.81836Z' fill='%23ADDED4'/%3E%3Cpath d='M8.00002 2.5459C4.36364 2.5459 1.25819 4.8077 0 8.00045C1.25819 11.1932 4.36364 13.455 8.00002 13.455C11.64 13.455 14.7418 11.1932 16 8.00045C14.7418 4.8077 11.64 2.5459 8.00002 2.5459ZM8.00002 11.6368C5.99274 11.6368 4.36364 10.0077 4.36364 8.00041C4.36364 5.99314 5.99274 4.36407 8.00002 4.36407C10.0073 4.36407 11.6364 5.99317 11.6364 8.00045C11.6364 10.0077 10.0073 11.6368 8.00002 11.6368Z' fill='%23ADDED4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }    
  
  &__accept {
    &::before {  
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.58862 0 0 3.58862 0 8C0 12.4114 3.58862 16 8 16C12.4114 16 16 12.4114 16 8C16 3.58862 12.4114 0 8 0Z' fill='%23ADDED4'/%3E%3Cpath d='M12.0547 6.3042L7.72131 10.6375C7.59131 10.7675 7.42065 10.8329 7.25 10.8329C7.07935 10.8329 6.90869 10.7675 6.77869 10.6375L4.61206 8.47083C4.35132 8.21021 4.35132 7.78882 4.61206 7.5282C4.87268 7.26746 5.29395 7.26746 5.55469 7.5282L7.25 9.22351L11.1121 5.36157C11.3727 5.10083 11.7939 5.10083 12.0547 5.36157C12.3153 5.62219 12.3153 6.04346 12.0547 6.3042Z' fill='white'/%3E%3C/svg%3E");
    }
  }  

  &__decline {
    &::before {  
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.58862 0 0 3.58862 0 8C0 12.4114 3.58862 16 8 16C12.4114 16 16 12.4114 16 8C16 3.58862 12.4114 0 8 0Z' fill='%23EBBAB4'/%3E%3Cpath d='M10.9461 10.0022C11.2067 10.263 11.2067 10.6842 10.9461 10.945C10.8161 11.075 10.6454 11.1403 10.4746 11.1403C10.304 11.1403 10.1333 11.075 10.0033 10.945L8.00003 8.94156L5.99673 10.945C5.86673 11.075 5.69608 11.1403 5.52542 11.1403C5.35464 11.1403 5.18399 11.075 5.05399 10.945C4.79337 10.6842 4.79337 10.263 5.05399 10.0022L7.0574 7.99893L5.05399 5.99564C4.79337 5.73489 4.79337 5.31363 5.05399 5.05289C5.31473 4.79227 5.73599 4.79227 5.99673 5.05289L8.00003 7.0563L10.0033 5.05289C10.2641 4.79227 10.6853 4.79227 10.9461 5.05289C11.2067 5.31363 11.2067 5.73489 10.9461 5.99564L8.94266 7.99893L10.9461 10.0022Z' fill='white'/%3E%3C/svg%3E");
    }
  }    
   
  &__offers {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    color: $text-black;
    padding: 0 0 0 20px;
    text-decoration: underline;
    text-decoration-color: $color-pastel-7;
    text-decoration-thickness: 2px;
    text-underline-position: under;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8589 3.17871L11.0065 7.99993L15.8589 12.8211C15.9467 12.6378 15.9999 12.4351 15.9999 12.2187V3.78118C15.9999 3.56471 15.9467 3.36205 15.8589 3.17871Z' fill='%23ADDED4'/%3E%3Cpath d='M14.5917 2.375H1.40423C1.18776 2.375 0.985102 2.42822 0.801758 2.51594L7.00373 8.68668C7.5521 9.23505 8.44385 9.23505 8.99223 8.68668L15.1942 2.51594C15.0109 2.42822 14.8082 2.375 14.5917 2.375Z' fill='%23ADDED4'/%3E%3Cpath d='M0.140937 3.17871C0.0532188 3.36205 0 3.56471 0 3.78118V12.2187C0 12.4351 0.0532188 12.6378 0.140937 12.8211L4.99341 7.99993L0.140937 3.17871Z' fill='%23ADDED4'/%3E%3Cpath d='M10.3417 8.66309L9.65507 9.34974C8.74135 10.2635 7.25457 10.2635 6.34085 9.34974L5.65423 8.66309L0.801758 13.4843C0.985102 13.572 1.18776 13.6252 1.40423 13.6252H14.5917C14.8082 13.6252 15.0109 13.572 15.1942 13.4843L10.3417 8.66309Z' fill='%23ADDED4'/%3E%3C/svg%3E");
      left: 0;
      top: 2px;
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
    }
  }
}