.account-sidebar {
  background: $text-ultra-silver;
  border-radius: 8px;
  border: 1px solid $text-silver;

  &__imgwrap {
    background-color: #fff;
    border-radius:  0 8px 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 42px 0;
  }

  &__description {
    padding: 20px 40px 40px;
    border-radius:  8px 0 0 8px;
  }

  &__title {
    font-weight: 800;
  }

  &__block {
    margin: 20px 0 0 0;

    span {
      color: $text-black;
      font-size: 14px;
      line-height: 28px;
      margin: 0 12px 0 0;
    }

    strong {
      color: $text-black;
      font-size: 14px;
      line-height: 28px;
    }
  }

  &__select {
    min-width: 120px;
    position: relative;
    padding: 0 0 0 17px;

    &::before {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 6px;
      left: 0;
      top: 8px;
    }
    
    &.free {
      &::before {
        background: $color-pastel-7;
      }
    }

    &.busy {
      &::before {
        background-color: $color-pastel-12;
      }
    }
  }

  &__status {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: flex-start;

    select {
      background: none;
      font-size: 14px;
      line-height: 28px;
      color: $text-black;
    }

    option {
      background: none;
      font-size: 14px;
      line-height: 28px;
      color: $text-black;      
    }
  }

  &__notice {
    font-size: 14px;
    line-height: 28px;
    color: $text-grey;
    margin: 0 28px 0 0;
  }

  &__info {
    position: relative;
    padding: 0 0 0 20px;
    color: $text-black;
    font-size: 14px;
    line-height: 28px;

    &::before {
      content: '';
      width: 14px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 6px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--location {
      margin: 0 0 20px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0C3.64 0 0.90625 2.73375 0.90625 6.09375C0.90625 7.42344 1.32625 8.68687 2.12188 9.74687L6.62437 15.811C6.63562 15.8257 6.65281 15.8313 6.66531 15.8444C6.89031 16.0853 7.215 16.0247 7.37531 15.811C8.67188 14.081 11.0484 10.85 11.9622 9.63125C11.9622 9.63125 11.9625 9.63031 11.9628 9.62969L11.9684 9.62219C12.7047 8.58781 13.0938 7.36781 13.0938 6.09375C13.0938 2.73375 10.36 0 7 0ZM7 9.38125C5.19094 9.38125 3.7125 7.90281 3.7125 6.09375C3.7125 4.28469 5.19094 2.80625 7 2.80625C8.80906 2.80625 10.2875 4.28469 10.2875 6.09375C10.2875 7.90281 8.80906 9.38125 7 9.38125Z' fill='%23909090'/%3E%3C/svg%3E");
      }
    }

    &--experience {
      margin: 0 0 4px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9806 9.4071H10.3438V9.87585C10.3438 10.1349 10.134 10.3446 9.875 10.3446H6.125C5.86597 10.3446 5.65625 10.1349 5.65625 9.87585V9.4071H3.01941C2.41333 9.4071 1.87732 9.02075 1.68542 8.4458L0 3.38867V13.6259C0 14.4012 0.630859 15.0321 1.40625 15.0321H14.5938C15.3691 15.0321 16 14.4012 16 13.6259V3.38904L14.3145 8.4458C14.1227 9.02075 13.5867 9.4071 12.9806 9.4071Z' fill='%23909090'/%3E%3Cpath d='M9.87525 0.96875H6.12524C5.34985 0.96875 4.71899 1.59961 4.71899 2.375V2.84375H0.806763L2.57471 8.14832C2.63879 8.34009 2.81775 8.46875 3.01965 8.46875H5.65649V8C5.65649 7.74097 5.86621 7.53125 6.12524 7.53125H9.87525C10.1343 7.53125 10.344 7.74097 10.344 8V8.46875H12.9808C13.1827 8.46875 13.3617 8.34009 13.4258 8.14832L15.1938 2.84375H11.2815V2.375C11.2815 1.59961 10.6506 0.96875 9.87525 0.96875ZM5.65649 2.84375V2.375C5.65649 2.11633 5.86658 1.90625 6.12524 1.90625H9.87525C10.1339 1.90625 10.344 2.11633 10.344 2.375V2.84375H5.65649Z' fill='%23909090'/%3E%3C/svg%3E");
      }
    }

    &--projects {
      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.015 10.6666C10.0491 10.4486 10.0657 10.2246 10.0657 10C10.0657 9.77661 10.0491 9.5553 10.0158 9.33862L11.1177 8.474C11.3764 8.27063 11.4478 7.90271 11.2837 7.61597L10.5724 6.38403C10.407 6.09802 10.0518 5.97534 9.74574 6.09863L8.44704 6.62195C8.09242 6.33606 7.70766 6.11328 7.30043 5.95862L7.10304 4.57202C7.05641 4.24597 6.77309 4 6.44301 4H5.02174C4.69167 4 4.40834 4.24597 4.36171 4.57263L4.16432 5.95996C3.75636 6.1167 3.36769 6.34204 3.02309 6.62195L1.7184 6.09863C1.41237 5.97595 1.05775 6.09863 0.892349 6.38403L0.181656 7.61597C0.0163725 7.90271 0.088394 8.27197 0.349014 8.47461L1.44972 9.33337C1.41566 9.55139 1.39906 9.77539 1.39906 10C1.39906 10.2234 1.41566 10.4447 1.44899 10.6614L0.347061 11.526C0.088394 11.7294 0.0171049 12.0973 0.181045 12.384L0.891739 13.616C1.05702 13.9014 1.41237 14.024 1.7184 13.9014L3.0171 13.3781C3.37172 13.6639 3.75636 13.8867 4.16371 14.0414L4.3611 15.428C4.40834 15.754 4.69167 16 5.02174 16H6.44301C6.77309 16 7.05641 15.754 7.10304 15.4274L7.30043 14.04C7.70839 13.8833 8.09706 13.658 8.44166 13.3781L9.74635 13.9014C10.0537 14.0247 10.4077 13.902 10.5724 13.616L11.2831 12.384C11.4484 12.0973 11.3764 11.728 11.1157 11.5254L10.015 10.6666ZM5.73244 12.3334C4.44569 12.3334 3.39906 11.2866 3.39906 10C3.39906 8.71338 4.44569 7.66663 5.73244 7.66663C7.01906 7.66663 8.06569 8.71338 8.06569 10C8.06569 11.2866 7.01906 12.3334 5.73244 12.3334Z' fill='%23909090'/%3E%3Cpath d='M15.2016 3.646C15.2143 3.54272 15.233 3.44067 15.233 3.33337C15.233 3.22595 15.2143 3.12402 15.2016 3.02063L15.8023 2.56604C15.9363 2.46472 15.9736 2.2793 15.8896 2.1333L15.3503 1.19995C15.2663 1.05469 15.0869 0.994019 14.9322 1.05933L14.241 1.35071C14.0723 1.22205 13.8929 1.10864 13.6949 1.026L13.603 0.291992C13.5817 0.125366 13.4403 0 13.2723 0H12.1943C12.0264 0 11.8843 0.125366 11.8636 0.291992L11.7716 1.026C11.5736 1.10864 11.3937 1.22266 11.2256 1.35071L10.5343 1.05933C10.379 0.994019 10.1996 1.05396 10.1156 1.19995L9.57703 2.1333C9.49292 2.27869 9.53027 2.46399 9.66431 2.56604L10.265 3.02063C10.2516 3.12402 10.233 3.22595 10.233 3.33337C10.233 3.44067 10.2516 3.54272 10.2643 3.646L9.6637 4.10071C9.52966 4.20203 9.49231 4.38733 9.57629 4.53333L10.1156 5.46667C10.1996 5.61206 10.379 5.67261 10.5337 5.6073L11.225 5.31531C11.3937 5.44397 11.573 5.55737 11.771 5.64001L11.8629 6.37402C11.8843 6.54138 12.0256 6.66663 12.1936 6.66663H13.2716C13.4397 6.66663 13.5817 6.54138 13.6023 6.37463L13.6943 5.64062C13.8923 5.55798 14.0723 5.44397 14.2403 5.31604L14.9316 5.6073C15.0869 5.67261 15.2663 5.61267 15.3503 5.46667L15.8889 4.53333C15.973 4.38794 15.9356 4.20264 15.8016 4.10071L15.2016 3.646ZM12.733 4.66663C11.9963 4.66663 11.3997 4.06995 11.3997 3.33337C11.3997 2.59668 11.9963 2 12.733 2C13.4696 2 14.0663 2.59668 14.0663 3.33337C14.0663 4.06995 13.4696 4.66663 12.733 4.66663Z' fill='%23909090'/%3E%3C/svg%3E");
      }
    }
  }
}