extends ../layout/1column

block variables
  - var title = 'Mira.hub article';
  - var description = 'Mira.hub article';
  - var pageClass = 'article-page';
  - let pageTitle = 'Хто ми'

block title 
  .page-title
    .page-title__container
      h1 Хто 
        span.c-accent.c-accent--pagetitle ми

block statusbar

block content 
  .about
    .about-explain 
      .about-explain__desc 
        h3.about-explain__why.c-title.c-title__title3 Чому ми це робимо?
        p До нас все частіше і частіше звертаються власники бізнесу з проханням порекомендувати хорошого експерта-консультанта для вирішення певної бізнес-потреби (від маркетингу до фінансів, від креативу до операційки та ін.).
        p Завдяки платформі ми консолідували весь наш, накопичений роками, нетворкінг і згрупували його в зрозумілі категорії.
        p Тепер кожен може використати базу крутих гуру на проєктній основі та досягати поставлених цілей максимальео швидко та спільно з MiraHub.
      .about-explain__img 
        img(src="assets/img/who_we_are.jpg")     
    .about-who 
      h3.c-title.c-title__title3.about-who__title Хто ми
      .about-who__container 
        .about-who__block 
          .about-who__imgwrap 
            img(src="assets/img/kadrashan.jpg")
          .about-who__textwrap
            .c-title.c-title__title5 Мирослава Трандаш
            .about-who__desc Head Marketing Director, Company Name
            p Біля 20 років системного управління HR функцією в українських та міжнародних бізнесах. 14 років досвіду Executive Search, з них 8 років як Керуючий Партнер власного бізнесу MIRA top recruiting.
            p Улюблена справа це формування управлінських команд, діагностика вузьких місць бізнесу та розробка рішень для розвитку бізнесів через людей.
        .about-who__block 
          .about-who__imgwrap 
            img(src="assets/img/chernishova.jpg")
          .about-who__textwrap
            .c-title.c-title__title5 Альона Чернишова
            .about-who__desc Head Marketing Director, Company Name
            p Більше 18 років досвіду в сфері HR, включаючи поняд 10 років управлінського досвіду в таких компаніях як: Фострот-техніка для дому, Platinum Bank, Сушія — мережа ресторанів японської кухні, та інші.
            p Досвід формування ефективних HR команд, та побудови оптимальних для компаній HR процесів.
            p Любов до аналітики та підвищення ефективності бізнес процесів.
            p Вміння слухати, розуміти проблему та пропонувати її рішення.         