extends ../layout/1column

block variables
  - var title = 'Mira.hub article';
  - var description = 'Mira.hub article';
  - var pageClass = 'article-page';
  - let pageTitle = 'Хто ми'

block title 
  .page-title
    .page-title__container
      h1 Хто 
        span.c-accent.c-accent--pagetitle ми

block statusbar

block content 
  .about
    .about-explain 
      .about-explain__desc 
        h3.about-explain__why.c-title.c-title__title3 Чому ми це робимо?
        p &nbsp;
        p До нас все частіше і частіше звертаються власники бізнесу з проханням порекомендувати хорошого експерта-консультанта для вирішення певної бізнес-потреби (від маркетингу до фінансів, від креативу до операційки та ін.).
        p Завдяки платформі ми консолідували весь наш, накопичений роками, нетворкінг і згрупували його в зрозумілі категорії.
        p Тепер кожен може використати базу крутих гуру на проєктній основі та досягати поставлених цілей максимальео швидко та спільно з MiraHub.
      .about-explain__img 
        img(src="assets/img/who_we_are.jpg")
    .about-unique 
      h3.c-title.c-title__title3.about-unique__title Наші унікальності
      .about-unique__container
        .about-unique__block
          .about-unique__imgwrap
            img(src="assets/img/benefit_icon_1.png")
          .about-unique__textwrap
            .c-title.c-title__title4.about-unique__head Практики для практиків
            .about-unique__description На платформі немає «лівих» людей. Експерти платформи — це перевірені часом профі з багажем успішно реалізованих кейсів.
        .about-unique__block
          .about-unique__imgwrap
            img(src="assets/img/benefit_icon_2.png")
          .about-unique__textwrap
            .c-title.c-title__title4.about-unique__head Новий формат
            .about-unique__description Якісна експертиза та проєктний підхід — це цілком сумісні та реальні поняття. Працюй з MIRAHUB та переконайся в цьому на практиці.
        .about-unique__block
          .about-unique__imgwrap
            img(src="assets/img/benefit_icon_3.png")
          .about-unique__textwrap
            .c-title.c-title__title4.about-unique__head Безпечна угода
            .about-unique__description Оплата проєкту відбувається тільки за фактом успішної реалізації. Ми дбаємо про це.         
    .about-who 
      h3.c-title.c-title__title3.about-who__title Хто ми
      .about-who__container 
        .about-who__block 
          .about-who__imgwrap 
            img(src="assets/img/Kadrashan.JPG")
          .about-who__textwrap
            .c-title.c-title__title5 Андрей Романишин
            .about-who__desc Head Marketing Director, Company Name
            p До нас все частіше і частіше звертаються власники бізнесу з проханням порекомендувати хорошого експерта-консультанта для вирішення певної бізнес-потреби (від маркетингу до фінансів, від креативу до операційки та ін.).
        .about-who__block 
          .about-who__imgwrap 
            img(src="assets/img/Chernishova.JPG")
          .about-who__textwrap
            .c-title.c-title__title5 Андрей Романишин
            .about-who__desc Head Marketing Director, Company Name
            p До нас все частіше і частіше звертаються власники бізнесу з проханням порекомендувати хорошого експерта-консультанта для вирішення певної бізнес-потреби (від маркетингу до фінансів, від креативу до операційки та ін.).
    .about-reviews
      .about-reviews__block 
        p — Маючи 20 річний досвід в сфері управління персоналом, ми точно знаємо, що секрет успішного бізнесу — це якісна команда. Саме тому створили для тебе унікальну підбірку найкращих практиків та гуру своєї справи, яким під силу будь-яке бізнес-завдання.
        .c-title.c-title__title5.about-reviews__title Мирослава Трандаш та Альона Чернишова 
        .about-reviews__desc фаундери MIRA
      .about-reviews__block 
        p — Маючи 20 річний досвід в сфері управління персоналом, ми точно знаємо, що секрет успішного бізнесу — це якісна команда. Саме тому створили для тебе унікальну підбірку найкращих практиків та гуру своєї справи, яким під силу будь-яке бізнес-завдання.
        .c-title.c-title__title5.about-reviews__title Мирослава Трандаш та Альона Чернишова 
        .about-reviews__desc фаундери MIRA
      .about-reviews__block 
        p — Маючи 20 річний досвід в сфері управління персоналом, ми точно знаємо, що секрет успішного бізнесу — це якісна команда. Саме тому створили для тебе унікальну підбірку найкращих практиків та гуру своєї справи, яким під силу будь-яке бізнес-завдання.
        .c-title.c-title__title5.about-reviews__title Мирослава Трандаш та Альона Чернишова 
        .about-reviews__desc фаундери MIRA                