extends ../layout/2columns-wide-sidebar-right

block variables
  - var title = 'Mira.hub account propositions';
  - var description = 'Mira.hub account propositions';
  - var pageClass = 'account-page';
  - let witchPage = 'account propositions'
  - let pageTitle = 'Особистий кабінет'

block title 
  .page-title
    .page-title__container
      h1 Особистий 
        span.c-accent.c-accent--pagetitle кабінет

block statusbar

block sidebar
  .account-sidebar
    .account-sidebar__imgwrap 
      img(src="assets/img/rozetka.jpg", alt="img")
    .account-sidebar__description
      .c-title.c-title__title3.account-sidebar__title Rozetka
      .account-sidebar__block
        p
          span Відгуків:
          strong 1 / 0 / 2
        p
          span К-сть пропозицій:
          strong 34 
      .account-sidebar__block
        .c-title.c-title__title4 Локація:
        .account-sidebar__info.account-sidebar__info--location Київ, Україна
        p
          span На сайті:
          strong 1 рік
        p
          span Заходив:
          strong 4 хвилини тому     
      .account-sidebar__block   
        .c-title.c-title__title4 Контакти:    
        p
          span +38 067 000-00-00
        p
          span info@rozetka.com.ua          


block content 
  .account-prop
    .options-page
      ul.options-page__tabs.account-prop__tabs(data-js-handler='options-tabs')
        li.active
          a(href="#offers") Пропозиції
        li
          a(href="#wip") В роботі     
        li 
          a(href="#messages") Повідомлення
        li
          a(href="#reviews") Відгуки

      .options-page__tab.active#offers(data-js-handler='options-tab')
        .options-tabs#proposals
          .options-tabs__types
            a.options-tabs__type.active(href='#open', data-js-handler='portfolio-type') Активні
            a.options-tabs__type(href='#closed', data-js-handler='portfolio-type') Закриті
          
          .options-tabs__block.active#open
            .account-prop__wrap
              +propositionsBlock({
                name: 'Разработать HR стратегию',
                location: 'Киев, Украина',
                date: 'Термін подачі: до 15.09.21',
                description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
                edit: true,
                cancel: true,
                offers: '1 пропозиція',
              })
              +propositionsBlock({
                name: 'Разработать HR стратегию',
                location: 'Киев, Украина',
                date: 'Термін подачі: до 15.09.21',
                warning: true,
                message: 'Очікує підтвердження адміністратора',
                description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
                edit: true,
                cancel: true,
                offers: '0 пропозицій',
              })
              +propositionsBlock({
                name: 'Разработать HR стратегию',
                location: 'Киев, Украина',
                date: 'Термін подачі: до 15.09.21',
                alert: true,
                message: 'Заблоковано адміністратором',
                description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
                edit: true,
                cancel: true,
                offers: '1 пропозиція',
              })
              +propositionsBlock({
                name: 'Разработать HR стратегию',
                location: 'Киев, Украина',
                date: 'Термін подачі: до 15.09.21',
                warning: true,
                message: 'Очікує підтвердження адміністратора',
                description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
                edit: true,
                cancel: true,
                offers: '5 пропозиція',
              })    

            .options-profile__buttons(href="#")
              a.options-profile__button.c-button.c-button--primary.c-button--lg(href="#" data-js-handler='account-switch-editor') Додати проект                 

          .options-tabs__block#closed
            .account-prop__wrap
              +propositionsBlock({
                name: 'Разработать HR стратегию',
                location: 'Киев, Украина',
                date: '10.04.2021',
                date2: 'Термін подачі: до 15.09.21',
                message: 'Призупинена',
                description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
                edit: true,
                publish: true,
                offers: '1 пропозиція',
              })
              +propositionsBlock({
                name: 'Разработать HR стратегию',
                location: 'Киев, Украина',
                date: '10.04.2021',
                date2: 'Термін подачі: до 15.09.21',
                message: 'Вибраний виконавець: Аня',
                description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
                workflow: true,
                offers: '4 пропозиції',
              }) 
              +propositionsBlock({
                name: 'Разработать HR стратегию',
                location: 'Киев, Украина',
                date: '10.04.2021',
                date2: 'Термін подачі: до 15.09.21',
                message: 'Завершено',
                description: 'Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.',
                workflow: true,
                offers: '5 пропозиція',
              })             

            .options-profile__buttons(href="#")
              a.options-profile__button.c-button.c-button--primary.c-button--lg(href="#" data-js-handler='account-switch-editor') Додати замовлення
        
        .options-tabs.hide#new-proposal
          .c-title.c-title__title3 Додати пропозицію

          form.options-profile(action="#")
            .options-profile__container
              label.options-profile__label
                .options-profile__message.options-profile__message--error
                  p Всі поля обов’язкові для заповнення.             
              label.options-profile__label(for='title') 
                .options-profile__clarification.options-profile__clarification--required Заголовок
                input.options-profile__input#title(type='text' name='title' placeholder='Введіть заголовок')
              .options-profile__textarea 
                .options-profile__clarification.options-profile__clarification--required Опис
                textarea#description(name="description" cols="30" rows="10" placeholder="Введіть опис")
              .options-profile__textarea 
                .options-profile__clarification.options-profile__clarification--required Проблематика
                textarea#problematic(name="problematic" cols="30" rows="10" placeholder="Опишіть проблематику")
              .options-profile__textarea 
                .options-profile__clarification.options-profile__clarification--required Очікування
                textarea#expectations(name="expectations" cols="30" rows="10" placeholder="Опишіть очікування")     
              .options-profile__controls    
                label.options-profile__label  
                  .options-profile__clarification.options-profile__clarification--required Експертиза
                  select#expertise.options-profile__control-domain(data-js-handler='data-options-control-domain')
                    option(value="#domain-1") Стратегія 1         
                    option(value="#domain-2") Стратегія 2                 
                    option(value="#domain-3") Стратегія 3
                label.options-profile__label.fullwidth 
                  .options-profile__clarification.options-profile__clarification--required Категорія
                  select.options-profile__control-type.options-profile__control-type--fullwidth.active#domain-1(data-js-handler='data-options-control-type')
                    option(value="type-1") Розробка стратегічного плану 1      
                    option(value="type-2") Розробка стратегічного плану 2                  
                    option(value="type-3") Розробка стратегічного плану 3
                  select.options-profile__control-type.options-profile__control-type--fullwidth#domain-2(data-js-handler='data-options-control-type')
                    option(value="type-1") Тестовий тип 1      
                    option(value="type-2") Тестовий тип 2                    
                    option(value="type-3") Тестовий тип 3    
                  select.options-profile__control-type.options-profile__control-type--fullwidth#domain-3(data-js-handler='data-options-control-type')
                    option(value="type-1") Інший тестовий тип 1      
                    option(value="type-2") Інший тестовий тип 2                     
                    option(value="type-3") Інший тестовий тип 3  

              .options-profile__information 
                .c-title.c-title__title4.options-profile__title Навички
                .options-profile__tags(data-js-handler='data-options-additionals')
                  .options-profile__tag 
                    span HR
                    a(href="#" data-js-handler='data-options-profile-remove') 
                  .options-profile__tag 
                    span HR стратегія
                    a(href="#" data-js-handler='data-options-profile-remove')  
                  .options-profile__tag 
                    span Впровадження стратегії
                    a(href="#" data-js-handler='data-options-profile-remove')  
                  .options-profile__tag 
                    span Аудит
                    a(href="#" data-js-handler='data-options-profile-remove')   
                  .options-profile__tag 
                    span Аудит
                    a(href="#" data-js-handler='data-options-profile-remove')  
                  .options-profile__tag 
                    span Впровадження стратегії
                    a(href="#" data-js-handler='data-options-profile-remove')    
                  .options-profile__tag 
                    span Аудит
                    a(href="#" data-js-handler='data-options-profile-remove')     

                .options-profile__controls
                  label.options-profile__label.options-profile__label--tag(for='tag') 
                    input.options-profile__input#tag(type='text' name='tag' placeholder='Введіть навичку' data-js-handler='data-options-profile-tag')
                  a.options-profile__control-add(href="#" data-js-handler='data-options-profile-add-tag') Додати                                   

              .options-profile__controls 
                label.options-profile__label  
                  .options-profile__clarification.options-profile__clarification--required Країна
                  select#country.options-profile__control-domain(data-js-handler='data-options-control-domain')
                    option(value="#country-1") Україна    
                    option(value="#country-2") Бразилія             
                    option(value="#country-3") Ісландія
                label.options-profile__label.fullwidth 
                  .options-profile__clarification.options-profile__clarification--required Місто
                  select.options-profile__control-type.options-profile__control-type--fullwidth.active#country-1(data-js-handler='data-options-control-type')
                    option(value="type-1") Українське місто 1      
                    option(value="type-2") Українське місто 2                  
                    option(value="type-3") Українське місто 3
                  select.options-profile__control-type.options-profile__control-type--fullwidth#country-2(data-js-handler='data-options-control-type')
                    option(value="type-1") Бразильске місто 1      
                    option(value="type-2") Бразильске місто 2                    
                    option(value="type-3") Бразильске місто 3    
                  select.options-profile__control-type.options-profile__control-type--fullwidth#country-3(data-js-handler='data-options-control-type')
                    option(value="type-1") Ісландське місто 1      
                    option(value="type-2") Ісландське місто 2                     
                    option(value="type-3") Ісландське місто 3  

              .options-profile__controls 
                label.options-profile__label  
                  .options-profile__clarification.options-profile__clarification--required Термін подачі
                  select#due_date.options-profile__control-domain
                    option(value="#deadline-1") До 15.09.21       
                    option(value="#deadline-2") До 15.09.21                  
                    option(value="#deadline-3") До 15.09.21 
                label.options-profile__label.fullwidth(for='budget') 
                  .options-profile__clarification.options-profile__clarification--required Бюджет
                  input.options-profile__input#budget(type='text' name='budget' placeholder='Введіть бюджет')
                    
              .options-profile__controls 
                .service-main
                  label.service-main__label(for='private') 
                    input.service-main__checkbox#private(type='checkbox' name='private')  
                    p Приватна пропозиція 

            .options-profile__buttons 
              a.options-profile__button.c-button.c-button--primary.c-button--lg(href="#" data-js-handler='account-add-project') Зберегти зміни
              a.options-profile__button.c-button.c-button--bordered.c-button--lg(href="#" data-js-handler='account-switch-editor') Скасувати  

        .options-tabs.hide#proposal-details 
          .c-title.c-title__title3 Разработать HR стратегию
          .account-prop__content
            .account-prop__info
              .c-info
                .c-info__location Киев, Украина
                .c-info__date 10.04.2021
                .c-info__date Термін подачі: до 15.09.21
            .account-prop__description
              p Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом.
            .account-prop__expectations
              .c-title.c-title__title4 Очікування
              p Активный рост рынка Интернет-торговли за последние несколько лет привел к интенсивному развитию всех инструментов торговли в онлайне. Появилось множество новых Интернет-магазинов, популярность которых продолжает расти, а электронные системы платежей позволяют оплачивать покупки всем желающим.
            .account-prop__candidacies
              .c-title.c-title__title3 Кандидати на співпрацю
              .options-page
                ul.options-page__tabs.account-prop__tabs(data-js-handler='options-tabs')
                  li.active
                    a(href="#consideration") На розгляді (3)
                  li
                    a(href="#candidacy") Кандидат (1)
                  li 
                    a(href="#rejection") Відмовлено (1)
                  li
                    a(href="#self_rejection") Відмовились (1)

                .options-page__tab.active#consideration(data-js-handler='options-tab')
                  .candidacy
                    .candidacy__block 
                      .candidacy__imgwrap 
                        img(src="assets/img/expert-avatar-full.jpg", alt="img")
                      .candidacy__textwrap 
                        .candidacy__row
                          .c-title.c-title__title4 Андрей Петренко
                          .c-title.c-title__title5 Виконавець
                        .candidacy__row
                          .c-info
                            .c-info__date 10.04.2021  14:37
                        .candidacy__info(data-js-handler='candidacy-info')
                          .candidacy__description Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам.  
                          .candidacy__row
                            a.candidacy__link.candidacy__link--reply(href="#" data-js-handler='candidacy-more') Відповісти
                            a.candidacy__link.candidacy__link--more(href="#" data-js-handler='candidacy-more') Розгорнути переписку
                        .candidacy__correspondence.hide(data-js-handler='candidacy-correspondence')
                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/expert-avatar-full.jpg", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Андрей Петренко
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис.

                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/popup-avatar.png", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Rozetka
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам.

                          .candidacy-reply
                            .options-profile
                              .options-profile__container
                                .options-profile__textarea 
                                  .options-profile__clarification Коментар 
                                  textarea(name="comment" cols="30" rows="10" placeholder="Вкажіть коментар")

                          .candidacy__response
                            a.candidacy__button.c-button.c-button--primary.c-button--lg(href="#") Надіслати
                            a.candidacy__link.candidacy__link--less(href="#" data-js-handler='candidacy-less') Згорнути переписку                             

                    .candidacy__block 
                      .candidacy__imgwrap 
                        img(src="assets/img/expert-avatar-full.jpg", alt="img")
                      .candidacy__textwrap 
                        .candidacy__row
                          .c-title.c-title__title4 Андрей Петренко
                          .c-title.c-title__title5 Очікує підтвердження статусу виконавець
                        .candidacy__row
                          .c-info
                            .c-info__date 10.04.2021  14:37
                          .candidacy__executant
                            a.candidacy__link.candidacy__link--reject(href="#") Відмовитись
                            a.candidacy__link.candidacy__link--change(href="#") Змінити суму, термін                             
                        .candidacy__info(data-js-handler='candidacy-info')
                          .candidacy__description Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам.  
                          .candidacy__row
                            a.candidacy__link.candidacy__link--reply(href="#" data-js-handler='candidacy-more') Відповісти
                            a.candidacy__link.candidacy__link--more(href="#" data-js-handler='candidacy-more') Розгорнути переписку   
                        .candidacy__correspondence.hide(data-js-handler='candidacy-correspondence')
                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/expert-avatar-full.jpg", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Андрей Петренко
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис.

                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/popup-avatar.png", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Rozetka
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам.

                          .candidacy-reply
                            .options-profile
                              .options-profile__container
                                .options-profile__textarea 
                                  .options-profile__clarification Коментар 
                                  textarea(name="comment" cols="30" rows="10" placeholder="Вкажіть коментар")

                          .candidacy__response
                            a.candidacy__button.c-button.c-button--primary.c-button--lg(href="#") Надіслати
                            a.candidacy__link.candidacy__link--less(href="#" data-js-handler='candidacy-less') Згорнути переписку                             

                    .candidacy__block 
                      .candidacy__imgwrap 
                        img(src="assets/img/expert-avatar-full.jpg", alt="img")
                      .candidacy__textwrap 
                        .candidacy__row
                          .c-title.c-title__title4 Андрей Петренко
                          .c-title.c-title__title5 Ви запропонували співпрацю
                        .candidacy__row
                          .c-info
                            .c-info__date 10.04.2021  14:37
                          .candidacy__executant
                            a.candidacy__link(href="#" data-js-handler='candidacy-change-type') Виконавець
                            a.candidacy__link(href="#" data-js-handler='candidacy-change-type') Кандидат
                            a.candidacy__link(href="#") Відмовити 
                        .candidacy__info(data-js-handler='candidacy-info')                 
                          .candidacy__description Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам.  
                          .candidacy__row
                            a.candidacy__link.candidacy__link--reply(href="#" data-js-handler='candidacy-more') Відповісти
                            a.candidacy__link.candidacy__link--more(href="#" data-js-handler='candidacy-more') Розгорнути переписку 
                        .candidacy__correspondence.hide(data-js-handler='candidacy-correspondence')
                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/expert-avatar-full.jpg", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Андрей Петренко
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис.

                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/popup-avatar.png", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Rozetka
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам.

                          .candidacy-reply
                            .options-profile
                              .options-profile__container
                                .options-profile__textarea 
                                  .options-profile__clarification Коментар 
                                  textarea(name="comment" cols="30" rows="10" placeholder="Вкажіть коментар")

                          .candidacy__response
                            a.candidacy__button.c-button.c-button--primary.c-button--lg(href="#") Надіслати
                            a.candidacy__link.candidacy__link--less(href="#" data-js-handler='candidacy-less') Згорнути переписку                               

                .options-page__tab#candidacy(data-js-handler='options-tab')
                  .candidacy
                    .candidacy__block 
                      .candidacy__imgwrap 
                        img(src="assets/img/expert-avatar-full.jpg", alt="img")
                      .candidacy__textwrap 
                        .candidacy__row
                          .c-title.c-title__title4 Андрей Петренко
                          .c-title.c-title__title5 Ви запропонували співпрацю
                        .candidacy__row
                          .c-info
                            .c-info__date 10.04.2021  14:37
                          .candidacy__executant
                            a.candidacy__link(href="#" data-js-handler='candidacy-change-type') Виконавець
                            a.candidacy__link.checked(href="#" data-js-handler='candidacy-change-type') Кандидат
                            a.candidacy__link(href="#") Відмовити                             
                        .candidacy__info(data-js-handler='candidacy-info')
                          .candidacy__description Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам.  
                          .candidacy__row
                            a.candidacy__link.candidacy__link--reply(href="#" data-js-handler='candidacy-more') Відповісти
                            a.candidacy__link.candidacy__link--more(href="#" data-js-handler='candidacy-more') Розгорнути переписку    
                        .candidacy__correspondence.hide(data-js-handler='candidacy-correspondence')
                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/expert-avatar-full.jpg", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Андрей Петренко
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис.

                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/popup-avatar.png", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Rozetka
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам.

                          .candidacy-reply
                            .options-profile
                              .options-profile__container
                                .options-profile__textarea 
                                  .options-profile__clarification Коментар 
                                  textarea(name="comment" cols="30" rows="10" placeholder="Вкажіть коментар")

                          .candidacy__response
                            a.candidacy__button.c-button.c-button--primary.c-button--lg(href="#") Надіслати
                            a.candidacy__link.candidacy__link--less(href="#" data-js-handler='candidacy-less') Згорнути переписку                                   

                .options-page__tab#rejection(data-js-handler='options-tab')
                  .candidacy
                    .candidacy__block 
                      .candidacy__imgwrap 
                        img(src="assets/img/expert-avatar-full.jpg", alt="img")
                      .candidacy__textwrap 
                        .candidacy__row
                          .c-title.c-title__title4 Андрей Петренко
                          .c-title.c-title__title5 Відмовлено в співпраці
                        .candidacy__row
                          .c-info
                            .c-info__date 10.04.2021  14:37
                        .candidacy__info(data-js-handler='candidacy-info')
                          .candidacy__description Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам.  
                          .candidacy__row
                            a.candidacy__link.candidacy__link--reply(href="#" data-js-handler='candidacy-more') Відповісти
                            a.candidacy__link.candidacy__link--more(href="#" data-js-handler='candidacy-more') Розгорнути переписку     
                        .candidacy__correspondence.hide(data-js-handler='candidacy-correspondence')
                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/expert-avatar-full.jpg", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Андрей Петренко
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис.

                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/popup-avatar.png", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Rozetka
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам.

                          .candidacy-reply
                            .options-profile
                              .options-profile__container
                                .options-profile__textarea 
                                  .options-profile__clarification Коментар 
                                  textarea(name="comment" cols="30" rows="10" placeholder="Вкажіть коментар")

                          .candidacy__response
                            a.candidacy__button.c-button.c-button--primary.c-button--lg(href="#") Надіслати
                            a.candidacy__link.candidacy__link--less(href="#" data-js-handler='candidacy-less') Згорнути переписку                             

                .options-page__tab#self_rejection(data-js-handler='options-tab')
                  .candidacy
                    .candidacy__block 
                      .candidacy__imgwrap 
                        img(src="assets/img/expert-avatar-full.jpg", alt="img")
                      .candidacy__textwrap 
                        .candidacy__row
                          .c-title.c-title__title4 Андрей Петренко
                          .c-title.c-title__title5 Відмовився від пропозиції
                        .candidacy__row
                          .c-info
                            .c-info__date 10.04.2021  14:37
                        .candidacy__info(data-js-handler='candidacy-info')
                          .candidacy__description Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам.  
                          .candidacy__row
                            a.candidacy__link.candidacy__link--reply(href="#" data-js-handler='candidacy-more') Відповісти
                            a.candidacy__link.candidacy__link--more(href="#" data-js-handler='candidacy-more') Розгорнути переписку  
                        .candidacy__correspondence.hide(data-js-handler='candidacy-correspondence')
                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/expert-avatar-full.jpg", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Андрей Петренко
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис.

                          .candidacy-reply
                            .candidacy-reply__row
                              .candidacy-reply__img
                                img(src="assets/img/popup-avatar.png", alt="img")
                              .c-title.c-title__title5.candidacy-reply__name Rozetka
                              .c-info.candidacy-reply__info
                                .c-info__date 10.04.2021  14:37                        
                            .candidacy-reply__message Популярный сервис, на котором удобно и клиентам, и специалистам. Популярный сервис, на котором удобно котором удобно и клиентам. Популярный сервис, на котором удобно и клиентам.

                          .candidacy-reply
                            .options-profile
                              .options-profile__container
                                .options-profile__textarea 
                                  .options-profile__clarification Коментар 
                                  textarea(name="comment" cols="30" rows="10" placeholder="Вкажіть коментар")

                          .candidacy__response
                            a.candidacy__button.c-button.c-button--primary.c-button--lg(href="#") Надіслати
                            a.candidacy__link.candidacy__link--less(href="#" data-js-handler='candidacy-less') Згорнути переписку 



      .options-page__tab#wip(data-js-handler='options-tab')
        p #wip

      .options-page__tab#messages(data-js-handler='options-tab')
        p #messages

      .options-page__tab#reviews(data-js-handler='options-tab')
        p #reviews    