extends ../layout/2columns-wide-sidebar

block variables
  - var title = 'Mira.hub details task';
  - var description = 'Mira.hub details task';
  - var pageClass = 'details-page';
  - let pageTitle = 'Разработать HR стратегию'

block title 
  .page-title
    .page-title__container
      h1 Разработать 
        span.c-accent.c-accent--pagetitle HR стратегию

block statusbar
  .search-page-top 
    .search-page-top__container 
      .breadcrumbs
        a.breadcrumbs__home(href="/") 
        a.breadcrumbs__link(href="/") Предложения
        a.breadcrumbs__link.breadcrumbs__link--current(href="/")= pageTitle

block content 
  .details-task-head
    .details-task-head__summary
      .details-task-head__title= pageTitle
      .c-info 
        .c-info__location Киев, Украина
        .c-info__date 15.01.2021
        .c-info__client Rozetka
        .c-info__term Срок подачи до: 5 апреля 2021
      .c-tags 
        a.c-tags__tag(href='#') HR
        a.c-tags__tag(href='#') HR стратегия
        a.c-tags__tag(href='#') Внедрение стратегии
    a.c-button.c-button--primary.c-button--md.c-button--mobile.details-task-head__button(href='#popup-message', data-js-handler='popup__handler') Написать
  .details-task-description
    .details-task-description__block
      .c-title.c-title__title4 Описание задачи
      p Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом, что делает «Кабанчика» отличным помощником. 
      p Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом, что делает «Кабанчика» отличным помощником.Популярный сервис, на котором удобно и клиентам, и специалистам.
    .details-task-description__block  
      .c-title.c-title__title5.c-title--alert.details-task-description__subltitle Проблематика
      p Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом, что делает «Кабанчика» отличным помощником.
    .details-task-description__block  
      .c-title.c-title__title5.c-title--goal.details-task-description__subltitle Ожидаемый результат
      p Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным.
  .details-task-footer
    a.c-button.c-button--primary.c-button--md.c-button--mobile(href='#popup-message', data-js-handler='popup__handler') Написать

block sidebar
  .details-task-side
    .c-title.c-title__title4 Похожие предложения
    .details-task-side__similar
      .details-task-side__block
        .c-title.c-title__title5.details-task-side__name Разработать HR стратегию
        .c-info
          .c-info__location Киев, Украина
          .c-info__date 15.01.2021
          .c-info__client SoftBlues
        .c-tags 
          a.c-tags__tag(href='#') HR
          a.c-tags__tag(href='#') HR стратегия
          a.c-tags__tag(href='#') Внедрение стратегии    
      .details-task-side__block
        .c-title.c-title__title5.details-task-side__name Провести аудит
        .c-info 
          .c-info__location Киев, Украина
          .c-info__date 15.01.2021
          .c-info__client Kyivstar
        .c-tags 
          a.c-tags__tag(href='#') HR
          a.c-tags__tag(href='#') HR стратегия
          a.c-tags__tag(href='#') Внедрение стратегии     
      .details-task-side__block
        .c-title.c-title__title5.details-task-side__name Разработать финансовую модель
        .c-info 
          .c-info__location Киев, Украина
          .c-info__date 15.01.2021
          .c-info__client OKKO
        .c-tags
          a.c-tags__tag(href='#') HR
          a.c-tags__tag(href='#') HR стратегия
          a.c-tags__tag(href='#') Внедрение стратегии   
    .c-title.c-title__title4 Другие предложения компании      
    .details-task-side__other   
      p
        a(href="#") Разработать финансовую модель
        span Срок подачи до: 5 апреля 2021
      p
        a(href="#") Провести аудит
        span Срок подачи до: 5 апреля 2021
      p
        a(href="#") Обучение персонала
        span Срок подачи до: 5 апреля 2021                