extends ../layout/service

block variables
  - var title = 'Mira.hub forgot login';
  - var description = 'Mira.hub forgot login';
  - var pageClass = 'login-page';
  - let pageTitle = 'Ви успішно підтвердили свій обліковий запис'

block content 
  .service-main
    .c-title.c-title__title3.service-main__title Ви успішно підтвердили свій обліковий запис
    .c-container
      p.service-main__info Перейдіть до налаштування профілю