extends ../layout/service

block variables
  - var title = 'Mira.hub verification';
  - var description = 'Mira.hub verification';
  - var pageClass = 'login-page';
  - let pageTitle = 'Реєстрація успішно завершена'

block content 
  .service-main
    .c-title.c-title__title3.service-main__title Реєстрація успішно завершена
    .c-container
      p.service-main__info На вказаний email надісланий лист з посиланням для активації облікового запису.