extends ../layout/1column

block variables
  - var title = 'Mira.hub expert options';
  - var description = 'Mira.hub expert options';
  - var pageClass = 'article-page';
  - let pageTitle = 'Налаштування експерта'

block title 
  .page-title
    .page-title__container
      h1 
        span.c-accent.c-accent--pagetitle Налаштування

block statusbar

block content 
  .options-page
    ul.options-page__tabs(data-js-handler='options-tabs')
      li.active
        a(href="#profile") Профайл
      li
        a(href="#portfolio") Портфоліо       
      li 
        a(href="#finance") Фінансова інформація
      li
        a(href="#access") Доступ
      li 
        a(href="#notice") Сповіщення

    .options-page__tab.active#profile(data-js-handler='options-tab')
      .options-page__block
        include ../includes/modules/options-expert/options-expert-profile.pug

    .options-page__tab#portfolio(data-js-handler='options-tab')
      include ../includes/modules/options-expert/options-expert-portfolio.pug

    .options-page__tab#finance(data-js-handler='options-tab')
      include ../includes/modules/options-expert/options-expert-finance.pug

    .options-page__tab#access(data-js-handler='options-tab')
      include ../includes/modules/options-expert/options-expert-access.pug

    .options-page__tab#notice(data-js-handler='options-tab')
      include ../includes/modules/options-expert/options-expert-notice.pug