extends ../layout/service

block variables
  - var title = 'Mira.hub registration page';
  - var description = 'Mira.hub registration page';
  - var pageClass = 'login-page';
  - let pageTitle = 'Зареєструйстесь на сайті за допомогою електронної пошти'

block content 
  .service-main
    .c-title.c-title__title3.service-main__title Зареєструйстесь на сайті за допомогою електронної пошти.
    form.service-main__form(action='#')
      fieldset
        label.service-main__label.hide(data-js-handler='error-message')
          .service-main__message.error
            p Всі поля обов’язкові для заповнення.       
        label.service-main__label.hide(data-js-handler='success-message')
          .service-main__message.success
            p Всі поля успішно заповнені.  
        label.service-main__label
          .service-main__clarification Тип аккаунту
          .service-main__account 
             a.service-main__private.service-main__private--active(href='#', data-js-handler='account-type') Приватна особа
             a.service-main__private.service-main__private--unactive(href='#', data-js-handler='account-type') Компанія
        label.service-main__label(for='name') 
          .service-main__clarification.service-main__clarification--required Ім’я
          input.service-main__input#name(type='text' name='name' placeholder='Ваше ім’я')                     
        label.service-main__label(for='email') 
          .service-main__clarification.service-main__clarification--required Електронна пошта
          input.service-main__input#email(type='email' name='email' placeholder='Введіть ваш email')
        label.service-main__label(for='phone') 
          .service-main__clarification.service-main__clarification--required Телефон
          input.service-main__input#phone(type='tel' name='phone' placeholder='+380 50 123 4567') 
        label.service-main__label(for='password') 
          .service-main__clarification.service-main__clarification--required Пароль
          input.service-main__input#password(type='password' name='password' placeholder='Введіть ваш пароль')         
        label.service-main__label(for='confirm-password') 
          .service-main__clarification.service-main__clarification--required Пароль ще раз
          input.service-main__input#confirm-password(type='password' name='confirm-password' placeholder='Повторіть пароль' data-js-handler='password-validation')      
        label.service-main__label(for='captcha') 
          .service-main__clarification.service-main__clarification--required Введіть каптчу
          input.service-main__input.service-main__input--half#captcha(type='text' name='captcha')   
          .service-main__captcha      
        label.service-main__label 
          .service-main__users    
            a.service-main__user.service-main__user--active(href='customer', data-js-handler='registration__user-type') Замовник
            a.service-main__user(href='expert', data-js-handler='registration__user-type') Експерт
      fieldset               
        label.service-main__label(for='accept') 
          input.service-main__checkbox#accept(type='checkbox' name='accept')  
          p погоджуюсь з правилами використання сервісу, та обробкою моїх персональних даних.  
        label.service-main__label 
          .service-main__note Всі поля обов’язкові для заповнення
        a.service-main__button.c-button.c-button--primary(href='#') Зареєструватись
        .service-main__socials 
          a.service-main__button.c-button.c-button--bordered(href='#') 
            i.service-main__icon.service-main__icon--google
            span Google
          a.service-main__button.c-button.c-button--bordered(href='#') 
            i.service-main__icon.service-main__icon--facebook
            span Facebook
    .service-additional 
      .service-additional__block
        .service-additional__desc Вже зареєстровані?
        a.c-button.c-button--md.c-button--primary(href='login_page.html') Увійти
      .service-additional__block
        .service-additional__desc Забули пароль?
        a.c-button.c-button--md.c-button--primary(href='login_page-forgot.html') Відновити пароль     