extends ../layout/main

block variables
  - var title = 'Mira.hub search task';
  - var description = 'Mira.hub search task';
  - var pageClass = 'search-page';
  - let witchPage = 'search'
  - let pageTitle = 'Поиск предложения'

block content 
  main(class= pageClass)
    .search-page-top 
      .search-page-top__container 
        .breadcrumbs
          a.breadcrumbs__home(href="/") 
          a.breadcrumbs__link.breadcrumbs__link--current(href="/")= pageTitle
        .sort
          span.sort__legend Сортировать:
          select.sort__select 
            option По рейтингу
            option По рейтингу
            option По рейтингу
    .c-container
      .c-aside
        include ../includes/modules/task-filters               
      .c-wide-content content