extends ../layout/main

block variables
  - var title = 'Mira.hub search task';
  - var description = 'Mira.hub search task';
  - var pageClass = 'search-page';
  - let witchPage = 'search'
  - let pageTitle = 'Поиск предложения'

block content 
  main(class= pageClass)
    .search-page-top 
      .search-page-top__container 
        .breadcrumbs
          a.breadcrumbs__home(href="/") 
          a.breadcrumbs__link.breadcrumbs__link--current(href="/")= pageTitle
        .sort
          span.sort__legend Сортировать:
          select.sort__select 
            option По рейтингу
            option По рейтингу
            option По рейтингу
    .c-container
      .c-aside
        include ../includes/modules/task-filters               
      .c-wide-content
        .tasks
          include ../includes/modules/task-list 
                                   
        ul.c-pagination
          li.c-pagination__block.c-pagination__block--current
            a.c-pagination__link.c-pagination__link--current(href="#") 1
          li.c-pagination__block
            a.c-pagination__link(href="#") 2
          li.c-pagination__block
            a.c-pagination__link(href="#") 3
          li.c-pagination__block
            a.c-pagination__link(href="#") 4
          li.c-pagination__block
            a.c-pagination__link(href="#") 5 