@mixin desktop-large {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin desktop-medium {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    max-width: 728px;
  }

  @include mobile {
    max-width: 320px;
  }
}

@mixin modificators {
  &--primary {
    background-color: $color-primary-green;
    border: 1px solid $color-primary-green;
    color: $color-primary-white;
  }

  &--bordered {
    background-color: $color-primary-white;
    border: 1px solid $color-primary-green;
    color: $color-primary-black;
  }

  &--md {
    height: $control-height-md;
    padding-left: 40px;
    padding-right: 40px;
  }

  &--lg {
    height: $control-height-lg;
    padding-left: 60px;
    padding-right: 60px;
  }
}
