.main-page-banner {
  background: url('/assets/img/main-page-banner__bg.jpg') no-repeat;
  background-position: center bottom;
  background-size: contain;

  &__container {
    @include container;

    height: calc(100vh - 124px);
    padding-top: 8.6vw;
    position: relative;
  }

  &__title {
    width: 100%;
    max-width: 800px;
    color: $color-secondary-2;
    font-weight: bold;
    font-size: 64px;
    line-height: 1.25;
    margin: 0 0 20px;
  }

  &__description {
    width: 100%;
    max-width: 420px;
    color: $color-primary-grey;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 40px;
  }

  &__buttons {
    display: block;
  }

  &__link {
    &:first-child {
      margin-right: 20px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    width: 39vw;
    right: -7vw;
  }
}

.advantages {
  margin: 0 0 150px;

  &__container {
    @include container;

    display: flex;
    justify-content: space-around;
  }

  &__block {
    width: 33%;
    text-align: center;
  }

  &__imgwrap {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 0 0 30px;
  }

  &__title {
    margin: 0 0 10px;
  }

  &__description {
    display: inline-block;
    width: 100%;
    max-width: 280px;
    color: $color-primary-grey;
    font-size: 14px;
    line-height: 24px;
  }
}

.expertise-areas {
  margin: 0 0 210px;

  &__container {
    @include container;

    text-align: center;
  }

  &__list {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__block {
    width: 33%;
    text-align: left;
    color: $color-secondary-2;

    &:nth-child(-n + 3) {
      margin: 0 0 40px;
    }
  }

  &__name {  
    margin: 0 0 10px;
  }

  &__activity {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 8px;

    &.hide {
      display: none;
    }
  }

  &__more {
    color: $color-secondary-blue;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
  }
}

.workflow {
  position: relative;
  padding: 60px 0;
  margin: 0 0 210px;

  &__decoration {
    &--lg {
      right: 180px;
      top: -50px;
    }

    &--md {
      right: 265px;
      top: 90px;      
    }    
  }

  &__container {
    width: 100%;
    top: 50%;
    position: absolute;
    height: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  &__block {
    @include container;

    display: flex !important;
    align-items: center;
  }

  &__imgwrap {
    position: relative;
    flex: 0 0 240px;
    margin: 0 120px 0 0;
    height: 0;

    img {
      width: 100%;
      box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
      border-radius: 32px;
      background: $color-secondary-grey-bg;
      transform: translate(0, -50%);
      position: absolute;
    }
  }

  &__textwrap {
    color: $color-primary-white;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 40px;
  }

  &__subtitle {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
  }

  &__description {
    width: 100%;
    max-width: 33.75vw;
    font-size: 14px;
    line-height: 24px;
  }

  &__buttons {
    margin: 30px 0 0 0;
  }

  &__link {
    &-black {
      margin: 0 0 0 10px;
      background-color: $color-secondary-2;
      border: 1px solid $color-secondary-2;
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-dots {
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    li {
      margin: 0 20px 0 0;
      height: 4px;

      button {
        cursor: pointer;
        display: block;
        font-size: 0; 
        background: #E5E5E5;
        border-radius: 2px;
        height: 100%;
        width: 40px;
      }

      &.slick-active {
        button {
          background: linear-gradient(94.78deg, #51DB91 0%, #38D0B5 100%);
        }
      }

      &:last-child {
        margin: 0;
      }  
    }
  }

  .slick-arrow {
    position: absolute;
    width: 24px;
    height: 12px;
    overflow: hidden;
    text-indent: -9999px;
  }

  .slick-prev {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='14' viewBox='0 0 26 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7L25 7' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 7L8 13' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M8 1L1 7' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    left: 10.2vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .slick-next {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='14' viewBox='0 0 26 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 7H1' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M25 7L18 1' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M18 13L25 7' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    right: 10.2vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.responsibility {
  margin: 0 0 130px;

  &__container {
    @include container;
  }

  &__wrapper {
    margin: 40px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    width: 50%;

    li {
      position: relative;
      max-width: 570px;
      padding: 0 0 0 38px;
      margin: 0 0 10px;

      &:last-child {
        margin: 0;
      }

      &::before {
        position: absolute;
        content: '';
        width: 28px;
        height: 28px;
        left: 0;
        top: 0;
        border-radius: 18px;
        background-color: $color-secondary-blue;
      }
    }
  }

  &__description {
    color: $color-primary-grey;
    font-size: 14px;
    line-height: 24px;
  }

  &__imgwrap {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 430px;
    }
  }
}

.recommendations {
  text-align: center;
  position: relative;

  &__container {
    @include container;
  }

  &__slider {
    margin: 40px 0 0 0;
  }

  &__recommendation {
    max-width: 840px;
    color: $color-primary-grey;
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto 20px;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $color-secondary-2;
  }

  &__imgwrap {
    margin: 0 0 10px 0;
    flex: 0 0 80px;
    border-radius: 12px;
    overflow: hidden;
  }

  &__profile {
    text-align: center;
  }

  &__position {
    font-size: 13px;
    line-height: 16px;
  }

  .slick-arrow {
    position: absolute;
    width: 24px;
    height: 12px;
    overflow: hidden;
    text-indent: -9999px;
    top: 50%;
    margin: -6px 0 0 0;
  }

  .slick-prev {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='14' viewBox='0 0 26 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7L25 7' stroke='%23254648' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 7L8 13' stroke='%23254648' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M8 1L1 7' stroke='%23254648' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    left: 10.2vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .slick-next {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='14' viewBox='0 0 26 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 7H1' stroke='%23254648' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M25 7L18 1' stroke='%23254648' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M18 13L25 7' stroke='%23254648' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    right: 10.2vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }  
}
