.messages {
  &__blocks {

  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
    border-top: 2px solid $color-secondary-border;

    &:last-child {
      border-bottom: 2px solid $color-secondary-border;
    }
  }

  &__message {
    margin: 10px 0;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
    color: $text-black;
  }

  &__infowrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__imgwrap {
    width: 80px;
  }

  &__about {
    margin: 0 0 0 20px;
  }

  &__additional {
    display: flex;
    align-items: center;
  }

  &__info {
    margin: 0 0 0 10px;
  }

  &__notices {
    width: 100%;
    max-width: 400px;
    background: $text-ultra-silver;
    border-radius: 8px;
    padding: 26px 20px;
  }

  &__row {
    display: flex;
    align-items: center;

    &--fullwidth {
      justify-content: space-between;
    }

    &--start {
      justify-content: flex-start;
    }
  }

  &__editor {
    display: none;

    &.show {
      display: block;
    }
  }

  &__link {
    position: relative;
    color: $text-black;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-decoration: underline;
    text-decoration-color: $color-pastel-7;
    text-decoration-thickness: 2px;
    text-underline-position: under; 
    margin: 0 0 0 20px;

    &.hide {
      display: none;
    }
    
    &:first-child {
      margin: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 6px;
    }

    &--message {
      font-weight: 600;
      padding: 0 0 0 21px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9881 3.44673C15.9881 3.42845 16.0007 3.41065 15.9998 3.39258L11.1172 8.09728L15.994 12.6517C15.9969 12.6192 15.9881 12.5863 15.9881 12.5531V3.44673Z' fill='%23ADDED4'/%3E%3Cpath d='M10.3722 8.82129L8.37899 10.739C8.27812 10.8361 8.14786 10.8847 8.01752 10.8847C7.88989 10.8847 7.76226 10.8382 7.66209 10.7448L5.67427 8.89247L0.765625 13.6239C0.88498 13.6667 1.01309 13.7 1.14726 13.7H14.8878C15.0871 13.7 15.2739 13.6394 15.4364 13.5489L10.3722 8.82129Z' fill='%23ADDED4'/%3E%3Cpath d='M8.0112 9.64548L15.4628 2.4674C15.2941 2.36709 15.0977 2.2998 14.8872 2.2998H1.14664C0.872547 2.2998 0.621393 2.40623 0.425781 2.56855L8.0112 9.64548Z' fill='%23ADDED4'/%3E%3Cpath d='M0 3.62109V12.5525C0 12.655 0.0235652 12.7539 0.0491463 12.8484L4.8969 8.18009L0 3.62109Z' fill='%23ADDED4'/%3E%3C/svg%3E");
      }      
    }

    &--save {
      padding: 0 0 0 21px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.58862 0 0 3.58862 0 8C0 12.4114 3.58862 16 8 16C12.4114 16 16 12.4114 16 8C16 3.58862 12.4114 0 8 0Z' fill='%23ADDED4'/%3E%3Cpath d='M12.0542 6.3042L7.72083 10.6375C7.59082 10.7675 7.42017 10.8329 7.24951 10.8329C7.07886 10.8329 6.9082 10.7675 6.7782 10.6375L4.61157 8.47083C4.35083 8.21021 4.35083 7.78882 4.61157 7.5282C4.87219 7.26746 5.29346 7.26746 5.5542 7.5282L7.24951 9.22351L11.1116 5.36157C11.3722 5.10083 11.7935 5.10083 12.0542 5.36157C12.3148 5.62219 12.3148 6.04346 12.0542 6.3042Z' fill='white'/%3E%3C/svg%3E");
      }
    }

    &--undo {
      padding: 0 0 0 21px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.58862 0 0 3.58862 0 8C0 12.4114 3.58862 16 8 16C12.4114 16 16 12.4114 16 8C16 3.58862 12.4114 0 8 0Z' fill='%23EBBAB4'/%3E%3Cpath d='M10.946 10.0022C11.2066 10.263 11.2066 10.6842 10.946 10.945C10.8159 11.075 10.6453 11.1403 10.4745 11.1403C10.3039 11.1403 10.1332 11.075 10.0032 10.945L7.99991 8.94156L5.99661 10.945C5.86661 11.075 5.69595 11.1403 5.5253 11.1403C5.35452 11.1403 5.18387 11.075 5.05386 10.945C4.79324 10.6842 4.79324 10.263 5.05386 10.0022L7.05728 7.99893L5.05386 5.99564C4.79324 5.73489 4.79324 5.31363 5.05386 5.05289C5.31461 4.79227 5.73587 4.79227 5.99661 5.05289L7.99991 7.0563L10.0032 5.05289C10.2639 4.79227 10.6852 4.79227 10.946 5.05289C11.2066 5.31363 11.2066 5.73489 10.946 5.99564L8.94254 7.99893L10.946 10.0022Z' fill='white'/%3E%3C/svg%3E");
      }
    }

    &--edit {
      padding: 0 0 0 21px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1427 7.99963C12.8271 7.99963 12.5712 8.25546 12.5712 8.57106V14.2853C12.5712 14.6009 12.3154 14.8567 11.9998 14.8567H1.71426C1.39866 14.8567 1.14283 14.6009 1.14283 14.2853V2.85684C1.14283 2.54124 1.39866 2.28541 1.71426 2.28541H8.57131C8.88691 2.28541 9.14275 2.02958 9.14275 1.71398C9.14275 1.39838 8.88691 1.14258 8.57131 1.14258H1.71426C0.767501 1.14258 0 1.91008 0 2.85684V14.2853C0 15.232 0.767501 15.9995 1.71426 15.9995H11.9998C12.9466 15.9995 13.7141 15.232 13.7141 14.2853V8.57103C13.7141 8.25546 13.4583 7.99963 13.1427 7.99963Z' fill='%23ADDED4'/%3E%3Cpath d='M15.3564 0.640782C14.9461 0.23043 14.3896 -5.7923e-05 13.8094 9.04044e-06C13.2288 -0.00166504 12.6717 0.229225 12.2626 0.64115L4.73576 8.1673C4.67332 8.23021 4.62621 8.30668 4.59805 8.39072L3.45522 11.8193C3.35548 12.1187 3.51737 12.4422 3.81679 12.542C3.87488 12.5613 3.93572 12.5712 3.99692 12.5712C4.05826 12.5711 4.11923 12.5613 4.17749 12.5421L7.60602 11.3993C7.69022 11.3712 7.76673 11.3238 7.82944 11.261L15.3562 3.73426C16.2105 2.88007 16.2106 1.49507 15.3564 0.640782Z' fill='%23ADDED4'/%3E%3C/svg%3E");
      }
    }
  }

  &__remove {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9102 4.46582H3.08985C2.79267 4.46582 2.55176 4.70671 2.55176 5.00386V13.4093C2.55176 14.838 3.71414 16.0004 5.14274 16.0004H10.8571C12.2857 16.0004 13.4481 14.838 13.4481 13.4093V5.00386C13.4481 4.70674 13.2073 4.46582 12.9102 4.46582ZM6.7065 12.7597C6.7065 13.1247 6.41055 13.4207 6.04543 13.4207C5.68044 13.4207 5.38436 13.1247 5.38436 12.7597V7.7065C5.38436 7.3414 5.68038 7.04548 6.04543 7.04548C6.41053 7.04548 6.7065 7.34143 6.7065 7.7065V12.7597ZM10.6155 12.7597C10.6155 13.1247 10.3196 13.4207 9.95448 13.4207C9.58948 13.4207 9.2934 13.1247 9.2934 12.7597V7.7065C9.2934 7.3414 9.58943 7.04548 9.95448 7.04548C10.3196 7.04548 10.6155 7.34143 10.6155 7.7065V12.7597Z' fill='%23F8C3B9'/%3E%3Cpath d='M12.37 0.837176H10.0261V0.633909C10.0261 0.284366 9.74175 0 9.39223 0H6.60554C6.256 0 5.97163 0.284366 5.97163 0.633909V0.837176H3.62774C2.73022 0.837176 2 1.56735 2 2.46489V3.50865C2 3.69532 2.15132 3.84667 2.33807 3.84667H13.6597C13.8463 3.84667 13.9977 3.69532 13.9977 3.50865V2.46489C13.9977 1.56737 13.2675 0.837176 12.37 0.837176Z' fill='%23F8C3B9'/%3E%3C/svg%3E");
    display: block;
    margin: 0 0 0 20px;
    width: 16px;
    height: 16px;
  }
}