.options-page {
  text-align: center;

  &__tabs {
    display: inline-flex;
    width: 100%;
    max-width: 970px;    

    @include tablet {
      flex-direction: column;
    }

    li {
      border-top: 2px solid $color-pastel-7;
      border-bottom: 2px solid $color-pastel-7;
      border-left: 2px solid $color-pastel-7;
      width: 20%;

      @include tablet {
        width: 100%;
        display: none;
      }

      &:first-child {
        border-radius: 64px 0 0 64px;
      }

      &:last-child {
        border-radius: 0 64px 64px 0;
        border-right: 2px solid $color-pastel-7;
      }

      &.active {
        background-color: $color-pastel-7;

        @include tablet {
          display: block;
          background: none;
          border-radius: 64px;
          border-right: 2px solid $color-pastel-7;
          order: 0;

          a {
            &::after {
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23254648' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              position: absolute;
              content: "";
              top: 50%;
              right: 24px;
              width: 8px;
              height: 4px;
              background-size: contain;
            }
          }
        }
      }

      &.mobile-show {
        @include tablet {
          display: block;
          border-top: none;
          border-radius: 0;
          max-width: 290px;
          margin: 0 auto;
          border-right: 2px solid $color-pastel-7;
          order: 1;
        }
      }
    }

    a {
      position: relative;
      color: $text-black;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
      padding: 8px;
      display: block;
      outline: none;
    }
  }

  &__tab {
    display: none;
    margin: 40px 0 0 0;

    &.active {
      display: block;
    }
  }

  &__block {
    max-width: 620px;
    margin: 0 auto;
  }
}

.options-profile {
  width: 100%;

  &__columns {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 0 15px;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__column {
    width: 50%;
    max-width: 290px;

    @include tablet {
      max-width: 340px;
      width: 100%;
    }

    &--vertical {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__container {
    margin: 15px 0 40px;
  }

  &__location {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-direction: column;
    }

    label {
      width: 290px;
      margin: 0;

      @include tablet {
        width: 100%;

        &:first-child {
          margin: 0 0 15px;
        }
      }
    }
  }

  &__message {
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
    display: flex;
    border-radius: 8px;
    align-items: center;
    padding: 6px 20px;
    min-height: 40px;    

    &--error {
      background: #FFF8F7;
      border: 2px solid $color-pastel-12;
    }

    &--success {
      background: #f1fff3;
      border: 2px solid $color-pastel-2;
    }    
  }

  &__photo {
    width: 100%;
    border: 2px solid $text-ultra-silver;
    border-radius: 8px;
    text-align: center;
    padding: 40px 0 20px;
    margin: 30px 0 0 0;
  }

  &__avatar {
    margin: 0 0 30px;

    img {
      width: 150px;
      height: 150px;
    }
  }

  &__upload {
    border-bottom: 2px solid $color-secondary-border;
    margin: 0 0 8px;
  }

  &__hint {
    color: $text-grey;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
  }

  &__label {
    display: block;
    position: relative;
    text-align: left;
    margin: 0 0 15px;
    
    &:last-child {
      margin: 0;
    }

    &.hide {
      display: none;
    }

    &--min {
      max-width: 130px;
    }

    &--tag {
      min-width: 290px;
    }

    p {
      color: $text-black;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 10px;
      line-height: 16px;
    }    
  }

  &__clarification {
    white-space: nowrap;
    color: $text-black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    margin: 0 0 6px;
    display: inline-block;
    position: relative;

    &--required {
      padding: 0 6px 0 0;

      &::after {
        content: '*';
        color: $color-pastel-12;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }  

  &__input {
    border: 2px solid $text-silver;
    border-radius: 8px;
    width: 100%;
    padding: 8px 20px 7px;
    font-family: $mainFont;
    font-size: 14px;

    &::placeholder {
      font-size: 14px;
      line-height: 18px;
      color: #D2D2D2;
      text-transform: capitalize;
    } 
    
    &--error {
      border: 2px solid $color-pastel-12;
    }

    &--half {
      max-width: 110px;
    }
  } 

  &__select {
    border: 2px solid $text-silver;
    border-radius: 8px;
    width: 100%;
    padding: 8px 20px 7px;
    font-size: 14px;
    line-height: 18px;
    color: $text-black;

    option {
      color: $text-black;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
    }
  }

  &__textarea {
    text-align: left;

    &:nth-child(n + 2) {
      margin: 15px 0 0 0;
    }    

    textarea {
      font-family: $mainFont;
      border: 2px solid $text-silver;
      border-radius: 8px;
      width: 100%;
      padding: 8px 20px 7px;
      max-height: 160px;
      font-size: 14px;
      line-height: 1.5;
  
      &::placeholder {
        font-size: 14px;
        line-height: 18px;
        color: #D2D2D2;
      } 
    }
  }

  &__information {
    margin: 60px 0 0 0;
  }

  &__title {
    position: relative;
    text-align: left;
    border-bottom: 2px solid $text-silver;
    padding: 0 0 20px;
    margin: 0 0 20px;
    line-height: 1;

    &--required {
      &::after {
        content: '*';
        color: $color-pastel-12;
      }
    }
  }

  &__additionals {
    margin: 0 0 20px;
  }

  &__additional {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 10px;
    border: 1px solid #fff;
    padding: 0 7px;

    @include tablet {
      position: relative;
      flex-direction: column;
      align-items: flex-start;
    }

    &:last-child {
      margin: 0;
    }

    &.error {
      border: 1px solid $color-secondary-4;
    }
  }

  &__domain {
    margin: 0 12px 0 0;
  }

  &__type {
    color: $text-black;
    font-size: 14px;
    line-height: 28px;
    margin: 0 12px 0 0;
  }

  &__remove {
    opacity: 0.5;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9092 4.46558H3.08887C2.7917 4.46558 2.55078 4.70647 2.55078 5.00362V13.4091C2.55078 14.8378 3.71316 16.0001 5.14176 16.0001H10.8561C12.2848 16.0001 13.4471 14.8378 13.4471 13.4091V5.00362C13.4472 4.70649 13.2064 4.46558 12.9092 4.46558ZM6.70553 12.7594C6.70553 13.1245 6.40958 13.4204 6.04445 13.4204C5.67946 13.4204 5.38338 13.1245 5.38338 12.7594V7.70626C5.38338 7.34116 5.67941 7.04524 6.04445 7.04524C6.40955 7.04524 6.70553 7.34118 6.70553 7.70626V12.7594ZM10.6146 12.7594C10.6146 13.1245 10.3186 13.4204 9.9535 13.4204C9.58851 13.4204 9.29243 13.1245 9.29243 12.7594V7.70626C9.29243 7.34116 9.58845 7.04524 9.9535 7.04524C10.3186 7.04524 10.6146 7.34118 10.6146 7.70626V12.7594Z' fill='%23F8C3B9'/%3E%3Cpath d='M12.37 0.837176H10.0261V0.633909C10.0261 0.284366 9.74175 0 9.39223 0H6.60554C6.256 0 5.97163 0.284366 5.97163 0.633909V0.837176H3.62774C2.73022 0.837176 2 1.56735 2 2.46489V3.50865C2 3.69532 2.15132 3.84667 2.33807 3.84667H13.6597C13.8463 3.84667 13.9977 3.69532 13.9977 3.50865V2.46489C13.9977 1.56737 13.2675 0.837176 12.37 0.837176Z' fill='%23F8C3B9'/%3E%3C/svg%3E");
    transition: 0.3s all ease-in-out;

    @include tablet {
      position: absolute;
      top: 0;
      right: 0;
    }

    &:hover {
      opacity: 1;
      transition: 0.3s all ease-in-out;
    }
  }

  &__period {
    text-align: left;
    margin: 0 0 15px;

    label {
      display: flex;
      align-items: center;
    }

    input {
      max-width: 120px;
    }

    span {
      padding: 0 12px;
    }
  }

  &__controls {
    display: flex;
    align-items: flex-end;

    @include tablet {
      flex-direction: column;
    }

    &:nth-child(n + 2) {
      margin: 15px 0 0 0;
    }

    label {
      margin: 0 20px 0 0;

      &:first-child {
        width: 100%;
        max-width: 180px;

        @include tablet {
          max-width: unset;
          margin: 0 0 15px;
        }
      }

      &:nth-child(2) {
        width: 100%;
        max-width: 330px;

        @include tablet {
          max-width: unset;
          margin: 0 0 15px;
        }
      } 

      &.fullwidth {
        max-width: unset;

        &:nth-child(2) {
          max-width: unset;
        }         
      }
    }
  }

  &__control-domain {
    width: 100%;
    max-width: 180px;
    margin: 0 20px 0 0;

    border: 2px solid $text-silver;
    border-radius: 8px;
    padding: 8px 20px 7px;
    font-size: 14px;
    line-height: 18px;
    color: $text-black;

    @include tablet {
      max-width: unset;
      margin: 0 0 15px;
    }

    option {
      color: $text-black;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
    }
  }

  &__control-type {
    display: none;
    width: 100%;
    max-width: 330px;
    margin: 0 20px 0 0;
    border: 2px solid $text-silver;
    border-radius: 8px;
    padding: 8px 20px 7px;
    font-size: 14px;
    line-height: 18px;
    color: $text-black;    

    @include tablet {
      max-width: unset;
      margin: 0 0 15px;
    }

    &--fullwidth {
      max-width: unset;
      margin: 0;
    }

    &.active {
      display: block;
    }

    option {
      color: $text-black;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;

      &.inactive {
        display: none;
      }
    }
  }

  &__control-add {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    color: $text-black;
    padding: 0 0 0 20px;
    margin: 0 0 12px 0;
    text-decoration: underline;
    text-decoration-color: $color-pastel-7;
    text-decoration-thickness: 2px;
    text-underline-position: under;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.03125 0C3.63719 0 0 3.57469 0 7.96875C0 12.3628 3.63719 16 8.03125 16C12.4253 16 16 12.3628 16 7.96875C16 3.57469 12.4253 0 8.03125 0ZM12.25 8.90625H8.96875V12.25C8.96875 12.7669 8.54781 13.1875 8.03125 13.1875C7.51437 13.1875 7.09375 12.7669 7.09375 12.25V8.90625H3.75C3.23312 8.90625 2.8125 8.48563 2.8125 7.96875C2.8125 7.45187 3.23312 7.03125 3.75 7.03125H7.09375V3.75C7.09375 3.23312 7.51437 2.8125 8.03125 2.8125C8.54781 2.8125 8.96875 3.23312 8.96875 3.75V7.03125H12.25C12.7666 7.03125 13.1875 7.45187 13.1875 7.96875C13.1875 8.48563 12.7666 8.90625 12.25 8.90625Z' fill='%23ADDED4'/%3E%3C/svg%3E");
      left: 0;
      top: 2px;
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0 20px;
  }

  &__tag {
    background: $text-ultra-silver;
    border: 1px solid $text-silver;
    border-radius: 4px;    
    padding: 6px 15px 6px 24px;
    margin: 0 6px 5px 0;

    &:last-child {
      margin: 0;
    }

    span {
      font-size: 14px;
      line-height: 28px;
      color: $text-black;
    }

    a {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 11' stroke='%239E9DA3'/%3E%3Cpath d='M11 1L1 11' stroke='%239E9DA3'/%3E%3C/svg%3E");
      background-size: contain;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 0 0 16px;
    }
  }

  &__buttons {
    text-align: center;

    &.hide {
      display: none;
    }
  }

  &__button {
    height: 52px;

    &:first-child {
      margin: 0 20px 0 0;
    }
  }
}

.portfolio-list {
  display: none;
  
  &.active {
    display: block;
  }
}

.portfolio-add {
  display: none;

  &.active {
    display: block;
  }  
}

.portfolio-block {
  width: 100%;
  max-width: 620px;
  margin: 0 auto 40px;
  text-align: left;

  &__head {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid $color-secondary-border;
    margin: 0 0 20px;

    @include tablet {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__management {
    margin: 0 0 10px;
    display: flex;
    align-items: flex-end;

    @include tablet {
      width: 100%;
      justify-content: flex-start;
      margin: 20px 0 10px;
    }
  }

  &__edit {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    color: $text-black;
    padding: 0 0 0 20px;
    text-decoration: underline;
    text-decoration-color: $color-pastel-7;
    text-decoration-thickness: 2px;
    text-underline-position: under;

    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1427 8C12.8271 8 12.5712 8.25583 12.5712 8.57143V14.2856C12.5712 14.6012 12.3154 14.857 11.9998 14.857H1.71426C1.39866 14.857 1.14283 14.6012 1.14283 14.2856V2.85721C1.14283 2.54161 1.39866 2.28578 1.71426 2.28578H8.57131C8.88691 2.28578 9.14275 2.02994 9.14275 1.71434C9.14275 1.39874 8.88691 1.14294 8.57131 1.14294H1.71426C0.767501 1.14294 0 1.91045 0 2.85721V14.2856C0 15.2324 0.767501 15.9999 1.71426 15.9999H11.9998C12.9466 15.9999 13.7141 15.2324 13.7141 14.2856V8.5714C13.7141 8.25583 13.4583 8 13.1427 8Z' fill='%23ADDED4'/%3E%3Cpath d='M15.3564 0.640904C14.9461 0.230552 14.3896 6.41474e-05 13.8094 0.000131111C13.2288 -0.00154297 12.6717 0.229347 12.2626 0.641272L4.73576 8.16742C4.67332 8.23033 4.62621 8.30681 4.59805 8.39085L3.45522 11.8194C3.35548 12.1188 3.51737 12.4424 3.81679 12.5421C3.87488 12.5614 3.93572 12.5713 3.99692 12.5714C4.05826 12.5713 4.11923 12.5614 4.17749 12.5422L7.60602 11.3994C7.69022 11.3713 7.76673 11.3239 7.82944 11.2611L15.3562 3.73438C16.2105 2.88019 16.2106 1.49519 15.3564 0.640904Z' fill='%23ADDED4'/%3E%3C/svg%3E");
      left: 0;
      top: 2px;
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
    }
  }

  &__remove {
    opacity: 0.5;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9092 4.46558H3.08887C2.7917 4.46558 2.55078 4.70647 2.55078 5.00362V13.4091C2.55078 14.8378 3.71316 16.0001 5.14176 16.0001H10.8561C12.2848 16.0001 13.4471 14.8378 13.4471 13.4091V5.00362C13.4472 4.70649 13.2064 4.46558 12.9092 4.46558ZM6.70553 12.7594C6.70553 13.1245 6.40958 13.4204 6.04445 13.4204C5.67946 13.4204 5.38338 13.1245 5.38338 12.7594V7.70626C5.38338 7.34116 5.67941 7.04524 6.04445 7.04524C6.40955 7.04524 6.70553 7.34118 6.70553 7.70626V12.7594ZM10.6146 12.7594C10.6146 13.1245 10.3186 13.4204 9.9535 13.4204C9.58851 13.4204 9.29243 13.1245 9.29243 12.7594V7.70626C9.29243 7.34116 9.58845 7.04524 9.9535 7.04524C10.3186 7.04524 10.6146 7.34118 10.6146 7.70626V12.7594Z' fill='%23F8C3B9'/%3E%3Cpath d='M12.37 0.837176H10.0261V0.633909C10.0261 0.284366 9.74175 0 9.39223 0H6.60554C6.256 0 5.97163 0.284366 5.97163 0.633909V0.837176H3.62774C2.73022 0.837176 2 1.56735 2 2.46489V3.50865C2 3.69532 2.15132 3.84667 2.33807 3.84667H13.6597C13.8463 3.84667 13.9977 3.69532 13.9977 3.50865V2.46489C13.9977 1.56737 13.2675 0.837176 12.37 0.837176Z' fill='%23F8C3B9'/%3E%3C/svg%3E");
    transition: 0.3s all ease-in-out;
    margin: 0 0 0 22px;

    &:hover {
      opacity: 1;
      transition: 0.3s all ease-in-out;
    }
  }

  &__subtitle {
    padding: 0 0 0 24px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.53834 1.10997C6.70914 0.699319 7.29086 0.699318 7.46166 1.10996L8.99874 4.80556C9.07075 4.97868 9.23355 5.09696 9.42045 5.11194L13.4102 5.4318C13.8535 5.46734 14.0332 6.02059 13.6955 6.30993L10.6557 8.91378C10.5133 9.03576 10.4512 9.22715 10.4947 9.40952L11.4234 13.3028C11.5265 13.7354 11.0559 14.0773 10.6764 13.8455L7.26063 11.7592C7.10062 11.6615 6.89938 11.6615 6.73937 11.7592L3.32363 13.8455C2.94408 14.0773 2.47345 13.7354 2.57665 13.3028L3.50534 9.40952C3.54884 9.22715 3.48665 9.03576 3.34426 8.91378L0.304527 6.30993C-0.0332418 6.02059 0.14652 5.46734 0.589847 5.4318L4.57955 5.11194C4.76645 5.09696 4.92925 4.97868 5.00126 4.80556L6.53834 1.10997Z' fill='%23FDDDAA'/%3E%3C/svg%3E");
      background-size: contain;
      left: 0;
      top: 4px;
      width: 16px;
      height: 16px;
    }
  }

  &__section {
    margin: 20px 0 0 0;

    p {
      color: $text-black;
      font-size: 14px;
      line-height: 28px;
    }
  }
}

.portfolio-none {
  display: none;
  margin: 60px auto 0;
  width: 100%;
  max-width: 620px;

  &.active {
    display: block;
  }

  &__block {
    background: $color-secondary-grey-bg;
    border-radius: 8px;
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}

.portfolio-fieldset {
  border: none;
  margin: 40px 0 0 0;
}

.portfolio-notice {
  width: 100%;
  max-width: 330px;
  text-align: center;
  margin: 0 auto 40px;

  &__title {
    margin: 0 0 15px;
  }
}

.portfolio-access {
  width: 100%;
  max-width: 440px;
  text-align: left;
  margin: 0 auto 40px;
}

.options-tabs {
  width: 100%;
  text-align: left;
  margin: 0 auto;

  .c-title__title3 {
    @include tablet {
      font-weight: 800;
      font-size: 20px;
      line-height: 36px;
    }
  }  

  &.hide {
    display: none;
  }

  &--width {
    max-width: 620px;
  }

  &__types {
    @include tablet {
      flex-direction: column;
      display: flex;
    }
  }

  &__type {
    position: relative;
    color: $text-black;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    padding: 0 0 0 34px;
    margin: 0 20px 0 0;

    @include tablet {
      margin: 0 0 10px;
    }

    &:last-child {
      margin: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      width: 24px; 
      height: 24px;
      border: 2px solid $text-silver;
      border-radius: 12px;

      @include tablet {
        top: 3px;
      }
    }

    &.active {
      &::before {
        border: 2px solid $color-pastel-7;
      }

      &::after {
        content: '';
        position: absolute;
        left: 6px;
        top: 5px;
        width: 12px; 
        height: 12px;
        border-radius: 6px;
        background-color: $color-pastel-7;

        @include tablet {
          top: 9px;
        }
      }
    }
  }

  &__block {
    display: none;

    &.active {
      display: block;
      margin: 0 0 40px;
    }
  }

  &__addfile {
    position: relative;
    padding: 0 0 0 32px;
    text-decoration: underline;
    text-decoration-color: $color-pastel-7;
    text-decoration-thickness: 2px;
    text-underline-position: under;    

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M22.9807 8.74063C22.5891 8.35114 21.956 8.35287 21.5665 8.74443L9.54519 20.8307C7.98558 22.3903 5.45253 22.3903 3.89001 20.8286C2.32866 19.2665 2.32866 16.7334 3.8902 15.1719L16.2673 2.72975C17.241 1.75609 18.8241 1.75609 19.8006 2.73186C20.7768 3.70811 20.7768 5.29097 19.8004 6.26749L9.54707 16.5207C9.54641 16.5214 9.54585 16.5221 9.54519 16.5228C9.15457 16.9112 8.52329 16.9107 8.13347 16.5209C7.74299 16.1304 7.74299 15.4975 8.13347 15.1071L13.0826 10.1569C13.4731 9.76628 13.4731 9.13308 13.0825 8.7426C12.6919 8.35212 12.0587 8.35217 11.6683 8.74274L6.71913 13.6929C5.54764 14.8643 5.54764 16.7636 6.71922 17.9351C7.89075 19.1066 9.78998 19.1066 10.9616 17.9351C10.9629 17.9337 10.964 17.9323 10.9653 17.9309L21.2146 7.68165C22.9721 5.92408 22.9721 3.07486 21.2146 1.31728C19.4568 -0.439257 16.6077 -0.439257 14.8512 1.31728L2.47407 13.7595C0.133362 16.1002 0.133361 19.8993 2.47576 22.2429C4.81971 24.5856 8.61883 24.5856 10.9614 22.2431L22.9846 10.1549C23.374 9.76328 23.3723 9.13012 22.9807 8.74063Z' fill='%23ADDED4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
}