.filter-block {
  padding: 0 0 20px;
  margin: 0 0 20px;
  border-bottom: 2px solid $color-secondary-border;

  @include tablet {
    padding: 20px 27px;
    margin: 0;
  }

  &__title {
    position: relative;
    color: $color-secondary-2;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 10px;
    cursor: pointer;

    @include mobile {
      font-size: 16px;
      line-height: 28px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 8px;
      height: 4px;
      top: 50%;
      margin-top: -2px;
      background-size: cover
    }

    &.expanded::after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 5L5 1L1 5' stroke='%23254648' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    &.collapse::after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23254648' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    font-size: 14px;

    &:last-child {
      margin: 0 0 12px;
    }

    &.hide {
      display: none;
    }
  }

  &__checkbox {
    margin: -2px 8px 0 0;
    width: 16px;
    height: 16px;
    background: $color-primary-white;
    border: 1px solid $color-secondary-7;
    box-sizing: border-box;
    border-radius: 2px;
  }

  &__search {
    height: $control-height-md;
    padding-left: 32px;
    padding-right: 32px;

    &:first-child {
      display: none;
      
      @include tablet {
        display: inline-flex;
        margin: 0 10px 0 0;
      }
    }
  }

  &__more {
    font-size: 14px;
    line-height: 24px;
    color: $color-secondary-blue;
  }

  &.collapse {
    height: 37px;
    overflow: hidden;

    @include tablet {
      height: 60px;
    }
  }

  &__links {
    @include tablet {
      padding: 35px 27px 0;
      display: flex;
      justify-content: flex-start;
    }
  }
}

.range-slider {
  &__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 18px;

    input {
      text-align: center;
      max-width: 110px;
      padding: 12px 0;
      background: $color-primary-white;
      border: 2px solid $color-secondary-7;
      color: $color-secondary-2;
      border-radius: 8px;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__delimiter {
    background: $color-secondary-7;
    width: 10px;
    height: 2px;
  }

  .ui-widget.ui-widget-content {
    border: none;
    background: $color-secondary-border;
    height: 4px;
  }

  .ui-slider-horizontal .ui-slider-range {
    background: $color-secondary-blue;
  }

  .ui-state-default, .ui-widget-content .ui-state-default {
    border: 2px solid $color-secondary-blue;
    background: $color-primary-white;
  }

  .ui-slider-horizontal .ui-slider-handle {
    width: 20px;
    height: 20px;
    top: -8px;
    margin-left: -5px;
    border-radius: 10px;
  }
}

.experts {
  margin: 0 0 10px;

  &__block {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 2px solid $color-secondary-border;

    @include desktop-medium {
      flex-wrap: wrap;
      justify-content: flex-start;
    }    
  
    &:last-child {
      border-bottom: 2px solid $color-secondary-border;

      &:hover {
        margin: -10px -42px -10px -40px;
      }
    }

    &:hover {
      background: $color-primary-white;
      border: 2px solid $color-secondary-blue;
      border-radius: 12px;
      padding: 40px 40px 40px 38px;
      margin: -10px -42px -12px -40px;
      z-index: 2;
      -webkit-box-shadow: 0 0 50px 0 rgba(37,70,72,0.1);
      -moz-box-shadow:    0 0 50px 0 rgba(37,70,72,0.1);
      box-shadow:         0 0 50px 0 rgba(37,70,72,0.1);
    }
  }

  &__imgwrap {
    flex: 0 0 80px;
    margin: 0 20px 0 0;
    border-radius: 55px;

    @include mobile {
      width: 52px;
      flex: 0 0 52px;
    }
  }

  &__summary {
    width: 100%;
    max-width: 240px;
    padding: 0 20px 0 0;

    @include mobile {
      padding: 0;
      max-width: 180px;
    }
  }

  &__title {
    @include mobile {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__statistics {
    margin: 0 0 13px;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: $color-primary-grey;
  }

  &__progress {
    display: flex;
    align-items: center;
  }

  &__progressbar {
    margin: 0 12px 0 0;
    border: none;
    width: 100%;
    max-width: 200px;
    height: 4px;

    &::-webkit-progress-bar {
      background: $color-secondary-border;
    }    

    &--high {
      &::-webkit-progress-value {
        background: $color-new-green;
      }
  
      &::-moz-progress-bar {
        background: $color-new-green;
      }   
    } 

    &--middle {
      &::-webkit-progress-value {
        background: $color-secondary-yellow;
      }
  
      &::-moz-progress-bar {
        background: $color-secondary-yellow
      }   
    }    
    
    &--low {
      &::-webkit-progress-value {
        background: $color-secondary-4;
      }
  
      &::-moz-progress-bar {
        background: $color-secondary-4;
      }   
    }     
  }

  &__value {
    color: $color-secondary-2;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    @include mobile {
      font-size: 8px;
      line-height: 12px;
    }
  }

  &__info {
    width: 100%;
    max-width: 400px;

    @include mobile {
      margin: 10px 0 0 0;
    }
  }

  &__description {
    color: $color-secondary-2;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 14px;
  }

  &__contact {
    @include mobile {
      background: $color-secondary-blue;
      position: absolute;
      top: 23px;
      right: 0;
      overflow: hidden;
      text-indent: -9999px;
      width: 36px;
      height: 36px;
      padding: 0;
      margin: 0 !important;
      border-radius: 18px 18px 18px 2px;
    }

    @include desktop-medium {
      margin: 10px 0 0;
    }    
  }

  &__button {
    top: 23px;
    right: 0;
  }
}

.tasks {
  margin: 0 0 25px;

  &__block {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 2px solid $color-secondary-border;

    @include desktop-medium {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  
    &:last-child {
      border-bottom: 2px solid $color-secondary-border;

      &:hover {
        margin: -10px -42px -10px -40px;
      }
    }

    &:hover {
      background: $color-primary-white;
      border: 2px solid $color-secondary-blue;
      border-radius: 12px;
      padding: 40px 40px 40px 38px;
      margin: -10px -42px -12px -40px;
      z-index: 2;
      -webkit-box-shadow: 0 0 50px 0 rgba(37,70,72,0.1);
      -moz-box-shadow:    0 0 50px 0 rgba(37,70,72,0.1);
      box-shadow:         0 0 50px 0 rgba(37,70,72,0.1);
    }    
  }

  &__summary {
    flex: 0 0 315px;
  }

  &__name {
    margin: 0 0 8px;

    @include mobile {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__description {
    width: 100%;
    max-width: 430px;
    font-size: 14px;
    line-height: 24px;
    padding: 0 20px;

    @include mobile {
      padding: 0;
      margin: 10px 0 0;
      font-size: 10px;
      line-height: 14px;
    }    
  }

  &__button {
    top: 23px;
    right: 0;

    @include desktop-medium {
      margin: 10px 0 0;
    }     
  }
}
