.popup.popup.popup--proposal.hide#popup-private-message
  a.popup__close(href='#', data-js-handler='popup__handler-close')
  .popup-message__header 
    .popup-message__summary
      .c-title.c-title__title4 Надіслати повідомлення
  .popup-message__main 
    .popup-message__desc Текст повідомлення
    textarea.popup-message__textarea(type='textarea', rows='7')
  .popup-message__feedback 
    a.popup-message__button.c-button.c-button--bordered.c-button--md.c-button--mobile(href='#' data-js-handler='popup__handler-close') Скасувати
    a.popup-message__button.c-button.c-button--primary.c-button--md.c-button--mobile(href='#') Надіслати
