.popup.popup.popup--info.hide#popup-register
  a.popup__close(href='#', data-js-handler='popup__handler-close')
  .popup__title Створити акаунт!
  form.popup__form(action='#') 
    .popup__account-types
      a.popup__account-type.popup__account-type--active(href='#account-type-client', data-js-handler='popup__account-type')  Замовник
      a.popup__account-type(href='#account-type-expert', data-js-handler='popup__account-type')  Експерт
    .popup__data-wrap.popup__data-wrap--current#account-type-client
      label.popup__label
        .popup__desc Електронна пошта
        input.popup__input.popup__input--text(type='email' name='client_login_name' placeholder='Client email')
      label.popup__label
        .popup__desc Пароль
        input.popup__input.popup__input--text(type='password' name='client_login_pass' placeholder='Client password')
      label.popup__label
        .popup__desc Повторіть пароль
        input.popup__input.popup__input--text(type='password ' name='confirm_client_login_pass' placeholder='Confirm client password') 
    .popup__data-wrap#account-type-expert
      label.popup__label
        .popup__desc Електронна пошта
        input.popup__input.popup__input--text(type='email' name='client_login_name' placeholder='Expert email')
      label.popup__label
        .popup__desc Пароль
        input.popup__input.popup__input--text(type='password' name='client_login_pass' placeholder='Expert password')
      label.popup__label
        .popup__desc Повторіть пароль
        input.popup__input.popup__input--text(type='password' name='confirm_expert_login_pass' placeholder='Confirm expert password')              
    input.popup__input.popup__input--submit(type='submit' value='Зареєструватись')
    .popup__unregistered 
      span Вже зареєстровані? 
      a(href="#popup-login", data-js-handler='popup__handler') Увійти
    .popup__socials 
      a.popup__social(href='#')
        img(src='assets/img/popup-google.png')
      a(href='#')
        img(src='assets/img/popup-facebook.png') 
  form.popup__form.hide(action='#')
    img.popup__img--success(src='assets/img/register-success.svg')
    div.popup__greetings Вітаємо! Ваша реєстрація пройшла успішно, приємного користування. 
    input.popup__input.popup__input--submit(type='submit' value='Увійти')