.popup.popup.popup--info.hide#popup-register
  a.popup__close(href='#', data-js-handler='popup__handler-close')
  .popup-message__header 
    .popup-message__summary
      .c-title.c-title__title4 Вибір виконавця
  .popup-message__content   
    .c-title.c-title__title5 Аудит фінансового звіту
    .popup-message__performer
      .popup-message__desc Виконавець
      a.popup-message__name(href="#") Ірина Матусевич
  .options-profile
    form.options-profile__form(action='#')
      label.options-profile__label(for='lastname') 
        .options-profile__clarification.options-profile__clarification--required Термін, днів
        input.options-profile__input#lastname(type='text' name='lastname' placeholder='Вкажіть термін')   
      label.options-profile__label(for='name') 
        .options-profile__clarification.options-profile__clarification--required Бюджет, грн
        input.options-profile__input#name(type='text' name='name' placeholder='Вкажіть бюджет')   
      label.options-profile__label(for='login') 
        .options-profile__clarification.options-profile__clarification--required Аванс, грн
        input.options-profile__input#login(type='text' name='login' placeholder='Вкажіть аванс')    
      .options-profile__textarea 
        .options-profile__clarification Коментар
        textarea(name="description" cols="30" rows="10" placeholder="Коментар")

  .popup-message__feedback 
    a.popup-message__button.c-button.c-button--bordered.c-button--md.c-button--mobile(href='#' data-js-handler='popup__handler-close') Скасувати
    a.popup-message__button.c-button.c-button--primary.c-button--md.c-button--mobile(href='#') Обрати виконавцем 