.l-left-banner {
  display: none!important;
}

.fa.filter-block__checkbox.fa-check-square-o {
  position: relative;

  &::before {
    content: ""!important;
    width: 5px;
    height: 9px;
    border: 1px solid #35343a;
    border-top: 0;
    border-left: 0;
    left: 5px;
    top: 1px;
    -webkit-transform: rotate(var(--r,20deg));
    -ms-transform: rotate(var(--r,20deg));
    transform: rotate(var(--r,45deg));
    display: block;
    position: absolute;
  }
}

.filter-block__label.checked .fa.filter-block__checkbox.fa-check-square-o {
  background: #added4;
}

.filter-block__label.active > a {
  text-decoration: underline;
  border-bottom: none;
  text-decoration-color: #added4;
  text-decoration-thickness: 2px;
}