+relatedArticles({
  title: 'Підвищуємо рівень продаж з допомогою подарочних сертифікатів', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})
+relatedArticles({
  title: 'Підвищуємо рівень продаж з допомогою подарочних сертифікатів', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})
+relatedArticles({
  title: 'Підвищуємо рівень продаж з допомогою подарочних сертифікатів', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})
+relatedArticles({
  title: 'Підвищуємо рівень продаж з допомогою подарочних сертифікатів', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})
+relatedArticles({
  title: 'Підвищуємо рівень продаж з допомогою подарочних сертифікатів', 
  date: '17.02.2021', 
  email: 'MiraHub', 
  views: '2 304'
})