include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(type='text/javascript', src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    block head

  body(class=pageClass)
    include ../includes/modules/menu
    include ../includes/modules/header
    +pageTitle(pageTitle) 
    block statusbar
    main(class= pageClass)
      .c-container
        .c-aside
          block aside
        .c-wide-content.c-wide-content--right
          block content
    include ../includes/modules/footer