include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    block head

  body(class=pageClass)
    include ../includes/modules/menu
    case witchPage
      when 'main'
        include ../includes/modules/main-page-banner
      default
        include ../includes/modules/header
        +pageTitle(pageTitle) 
    block content
    include ../includes/modules/footer