include includes/mixins/main-page-mixin

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='styles/style.css')
    title Mira.hub
  body
    include includes/main-page-banner.pug
    .main
      .miratop-features
        ul.miratop-features__container     
          +mainPageFeaturesItem({title: 'Проверенные эксперты'})                                                 
          +mainPageFeaturesItem({title: 'Простота поиска',  imgsrc: 'images/miratop-features-search.svg'})                                                 
          +mainPageFeaturesItem({title: 'Поддержка', imgsrc: './images/miratop-features-phone.svg'})                                                 
          +mainPageFeaturesItem({title: 'Прозрачность', imgsrc: './images/miratop-features-clear.svg'})                                                 
          +mainPageFeaturesItem({title:'Надёжность сделки', imgsrc: './images/miratop-features-reliability.svg'})                                                 
          +mainPageFeaturesItem({title:'Обучающие материалы', imgsrc: './images/miratop-features-learn.svg'})                                                 
      .expertise-areas
        .expertise-areas__container
          h2.expertise-areas__title Экспертиза
          ul.expertise-areas__list
            +mainPageExpertiseAreas('HR', 'Подбор персонала', 'Получение фидбека от сотрудников', '1:1 переговоры', 'Подбор персонала')
            +mainPageExpertiseAreas('Управление', 'Подбор персонала', 'Получение фидбека от сотрудников', '1:1 переговоры', 'Подбор персонала')
            +mainPageExpertiseAreas('Масштабирование', 'Подбор персонала', 'Получение фидбека от сотрудников', '1:1 переговоры', 'Подбор персонала')
            +mainPageExpertiseAreas('Финансы', 'Подбор персонала', 'Получение фидбека от сотрудников', '1:1 переговоры', 'Подбор персонала')
            +mainPageExpertiseAreas('Аудит', 'Подбор персонала', 'Получение фидбека от сотрудников', '1:1 переговоры', 'Подбор персонала')
            +mainPageExpertiseAreas('Планирование', 'Подбор персонала', 'Получение фидбека от сотрудников', '1:1 переговоры', 'Подбор персонала')
      .achievement-stats

      .work-process
      .about-us
      .recommendations
      .miratop-partners
      .workflow
    include includes/footer.pug 